


$color-theme: 				#485cc7;
$color-hover:               #3d4ea9;
$color-body:				#999999;
$color-heading:				#1b1b1b;
$color-secondary:			#00c389;
 

$baseline: 						 20px;



$line-height-base:				 1.5;
$line-height-content:			 1.8;
$font-body:						'Arimo', sans-serif;
$font-heading:					'Poppins', sans-serif;
$font-secondary:				'Merriweather', serif;
$font-thirdy:			        'Taviraj', serif;
$decoration-base:  				 none;



$font-size-base:				16px;
$font-size-h1:                 38px;
$font-size-h2:                  26px;
$font-size-h3:                  16px;
$font-size-h4:                  15px;
$font-size-h5:                  14px;
$font-size-h6:                  12px;



$background-base:				  no-repeat center center fixed;
$background-size-base:			  cover;



$awesome:					fontawesome;



$color-white:				#ffffff;
$color-dark:				#616161;
$color-black:				#000000;
$color-gray:				#fafafa; 
$color-gray2:				#f8f8f8; 
$color-gray3:				#f0f0f0; 
$color-heading2:     		#282828; 
$color-heading3:     		#3d3c3c;