<!-- CTA #4
============================================= -->
<section id="cta4" class="section cta cta-4 bg-img" style="background-image: url(assets/images/background/23.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-7">
                <div class="heading heading-1 mb-40">
                    <h2 class="editContent heading-title">WHAT ARE YOU WAITING FOR?</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
                <!-- .heading end -->
                <a href="#" class="btn btn--primary">YOUR HOUSE HERE</a>
            </div>
            <!-- .col-lg-7 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #cta4 end -->