<!-- CTA #6
============================================= -->
<section id="cta6" class="section cta cta-6 text-center-xs bg-img" style="background-image: url(assets/images/background/26.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-9">
                <h3 class="editContent">That's right! We consider the best SEO agency in all the time</h3>
            </div>
            <!-- .col-lg-9 end -->
            <div class="col-sm-12 col-md-3 col-lg-3">
                <a href="#" class="btn btn--primary btn--block">Order YOUR Services</a>
            </div>
            <!-- .col-lg-3 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #cta6 end -->