<!-- CTA #5
============================================= -->
<section id="cta5" class="section cta cta-4 cta-5 bg-img" style="background-image: url(assets/images/background/24.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-7">
                <div class="heading heading-1 mb-40">
                    <h2 class="editContent heading-title"><span class="color-theme">FREE CONSULTATION </span>FIRST
                        TIME</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and
                        highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
                <!-- .heading end -->
                <a href="#" class="btn btn--primary">MAKE AN APPOINTMENT</a>
            </div>
            <!-- .col-lg-7 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #cta5 end -->