<!-- cta #9
============================================= -->
<section id="cta9" class="section cta cta-9 text-center bg-img" style="background-image: url(assets/images/pattern/1.png);background-repeat: repeat;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                <div class="heading heading-1">
                    <p class="editContent heading-subtitle">So What’s Next?</p>
                    <h2 class="editContent heading-title">download Crown app now</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination.</p>
                </div>
                <!-- .heading end -->
                <div class="download-btns ">
                    <a href="#"><img src="assets/images/icons/google-play.png" alt="img"></a>
                    <a href="#"><img src="assets/images/icons/app-store.png" alt="img"></a>
                </div>
                <!-- .download-btns end -->
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #cta9 end -->