<!-- CTA #8
============================================= -->
<section id="cta8" class="section cta cta-8 pb-0 bg-overlay bg-overlay-dark bg-parallax bg-img" style="background-image: url(assets/images/background/25.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="heading heading-1 mb-40">
                    <h2 class="editContent heading-title">Showcase and sell your e-book</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
                <!-- .heading end -->
                <a href="#" class="btn btn--secondary">download</a>
            </div>
            <!-- .col-lg-6 end -->
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="mockup-img">
                    <img src="assets/images/mockup/book.png" alt="mockup" class="img-fluid">
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #cta8 end -->