<!-- CTA #2
============================================= -->
<section id="cta2" class="section cta cta-1 cta-2 text-center bg-overlay bg-overlay-dark bg-img" style="background-image: url(assets/images/background/21.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1 heading-center mb-40">
                    <p class="editContent heading-subtitle color-white">Build your website</p>
                    <h2 class="editContent heading-title">Start Your business</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
                <!-- .heading end -->
                <a href="#" class="btn btn--secondary">Get A Quote</a>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #cta2 end -->