<!-- CTA #7
============================================= -->
<section id="cta7" class="section cta cta-7 text-center pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1 heading-center mb-40">
                    <p class="editContent heading-subtitle">So What’s Next?</p>
                    <h2 class="editContent heading-title">Start Your business now!</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
                <!-- .heading end -->
                <a href="#" class="btn btn--primary btn--rounded">Get A Quote</a>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #cta7 end -->