<!-- CTA #1
============================================= -->
<section id="cta1" class="section cta cta-1 bg-theme text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1  mb-40">
                    <p class="editContent heading-subtitle color-white">Build your website</p>
                    <h2 class="editContent heading-title color-white">Start Your business</h2>
                    <p class="editContent heading-desc color-white">crown impresses you with fully responsiveness and
                        highly customization. We did it in combination of very clean impresses you with fully
                        responsiveness.</p>
                </div>
                <!-- .heading end -->
                <a href="#" class="btn btn--secondary">Get A Quote</a>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #cta1 end -->