<!-- Clients #6
============================================= -->
<section id="clients6" class="section clients clients-6 bg-overlay bg-overlay-dark4" style="background-image: url(assets/images/clients/bg-1.jpg);">
    <div class="container">
        <div class="row">
            <!-- Client #1 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="client">
                    <a href="#"><img src="assets/images/clients/1.png" alt="client"></a>
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Client #2 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="client">
                    <a href="#"><img src="assets/images/clients/2.png" alt="client"></a>
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Client #3 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="client">
                    <a href="#"><img src="assets/images/clients/3.png" alt="client"></a>
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Client #4 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="client">
                    <a href="#"><img src="assets/images/clients/4.png" alt="client"></a>
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Client #5 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="client">
                    <a href="#"><img src="assets/images/clients/5.png" alt="client"></a>
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Client #6 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="client">
                    <a href="#"><img src="assets/images/clients/6.png" alt="client"></a>
                </div>
            </div>
            <!-- .col-lg-2 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #clients6 end -->
