
<!-- Clients #2
============================================= -->
<section id="clients2" class="section clients clients-2 bg-gray">
    <div class="container">
        <div class="row">
            <!-- Client #1 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="client">
                    <a href="#"><img src="assets/images/clients/7.png" alt="client"></a>
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Client #2 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="client">
                    <a href="#"><img src="assets/images/clients/8.png" alt="client"> </a>
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Client #3 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="client">
                    <a href="#"><img src="assets/images/clients/9.png" alt="client"></a>
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Client #4 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="client">
                    <a href="#"><img src="assets/images/clients/10.png" alt="client"></a>
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Client #5 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="client">
                    <a href="#"><img src="assets/images/clients/11.png" alt="client"></a>
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Client #6 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="client">
                    <a href="#"><img src="assets/images/clients/12.png" alt="client"></a>
                </div>
            </div>
            <!-- .col-lg-2 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #clients2 end -->
