<!-- portfolio #1
============================================= -->
<section id="portfolio1" class="section portfolio portfolio-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-11 heading-center mb-70">
                    <p class="editContent heading-subtitle">Featured Projects</p>
                    <h2 class="editContent heading-title">our works</h2>
                    <div class="heading-divider heading-divider4 divider--center"></div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- portfolio item #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="portfolio-item">
                    <div class="portfolio-img">
                        <a href="#">
                            <img src="assets/images/portfolio/3col/1.jpg" alt="img">
                        </a>
                    </div>
                    <!-- .portfolio-img end -->
                    <div class="portfolio-content">
                        <div class="portfolio-title">
                            <h4 class="editContent"><a href="#">Modern House</a></h4>
                        </div>
                        <div class="portfolio-desc">
                            <p class="editContent">02067 Sharon, Massachusetts</p>
                        </div>
                    </div>
                    <!-- .portfolio-content end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- portfolio item #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="portfolio-item">
                    <div class="portfolio-img">
                        <a href="#">
                            <img src="assets/images/portfolio/3col/2.jpg" alt="img">
                        </a>
                    </div>
                    <!-- .portfolio-img end -->
                    <div class="portfolio-content">
                        <div class="portfolio-title">
                            <h4 class="editContent"><a href="#">Skyscrapers</a></h4>
                        </div>
                        <div class="portfolio-desc">
                            <p class="editContent">32765 Oviedo, Florida</p>
                        </div>
                    </div>
                    <!-- .portfolio-content end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- portfolio item #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="portfolio-item">
                    <div class="portfolio-img">
                        <a href="#">
                            <img src="assets/images/portfolio/3col/3.jpg" alt="img">
                        </a>
                    </div>
                    <!-- .portfolio-img end -->
                    <div class="portfolio-content">
                        <div class="portfolio-title">
                            <h4 class="editContent"><a href="#">Classic House</a></h4>
                        </div>
                        <div class="portfolio-desc">
                            <p class="editContent">53714 Madison, Wisconsin</p>
                        </div>
                    </div>
                    <!-- .portfolio-content end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #portfolio1 end -->
