<!-- blockquote-section #1
============================================= -->
<section id="blockquote-section" class="section blockquote-section blockquote-section-1  text-center bg-overlay bg-overlay-dark bg-img"
    style="background-image: url(assets/images/background/36.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <blockquote class="blockquote blockquote-1">
                    “ IN OUR WORKS, WE TAKE ATTENTION TO EVERY DETAIL TO DELIVER THE BEST SERVICE TO OUR
                    CUSTOMERS ”
                    <span class="quote-author">- Ahmed Hamdy @Crown Team</span>
                </blockquote>
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #blockquote-section #1 end -->
