<!-- Work Process #1
============================================= -->
<section id="process1" class="section process process-1 text-center">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                <div class="heading heading-18 heading-center mb-70">
                    <p class="editContent heading-subtitle">Our Services</p>
                    <h2 class="editContent heading-title">How we can Help you</h2>
                    <div class="heading-icon"></div>
                </div>
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="divider-bg"></div>
            <!-- Process #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4 process-panel process-panel-1">
                <div class="process--icon">
                    <img src="assets/images/process/1.png" alt="img">
                </div>
                <div class="process--content">
                    <h3 class="editContent">Research Project</h3>
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- Process #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4 process-panel process-panel-2">
                <div class="process--icon">
                    <img src="assets/images/process/2.png" alt="img">
                </div>
                <div class="process--content">
                    <h3 class="editContent">Find Ideas</h3>
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- Process #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4 process-panel process-panel-3">
                <div class="process--icon">
                    <img src="assets/images/process/3.png" alt="img">
                </div>
                <div class="process--content">
                    <h3 class="editContent">Reach Target</h3>
                </div>
            </div>
            <!-- .col-lg-4 end -->

        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #process1 end -->
