<!-- Pricing #9
============================================= -->
<section id="pricing9" class="section pricing pricing-3 pricing-9 bg-img" style="background-image: url(assets/images/background/39.jpg);background-repeat: repeat;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-20 heading-center mb-70">
                    <p class="editContent heading-subtitle">Featured Food</p>
                    <h2 class="editContent heading-title">Special Dishes</h2>
                    <div class="heading-icon"></div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <!-- panel #1 -->
                <div class="pricing-panel">
                    <div class="pricing-img">
                        <img src="assets/images/dishes/thumb/1.jpg" alt="thumb">
                    </div>
                    <!-- .pricing-img end -->
                    <div class="pricing-content">
                        <h4 class="pricing-heading">CRAB & CURRY SOURCES</h4>
                        <span class="price">$25</span>
                        <p class="pricing-desc">crown impresses you with fully responsiveness and highly
                            customization. We did it in combination.</p>
                    </div>
                </div>
                <!-- .panel end -->
                <!-- panel #1 -->
                <div class="pricing-panel">
                    <div class="pricing-img">
                        <img src="assets/images/dishes/thumb/2.jpg" alt="thumb">
                    </div>
                    <!-- .pricing-img end -->
                    <div class="pricing-content">
                        <h4 class="pricing-heading">IMPORTED SALMON STEAK</h4>
                        <span class="price">$25</span>
                        <p class="pricing-desc">crown impresses you with fully responsiveness and highly
                            customization. We did it in combination.</p>
                    </div>
                </div>
                <!-- .panel end -->
            </div>
            <!-- .col-lg-6 end -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <!-- panel #3 -->
                <div class="pricing-panel">
                    <div class="pricing-img">
                        <img src="assets/images/dishes/thumb/3.jpg" alt="thumb">
                    </div>
                    <!-- .pricing-img end -->
                    <div class="pricing-content">
                        <h4 class="pricing-heading">SALTED FRIED CHICKEN</h4>
                        <span class="price">$18</span>
                        <p class="pricing-desc">crown impresses you with fully responsiveness and highly
                            customization. We did it in combination.</p>
                    </div>
                </div>
                <!-- .panel end -->
                <!-- panel #4 -->
                <div class="pricing-panel">
                    <div class="pricing-img">
                        <img src="assets/images/dishes/thumb/4.jpg" alt="thumb">
                    </div>
                    <!-- .pricing-img end -->
                    <div class="pricing-content">
                        <h4 class="pricing-heading">IMPORTED SALMON STEAK</h4>
                        <span class="price">$34</span>
                        <p class="pricing-desc">crown impresses you with fully responsiveness and highly
                            customization. We did it in combination.</p>
                    </div>
                </div>
                <!-- .panel end -->
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #pricing9 end -->
