<!-- Services #5
============================================= -->
<section id="services5" class="services services-5 text-center bg-img" style="background-image: url(assets/images/background/37.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-18 heading-center mb-70">
                    <p class="editContent heading-subtitle">Our Services</p>
                    <h2 class="editContent heading-title">why choose us</h2>
                    <div class="heading-icon"></div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <div class="row">
            <!-- Service panel #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="service-panel service-panel-1">
                    <div class="service-img">
                        <img src="assets/images/services/12.png" alt="img">
                    </div>
                    <!-- .service-img end -->
                    <div class="service-content">
                        <h3 class="editContent">Local Search Strategy</h3>
                        <p class="editContent">The future is here. Experience the next generation virtual
                            reality on our latest
                            Gear VR - NOW!</p>
                    </div>
                    <!-- .service-content end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- Service panel #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="service-panel service-panel-2">
                    <div class="service-img">
                        <img src="assets/images/services/13.png" alt="img">
                    </div>
                    <!-- .service-img end -->
                    <div class="service-content">
                        <h3 class="editContent">Maps Search Optimization</h3>
                        <p class="editContent">crown impresses you with fully responsiveness and highly
                            customization. We did it in
                            combination.</p>
                    </div>
                    <!-- .service-content end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- Service panel #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="service-panel service-panel-3">
                    <div class="service-img">
                        <img src="assets/images/services/14.png" alt="img">
                    </div>
                    <!-- .service-img end -->
                    <div class="service-content">
                        <h3 class="editContent">Paid Search Advertising</h3>
                        <p class="editContent">The future is here. Experience the next generation virtual
                            reality on our latest
                            Gear VR - NOW!</p>
                    </div>
                    <!-- .service-content end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #service5 end -->
