<!-- banner #9
============================================= -->
<section id="banner9" class="section banner banner-7 banner-9 bg-gray">
    <div class="container">
        <div class="row split-section">
            <div class="col-sm-12 col-md-12 col-lg-6 split-content-warp bg-heading">
                <div class="banner-content banner-content-dark">
                    <div class="heading heading-23">
                        <p class="editContent heading-subtitle">More Information</p>
                        <h2 class="editContent heading-title">law advice</h2>
                        <div class="heading-divider heading-divider7 divider--theme"></div>
                        <p class="editContent heading-desc">When an unknown printer took a galley of type and scrambled it
                            to make a type specimen book. It has survived not only five centuries, but also the
                            leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s...</p>
                    </div>
                    <!-- .heading end -->
                    <a href="#" class="btn btn--primary">Free Consultation</a>
                </div>
                <!-- .banner-content end -->
            </div>
            <!-- .col-lg-6 end -->
            <div class="col-lg-6 offset-lg-6 split-img-warp">
                <div class="split-img banner-img bg-img" style="background-image: url(assets/images/banners/13.jpg);">
                </div>
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #banner9 end -->
