<!-- banner #6
============================================= -->
<section id="banner6" class="section banner banner-6 text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="heading heading-20 mb-30">
                    <p class="editContent heading-subtitle">The Great Story</p>
                    <h2 class="editContent heading-title">Our Culinary Journey</h2>
                    <div class="heading-icon"></div>
                    <p class="editContent heading-desc">When an unknown printer took a galley of type and scrambled it to
                        make a type specimen book. It has survived. It was popularised in the 1960s...</p>
                </div>
                <!-- .heading end -->
                <div class="signiture--img mb-30">
                    <img src="assets/images/banners/signature.png" alt="Signiture img">
                </div>
            </div>
            <!-- .col-lg-5 end -->
            <div class="col-sm-6 col-md-6 col-lg-3 offset-lg-1">
                <div class="banner-img">
                    <img src="assets/images/banners/8.jpg" alt="image">
                </div>
            </div>
            <!-- .col-lg-3 end -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="banner-img">
                    <img src="assets/images/banners/9.jpg" alt="image">
                </div>
            </div>
            <!-- .col-lg-3 end -->
        </div>
        <!-- .row end -->
        <hr>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="banner-img">
                    <img src="assets/images/banners/10.jpg" alt="image">
                </div>
            </div>
            <!-- .col-lg-3 end -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="banner-img">
                    <img src="assets/images/banners/11.jpg" alt="image">
                </div>
            </div>
            <!-- .col-lg-3 end -->
            <div class="col-sm-12 col-md-12 col-lg-5 offset-lg-1">
                <div class="heading heading-20">
                    <p class="editContent heading-subtitle">Opening Times</p>
                    <h2 class="editContent heading-title">working times</h2>
                    <div class="heading-icon"></div>
                </div>
                <!-- .heading end -->
                <ul class="working--time list-unstyled">
                    <li class="editContent">Monday – Thursday: <span>9:00 am to 10:00 pm</span></li>
                    <li class="editContent">Friday – Saturday: <span>9:00 am to Midnight</span></li>
                    <li class="editContent">Sunday: <span>11:00 am-10:00 pm</span></li>
                </ul>
                <!-- .working-time end -->
                <a href="#" class="btn btn--primary">book a table</a>
            </div>
            <!-- .col-lg-5 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #banner6 end -->

