<!-- Timeline#2
============================================= -->
<section id="timeline2" class="section timeline timeline-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1 heading-center mb-70">
                    <p class="editContent heading-subtitle color-theme">The Schedule</p>
                    <h2 class="editContent heading-title">be close with us</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
                <div class="timeline-content">
                    <div class="row row-interval">
                        <div class="col-md-6">
                            <div class="timeline-panel timeline-panel-left">
                                <div class="event">Welcome & Keynote</div>
                                <div class="date">09:00 AM</div>
                                <div class="event--speaker">by Mark Smith</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="timeline-panel timeline-panel-right">
                                <p class="event--desc">crown impresses you with fully responsiveness and highly
                                    customization. We did it in combination.</p>
                            </div>
                        </div>
                    </div>
                    <!-- .row end -->
                    <div class="row row-interval">
                        <div class="col-md-6">
                            <div class="timeline-panel timeline-panel-left">
                                <p class="event--desc">crown impresses you with fully responsiveness and highly
                                    customization. We did it in combination.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="timeline-panel timeline-panel-right">
                                <div class="event">Digital Art & Illustration</div>
                                <div class="date">10:00 AM</div>
                                <div class="event--speaker">by Vera Duncan</div>
                            </div>
                        </div>
                    </div>
                    <!-- .row end -->
                    <div class="row row-interval">
                        <div class="col-md-6">
                            <div class="timeline-panel timeline-panel-left">
                                <div class="event">Seo & Search Engines</div>
                                <div class="date">11:00 AM</div>
                                <div class="event--speaker">by Bryce Vaughn</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="timeline-panel timeline-panel-right">
                                <p class="event--desc">crown impresses you with fully responsiveness and highly
                                    customization. We did it in combination.</p>
                            </div>
                        </div>
                    </div>
                    <!-- .row end -->
                    <div class="row row-interval">
                        <div class="col-md-6">
                            <div class="timeline-panel timeline-panel-left">
                                <p class="event--desc">crown is simply dummy text of the printing and
                                    typesetting industry has been since the 1500s</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="timeline-panel timeline-panel-right">
                                <div class="event">Marketing Principals</div>
                                <div class="date">12:00 PM</div>
                                <div class="event--speaker">by Cooper Moore</div>
                            </div>
                        </div>
                    </div>
                    <!-- .row end -->
                    <div class="row row-interval">
                        <div class="col-md-6">
                            <div class="timeline-panel timeline-panel-left">
                                <div class="event">Web Design Tips</div>
                                <div class="date">01:00 PM</div>
                                <div class="event--speaker">by Camila Hintz</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="timeline-panel timeline-panel-right">
                                <p class="event--desc">crown is simply dummy text of the printing and
                                    typesetting industry has been since the 1500s</p>
                            </div>
                        </div>
                    </div>
                    <!-- .row end -->
                    <div class="row row-interval">
                        <div class="col-md-6">
                            <div class="timeline-panel timeline-panel-left">
                                <p class="event--desc">crown is simply dummy text of the printing and
                                    typesetting industry has been since the 1500s</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="timeline-panel timeline-panel-right">
                                <div class="event">Google Analytics</div>
                                <div class="date">02:00 PM</div>
                                <div class="event--speaker">by Josh Ryan</div>
                            </div>
                        </div>
                    </div>
                    <!-- .row end -->
                </div>
                <!-- .timeline-content end -->
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <a href="#" class="btn btn--secondary">Download Schedule</a>
            </div>
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #timeline2 end -->
