<!-- Services #3
============================================= -->
<section id="services3" class="section services services-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-14 heading-center mb-70">
                    <div class="heading-icon">
                        <i class="crown-nonprofit-4"></i>
                    </div>
                    <h2 class="editContent heading-title">donating sectors</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <div class="row">
            <!-- Service panel #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="service-panel">
                    <a href="#">
                        <div class="service-img">
                            <img src="assets/images/services/6.jpg" alt="img">
                        </div>
                        <!-- .service-img end -->
                        <div class="service-hover">
                            <div class="service-hover-content">
                                <h3 class="editContent">Homeless People</h3>
                            </div>
                        </div>
                        <!-- .service-hover end -->
                    </a>
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- Service panel #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="service-panel">
                    <a href="#">
                        <div class="service-img">
                            <img src="assets/images/services/7.jpg" alt="img">
                        </div>
                        <!-- .service-img end -->
                        <div class="service-hover">
                            <div class="service-hover-content">
                                <h3 class="editContent">Eating Food</h3>
                            </div>
                        </div>
                        <!-- .service-hover end -->
                    </a>
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- Service panel #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="service-panel">
                    <a href="#">
                        <div class="service-img">
                            <img src="assets/images/services/8.jpg" alt="img">
                        </div>
                        <!-- .service-img end -->
                        <div class="service-hover">
                            <div class="service-hover-content">
                                <h3 class="editContent">Drinking Water</h3>
                            </div>
                        </div>
                        <!-- .service-hover end -->
                    </a>
                </div>
            </div>
            <!-- .col-lg-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #service3 end -->
