<!-- banner #4
============================================= -->
<section id="banner4" class="section banner banner-1 banner-4 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-16 heading-center mb-80">
                    <p class="editContent heading-subtitle">Grap your Trip</p>
                    <h2 class="editContent heading-title">Check hot Deals</h2>
                    <div class="heading-divider heading-divider5 divider--center"></div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="banner-img">
                    <img src="assets/images/banners/6.jpg" alt="banner" class="img-fluid">
                </div>
            </div>
            <!-- .col-lg-6 end -->
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 offset-lg-1">
                <div class="heading heading-1">
                    <p class="editContent heading-subtitle">Starting from $499</p>
                    <h2 class="editContent heading-title">5 Days Trip to New York</h2>
                    <p class="editContent heading-desc">When an unknown printer took a galley of type and
                        scrambled it to
                        make a type specimen book. It has survived not only five centuries, but also the leap
                        into electronic typesetting, remaining essentially unchanged. It was popularised in the
                        1960s...</p>
                    <a href="#" class="btn btn--primary">Make a Reservation</a>
                </div>
                <!-- .heading  end -->
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
        <hr>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="banner-img">
                    <img src="assets/images/banners/7.jpg" alt="banner" class="img-fluid">
                </div>
            </div>
            <!-- .col-lg-6 end -->
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 offset-lg-1">
                <div class="heading heading-1">
                    <p class="editContent heading-subtitle">Starting from $600</p>
                    <h2 class="editContent heading-title">7 Days Trip to New York</h2>
                    <p class="editContent heading-desc">When an unknown printer took a galley of type and
                        scrambled it to
                        make a type specimen book. It has survived not only five centuries, but also the leap
                        into electronic typesetting, remaining essentially unchanged. It was popularised in the
                        1960s...</p>
                    <a href="#" class="btn btn--primary">Make a Reservation</a>
                </div>
                <!-- .heading  end -->
            </div>
            <!-- .col-lg-5 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #banner4 end -->
