<!-- Contact #2
============================================= -->
<section id="contact2" class="section contact contact-2 bg-overlay bg-overlay-dark2 bg-img" style="background-image: url(assets/images/background/3.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="heading heading-1">
                    <p class="editContent heading-subtitle">Fitness Classes</p>
                    <h2 class="editContent heading-title">book NOW & <span class="color-secondary">GET 35%
                            DISCOUNT</span></h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and
                        highly
                        customization. We did it in combination of very clean impresses you with fully
                        responsiveness.</p>
                </div>
                <ul class="features-list list-unstyled">
                    <li class="editContent">Weight Training Sets</li>
                    <li class="editContent">Fitness Trainer’s Assistance</li>
                    <li class="editContent">Yoga & Pilates</li>
                    <li class="editContent">Body Building</li>
                </ul>
            </div>
            <!-- .col-lg-6 end -->
            <div class="col-sm-12 col-md-12 col-lg-5 offset-lg-1">
                <div class="form-wrap">
                    <div class="form-title">
                        <h4 class="editContent">request a Quote</h4>
                    </div>
                    <form method="post" action="assets/php/contact.php" class="contactForm mb-0">
                        <div id="result" class="contact-result"></div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name"
                                required>
                        </div>
                        <!-- .form-group end -->
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email Address"
                                required>
                        </div>
                        <!-- .form-group end -->
                        <div class="form-group">
                            <div class="select-form">
                                <i <i class="crownicon fa fa-angle-down"></i>
                                <select name="class" id="class" class="form-control">
                                    <option value="0">Your Class</option>
                                    <option value="1">Fitness Classes</option>
                                    <option value="2">Boxing Classes</option>
                                    <option value="3">Karate Classes</option>
                                </select>
                            </div>
                        </div>
                        <!-- .form-group end -->
                        <div class="form-group mb-0">
                            <input type="submit" value="Be a member now" name="submit" class="btn btn--secondary btn--block">
                        </div>
                        <!-- .form-group end -->
                    </form>
                </div>
            </div>
            <!-- .col-lg-5 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #contact2 end -->
