<!-- propirties #1
============================================= -->
<section id="propirties1" class="section propirties propirties-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-6 heading-center mb-70">
                    <h2 class="editContent heading-title">Our Featured Units</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and
                        highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- proprty-item #1 -->
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="property-item">
                    <div class="property--img">
                        <a href="#">
                            <img src="assets/images/propirties/grid/1.jpg" alt="property">
                        </a>
                        <span class="label">Sale</span>
                    </div>
                    <!-- .proprty-img end -->
                    <div class="property--info">
                        <a href="#">
                            <h4 class="editContent">Dorecust:<span class="price">$12.400</span></h4>
                        </a>
                        <p class="editContent">64012 Loch Lloyd, Missouri</p>
                    </div>
                    <!-- .proprty-info end -->
                    <div class="property--details">
                        <ul class="list-unstyled">
                            <li class="editContent">Floors:<span class="num">3</span></li>
                            <li class="editContent">Bathrooms:<span class="num">2</span></li>
                            <li class="editContent">Rooms:<span class="num">5</span></li>
                            <li class="editContent">Area:<span class="num">250m</span></li>
                        </ul>
                    </div>
                    <!-- .proprty-info end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- proprty-item #2 -->
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="property-item">
                    <div class="property--img">
                        <a href="#">
                            <img src="assets/images/propirties/grid/2.jpg" alt="property">
                        </a>
                        <span class="label blue">Rent</span>
                    </div>
                    <!-- .proprty-img end -->
                    <div class="property--info">
                        <a href="#">
                            <h4 class="editContent">Porto place:<span class="price">$14.300</span></h4>
                        </a>
                        <p class="editContent">40102 Elk River, Minnesota</p>
                    </div>
                    <!-- .proprty-info end -->
                    <div class="property--details">
                        <ul class="list-unstyled">
                            <li class="editContent">Floors:<span class="num">2</span></li>
                            <li class="editContent">Bathrooms:<span class="num">3</span></li>
                            <li class="editContent">Rooms:<span class="num">6</span></li>
                            <li class="editContent">Area:<span class="num">350m</span></li>
                        </ul>
                    </div>
                    <!-- .proprty-info end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- proprty-item #3 -->
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="property-item">
                    <div class="property--img">
                        <a href="#">
                            <img src="assets/images/propirties/grid/3.jpg" alt="property">
                        </a>
                        <span class="label green">Featured</span>
                    </div>
                    <!-- .proprty-img end -->
                    <div class="property--info">
                        <a href="#">
                            <h4 class="editContent">Arbisoft:<span class="price">$15.900</span></h4>
                        </a>
                        <p class="editContent">75069 McKinney, Texas</p>
                    </div>
                    <!-- .proprty-info end -->
                    <div class="property--details">
                        <ul class="list-unstyled">
                            <li class="editContent">Floors:<span class="num">3</span></li>
                            <li class="editContent">Bathrooms:<span class="num">2</span></li>
                            <li class="editContent">Rooms:<span class="num">5</span></li>
                            <li class="editContent">Area:<span class="num">200m</span></li>
                        </ul>
                    </div>
                    <!-- .proprty-info end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #propirties1 end -->
