<!-- Services #2
============================================= -->
<section id="services2" class="section services services-2 text-center bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-11 heading-center mb-80">
                    <p class="editContent heading-subtitle">Our Services</p>
                    <h2 class="editContent heading-title">What we offer</h2>
                    <div class="heading-divider heading-divider4 divider--center"></div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- Service panel #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="service-panel">
                    <div class="service-img">
                        <img src="assets/images/services/3.jpg" alt="img">
                    </div>
                    <!-- .service-img end -->
                    <div class="service-content">
                        <h3 class="editContent">Electrical</h3>
                        <p class="editContent">crown is simply dummy text of the printing and typesetting
                            industry has been since
                            the 1500s</p>
                    </div>
                    <!-- .service-content end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- Service panel #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="service-panel">
                    <div class="service-img">
                        <img src="assets/images/services/4.jpg" alt="img">
                    </div>
                    <!-- .service-img end -->
                    <div class="service-content">
                        <h3 class="editContent">Tiling & Painting</h3>
                        <p class="editContent">crown is simply dummy text of the printing and typesetting
                            industry has been since
                            the 1500s</p>
                    </div>
                    <!-- .service-content end -->
                </div>
            </div>
            <!-- .col-lg-6 end -->
            <!-- Service panel #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="service-panel">
                    <div class="service-img">
                        <img src="assets/images/services/5.jpg" alt="img">
                    </div>
                    <!-- .service-img end -->
                    <div class="service-content">
                        <h3 class="editContent">Architecture</h3>
                        <p class="editContent">crown is simply dummy text of the printing and typesetting
                            industry has been since
                            the 1500s</p>
                    </div>
                    <!-- .service-content end -->
                </div>
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #service2 end -->
