<!-- devices #1
=========================================== -->
<section id="devices1" class="section devices bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="heading heading-24">
                    <p class="editContent heading-subtitle color-secondary">Our Feature Product</p>
                    <h2 class="editContent heading-title">4K Resolution Gear VR</h2>
                    <p class="editContent heading-desc">The future is here. Experience the next generation virtual reality
                        on our latest Gear VR - NOW!</p>
                    <div class="heading-divider heading-divider8"></div>
                </div>
                <!-- .heading end -->
                <div class="device-card">
                    <div class="device-info">
                        <span class="title">Rate:</span>
                        <div class="rating">
                            <i <i class="crownicon fa fa-star"></i>
                            <i <i class="crownicon fa fa-star"></i>
                            <i <i class="crownicon fa fa-star"></i>
                            <i <i class="crownicon fa fa-star"></i>
                            <i <i class="crownicon fa fa-star"></i>
                        </div>
                    </div>
                    <!-- .device-meta-item end -->
                    <div class="device-info">
                        <span class="title">Price:</span>
                        <div class="price">$ 250</div>
                    </div>
                    <!-- .device-meta-item end -->
                    <div class="device-info">
                        <span class="title">Share:</span>
                        <div class="social-icons">
                            <a href="#"><i <i class="crownicon fa fa-facebook"></i></a>
                            <a href="#"><i <i class="crownicon fa fa-twitter"></i></a>
                            <a href="#"><i <i class="crownicon fa fa-google-plus"></i></a>
                        </div>
                    </div>
                    <!-- .device-meta-item end -->
                    <a href="#" class="btn btn--secondary mb-30">Order Now</a>
                </div>
                <!-- .device-meta end -->
            </div>
            <!-- .col-lg-6 end -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="device--img">
                    <img src="assets/images/devices/2.png" alt="device" class="img-fluid">
                </div>
            </div>
            <!-- .col-lg-6 end -->

        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #devices end -->
