<!-- banner #1
============================================= -->
<section id="banner1" class="section banner banner-1">
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-5">
            <div class="heading heading-1">
                <p class="editContent heading-subtitle color-theme">awesome tools</p>
                <h2 class="editContent heading-title">GET A BETTER RESULTS</h2>
                <p class="editContent heading-desc">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s...</p>
            </div>
            <!-- .heading  end -->
        </div>
        <!-- .col-lg-5 end -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 offset-lg-1">
            <div class="banner-img text-right">
                <img src="assets/images/banners/1.png" alt="banner" class="img-fluid">
            </div>
        </div>
        <!-- .col-lg-6 end -->
    </div>
    <!-- .row end -->
    <hr>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="banner-img">
                <img src="assets/images/banners/2.png" alt="banner" class="img-fluid">
            </div>
        </div>
        <!-- .col-lg-6 end -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 offset-lg-1">
            <div class="heading heading-1">
                <p class="editContent heading-subtitle color-theme">Great Template</p>
                <h2 class="editContent heading-title">Powerful & simple</h2>
                <p class="editContent heading-desc">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s...</p>
            </div>
            <!-- .heading  end -->
        </div>
        <!-- .col-lg-5 end -->
    </div>
    <!-- .row end -->
</div>
<!-- .container end -->
</section>
<!-- #banner1 end -->
