<!-- courses #1
============================================= -->
<section id="courses1" class="section courses courses-1 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-13 heading-center mb-70">
                    <p class="editContent heading-subtitle">Unlimited Courses</p>
                    <h2 class="editContent heading-title">choose your course</h2>
                    <div class="heading-icon mb-0"></div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- course panel #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="course-panel">
                    <div class="course--img">
                        <img src="assets/images/courses/1.jpg" alt="img">
                        <span class="course--price">$180</span>
                    </div>
                    <!-- .course-img end -->
                    <div class="course--content">
                        <h3 class="editContent">Financial Accounting</h3>
                        <p class="editContent">The future is here. Experience the next generation virtual
                            reality on our latest
                            Gear VR - NOW! with highly customization.</p>
                        <a href="#" class="btn btn--secondary">Apply now</a>
                    </div>
                    <!-- .course-content end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- course panel #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="course-panel">
                    <div class="course--img">
                        <img src="assets/images/courses/2.jpg" alt="img">
                        <span class="course--price">Free</span>
                    </div>
                    <!-- .course-img end -->
                    <div class="course--content">
                        <h3 class="editContent">Programming Techniques</h3>
                        <p class="editContent">crown impresses you with fully responsiveness and highly
                            customization. We did it in
                            combination of very clean and responsiveness.</p>
                        <a href="#" class="btn btn--secondary">Apply now</a>
                    </div>
                    <!-- .course-content end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- course panel #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="course-panel">
                    <div class="course--img">
                        <img src="assets/images/courses/3.jpg" alt="img">
                        <span class="course--price">$120</span>
                    </div>
                    <!-- .course-img end -->
                    <div class="course--content">
                        <h3 class="editContent">Graphics Designer</h3>
                        <p class="editContent">The future is here. Experience the next generation virtual
                            reality on our latest
                            Gear VR - NOW! with highly customization.</p>
                        <a href="#" class="btn btn--secondary">Apply now</a>
                    </div>
                    <!-- .course-content end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #courses1 end -->
