<!-- portfolio #2
============================================= -->
<section id="portfolio2" class="section portfolio portfolio-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1 heading-center mb-80">
                    <p class="editContent heading-subtitle color-theme">our works</p>
                    <h2 class="editContent heading-title">Great projects</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean and responsiveness.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- portfolio item #1 -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="portfolio-item">
                    <div class="portfolio-img">
                        <a href="#">
                            <img src="assets/images/portfolio/2col/1.jpg" alt="img">
                        </a>
                    </div>
                    <!-- .portfolio-img end -->
                    <div class="portfolio-content">
                        <div class="portfolio-title">
                            <h4 class="editContent"><a href="#">T-Shirt Mockup</a></h4>
                        </div>
                        <div class="portfolio-desc">
                            <p class="editContent">The future is here. Experience the next generation virtual reality on our latest
                                Gear VR - NOW! with highly customization.</p>
                        </div>
                    </div>
                    <!-- .portfolio-content end -->
                </div>
            </div>
            <!-- .col-lg-6 end -->
            <!-- portfolio item #2 -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="portfolio-item">
                    <div class="portfolio-img">
                        <a href="#">
                            <img src="assets/images/portfolio/2col/2.jpg" alt="img">
                        </a>
                    </div>
                    <!-- .portfolio-img end -->
                    <div class="portfolio-content">
                        <div class="portfolio-title">
                            <h4 class="editContent"><a href="#">Coffee Cup Mockup</a></h4>
                        </div>
                        <div class="portfolio-desc">
                            <p class="editContent">crown impresses you with fully responsiveness and high quality. We did it in
                                combination of very clean.</p>
                        </div>
                    </div>
                    <!-- .portfolio-content end -->
                </div>
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #portfolio2 end -->
