<!-- Services #4
============================================= -->
<section id="services4" class="section services services-4 text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-14 heading-center mb-70">
                    <div class="heading-icon">
                        <i class="crown-nonprofit-4"></i>
                    </div>
                    <h2 class="editContent heading-title">Donate Causes</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and
                        highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <div class="row">
            <!-- Service panel #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="service-panel">
                    <div class="service-img">
                        <img src="assets/images/services/9.jpg" alt="img">
                    </div>
                    <!-- .service-img end -->
                    <div class="service-content">
                        <h3 class="editContent">Rebuild Road in Singapore</h3>
                        <p class="editContent">Raised: <span>$3,090</span> / Goal: <span>$500</span></p>
                        <a href="#" class="btn btn--primary">donate now</a>
                    </div>
                    <!-- .service-content end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- Service panel #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="service-panel">
                    <div class="service-img">
                        <img src="assets/images/services/10.jpg" alt="img">
                    </div>
                    <!-- .service-img end -->
                    <div class="service-content">
                        <h3 class="editContent">Rebuild Kenyan Village</h3>
                        <p class="editContent">Raised: <span>$1,510</span> / Goal: <span>$500</span></p>
                        <a href="#" class="btn btn--primary">donate now</a>
                    </div>
                    <!-- .service-content end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- Service panel #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="service-panel">
                    <div class="service-img">
                        <img src="assets/images/services/11.jpg" alt="img">
                    </div>
                    <!-- .service-img end -->
                    <div class="service-content">
                        <h3 class="editContent">Send Aniita to College</h3>
                        <p class="editContent">Raised: <span>$965</span> / Goal: <span>$1000</span></p>
                        <a href="#" class="btn btn--primary">donate now</a>
                    </div>
                    <!-- .service-content end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #service4 end -->
