<!-- Contact #4
============================================= -->
<section id="contact4" class="section contact contact-2 contact-4 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="heading heading-12">
                    <h2 class="editContent heading-title">FREE <span class="color-theme">CONSULTATION</span></h2>
                    <div class="heading-icon">
                        <i class="crown-icon iconMoon-heart-beat"></i>
                    </div>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and
                        highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
                <!-- .heading end -->
                <ul class="features-list list-unstyled">
                    <li class="editContent">Doctors and Medical Staff</li>
                    <li class="editContent">Patient and Visitor Guide</li>
                    <li class="editContent">Patient Online Services</li>
                    <li class="editContent">Patient Care and Health</li>
                    <li class="editContent">Review your Case Documents</li>
                    <li class="editContent">Best Case Strategy</li>
                </ul>
            </div>
            <!-- .col-lg-5 end -->
            <div class="col-sm-12 col-md-12 col-lg-5 offset-lg-2">
                <div class="form-wrap">
                    <div class="form-title">
                        <h4 class="editContent">MAKE AN <span class="color-theme">APPOINTMENT</span></h4>
                    </div>
                    <form method="post" action="assets/php/contact.php" class="contactForm mb-0">
                        <div id="result" class="contact-result"></div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name"
                                required>
                        </div>
                        <!-- .form-group end -->
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email Address"
                                required>
                        </div>
                        <!-- .form-group end -->
                        <div class="form-group">
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone"
                                required>
                        </div>
                        <!-- .form-group end -->
                        <div class="form-group">
                            <input type="submit" value="MAKE AN APPOINTMENT" name="submit" class="btn btn--primary btn--block">
                        </div>
                        <!-- .form-group end -->
                        <div class="text--note">* Hurry up, we have only limited slots <br>Call Us Now: <span>+201093515252</span></div>
                    </form>
                </div>
            </div>
            <!-- .col-lg-5 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #contact4 end -->
