<!-- countdown #2
============================================= -->
<section id="countdown2" class="section count-down count-down-2 bg-overlay bg-overlay-dark bg-img" style="background-image: url(assets/images/background/31.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1 heading-center">
                    <h2 class="editContent heading-title">the best Event <br> speakers in one place</h2>
                    <p class="editContent heading-desc">crown is simply dummy text of the printing and typesetting
                        industry. crown has been the industry's since the 1500s</p>
                </div>
                <!-- .heading end -->
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                <div class="countdown-panel">
                    <div class="countdown-heading">
                        <p class="editContent">October 2nd at 08:00 AM</p>
                        <h3 class="editContent">save your spot</h3>
                        <div class="countdown countdown-white" data-count-date="2019, 4, 26"></div>
                        <button type="submit" class="btn btn--secondary btn--block">Get A ticket</button>
                    </div>
                </div>
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #countdown2 end -->