<!-- countdown #1
============================================= -->
<section id="countdown1" class="section count-down count-down-1">
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-5">
            <div class="heading heading-1">
                <p class="editContent heading-subtitle">Event Informations</p>
                <h2 class="editContent heading-title">Crown Event Soon</h2>
                <p class="editContent heading-desc">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s..</p>
            </div>
            <!-- .heading end -->
            <div class="info--panel">
                <h4 class="editContent">Date:</h4>
                <p class="editContent">October 2nd at 08:00 AM</p>
            </div>
            <!-- .info-panel end -->
            <div class="info--panel">
                <h4 class="editContent">Location:</h4>
                <p class="editContent">Las Vegas, Level 1, Caesars Palace</p>
            </div>
            <!-- .info-panel end -->
            <div class="info--panel">
                <h4 class="editContent">Contact:</h4>
                <p class="editContent">Phone: +201093515252</p>
                <p class="editContent">Email: CrownEvent@unbounce.com</p>
            </div>
            <!-- .info-panel end -->
        </div>
        <!-- .col-md-5 end -->
        <div class="col-sm-12 col-md-6 col-lg-6 offset-lg-1">
            <div class="countdown-panel">
                <div class="countdown-heading">
                    <p class="editContent">October 2nd at 08:00 AM</p>
                    <h3 class="editContent">save your spot</h3>
                    <div class="countdown countdown-white" data-count-date="2019, 4, 26"></div>
                </div>
                <!-- .countdown-heading end -->
                <div class="countdown-form">
                    <form class="mailchimp">
                        <input type="text" class="form-control" id="countdownName1" name="countdownName1" placeholder="Your Name" required/>
                        <input type="email" class="form-control" id="countdownEmail1" name="countdownEmail1" placeholder="Email Address" required/>
                        <input type="text" class="form-control" id="countdownPhone1" name="countdownPhone1" placeholder="Phone Number" />
                        <button type="submit" class="btn btn--secondary btn--block">Get A ticket</button>
                    </form>
                    <div class="countdown-alert"></div>
                </div>
                <!-- .countdown-form end -->
            </div>
        </div>
        <!-- .col-md-6 end -->
    </div>
    <!-- .row end -->
</div>
<!-- .container end -->
</section>
<!-- #countdown1 end -->
