<!-- Counter #3
============================================= -->
<section id="counter3" class="section counter counter-3 text-center">
<div class="container">
    <div class="row">
        <!-- count #1 -->
        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <div class="count-box">
                <div class="counting">80</div>
                <div class="count--title">Hours</div>
            </div>
        </div>
        <!-- .col-lg-3 end -->
        <!-- count #2 -->
        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <div class="count-box">
                <div class="counting">6</div>
                <div class="count--title">Speakers</div>
            </div>
        </div>
        <!-- .col-lg-3 end -->
        <!-- count #3 -->
        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <div class="count-box">
                <div class="counting">125</div>
                <div class="count--title">seats</div>
            </div>
        </div>
        <!-- .col-lg-3 end -->
        <!-- count #4 -->
        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <div class="count-box">
                <div class="counting">4</div>
                <div class="count--title">Halls</div>
            </div>
        </div>
        <!-- .col-lg-3 end -->
    </div>
    <!-- .row end -->
</div>
<!-- .container end -->
</section>
<!-- #counter3 end -->