<!-- countdown #7
============================================= -->
<section id="countdown7" class="section count-down count-down-7 text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1 heading-center mb-70">
                    <h2 class="editContent heading-title">August 6th 2018, masoura, Egypt</h2>
                    <p class="editContent heading-desc">crown is simply dummy text of the printing and typesetting
                        industry. crown has been the industry's since the 1500s</p>
                </div>
                <!-- .heading end -->
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                <div class="countdown countdown-white" data-count-date="2019, 4, 26"></div>
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #countdown7 end -->