<!-- countdown #8
============================================= -->
<section id="countdown8" class="section count-down count-down-8 text-center bg-overlay bg-overlay-dark2 bg-img"
    style="background-image: url(assets/images/background/35.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1">
                    <h2 class="editContent heading-title">Next Show</h2>
                    <p class="editContent heading-desc">August 6th 2018, Mansoura, Egypt</p>
                </div>
                <!-- .heading end -->
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                <div class="countdown countdown-white" data-count-date="2019, 4, 26"></div>
                <a href="#" class="btn btn--secondary btn--inverse">Grab your ticket</a>
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #countdown8 end -->
