<!-- Feature #21
============================================= -->
<section id="feature21" class="section feature feature-left feature-21 pb-50 bg-overlay bg-overlay-dark4 bg-img"
    style="background-image: url(assets/images/background/2.jpg);">
    <div class="container">
        <div class="row">
            <!-- feature panel #1 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/29.png" alt="icon">
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Criminal Law</h3>
                        <p class="editContent">crown impresses you with fully responsiveness and highly
                            customization.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #2 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/30.png" alt="icon">
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Creative Design</h3>
                        <p class="editContent">crown impresses you with fully responsiveness and highly
                            customization.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #3 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/31.png" alt="icon">
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Ultra Responsive</h3>
                        <p class="editContent">crown impresses you with fully responsiveness and highly
                            customization.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #4 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/32.png" alt="icon">
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Discuss Idea</h3>
                        <p class="editContent">crown impresses you with fully responsiveness and highly
                            customization.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #5 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/33.png" alt="icon">
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Easy Customization</h3>
                        <p class="editContent">crown impresses you with fully responsiveness and highly
                            customization.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #6 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/34.png" alt="icon">
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Supper Support</h3>
                        <p class="editContent">crown impresses you with fully responsiveness and highly
                            customization.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature21 end -->