<!-- Feature #22
============================================= -->
<section id="feature22" class="section feature feature-5 feature-22 pt-80 pb-80 bg-gray">
    <div class="container">
        <div class="row">
            <!-- feature panel #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-content">
                        <h3 class="editContent">Explore New Areas</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting
                            industry since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-content">
                        <h3 class="editContent">Get A Fresh Perspective</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting
                            industry since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-content">
                        <h3 class="editContent">Best Investment</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting
                            industry since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature22 end -->