<!-- Feature #16
=========================================== -->
<section id="feature16" class="section feature feature-16 text-center bg-heading">
    <div class="container">
        <div class="row">
            <!-- feature panel #1 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-barber-1"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Shaving</h3>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-3 end -->

            <!-- feature panel #2 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-barber-2"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Haircutting</h3>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-3 end -->

            <!-- feature panel #3 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-barber-3"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Styling</h3>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-3 end -->

            <!-- feature panel #4 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-barber-4"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Trimming</h3>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-3 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature16 end -->