<!-- Feature #10
=========================================== -->
<section id="feature10" class="section feature feature-10 feature-left pb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-5 order-2 order-md-1">
                <div class="feature-img">
                    <img src="assets/images/features/2.jpg" alt="img">
                </div>
            </div>
            <!-- .col-lg-5 end -->
            <div class="col-sm-12 col-md-6 col-lg-6 offset-lg-1 order-1 order-md-2">
                <div class="heading heading-24 mb-50">
                    <p class="editContent heading-subtitle color-secondary">About the features</p>
                    <h2 class="editContent heading-title">Look to the future</h2>
                    <p class="editContent heading-desc">The future is here. Experience the next generation virtual reality
                        on our latest Gear VR - NOW!</p>
                    <div class="heading-divider heading-divider8"></div>
                </div>
                <!-- .heading end -->
                <!-- feature Panel #1 -->
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-product-5"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Facade Renovation</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry
                            has been since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
                <!-- feature Panel #2 -->
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-product-6"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Concrete Transport</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry
                            has been since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
                <!-- feature Panel #3 -->
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-product-7"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Design & Build</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry
                            has been since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature10 end -->