<!-- Feature #3
============================================= -->
<section id="feature3" class="section feature feature-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8  offset-md-2">
                <div class="heading heading-3 heading-center mb-70">
                    <h2 class="editContent heading-title">Application Features</h2>
                    <div class="heading-divider heading-divider2  divider--center"></div>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-md-6 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel-left">
                    <!-- feature panel #1 -->
                    <div class="feature-panel">
                        <div class="feature-content">
                            <h3 class="editContent">Unlimited Features</h3>
                            <p class="editContent">crown impresses you with fully responsiveness and highly customization.</p>
                        </div>
                    </div>
                    <!-- .feature-panel end -->

                    <!-- feature panel #2 -->
                    <div class="feature-panel">
                        <div class="feature-content">
                            <h3 class="editContent">Secure Data</h3>
                            <p class="editContent">crown impresses you with fully responsiveness and highly flexible.</p>
                        </div>
                    </div>
                    <!-- .feature-panel end -->

                    <!-- feature panel #3 -->
                    <div class="feature-panel">
                        <div class="feature-content">
                            <h3 class="editContent">Ultra Responsive</h3>
                            <p class="editContent">crown impresses you with fully responsiveness and highly customization.</p>
                        </div>
                    </div>
                    <!-- .feature-panel end -->
                </div>
            </div>
            <!-- .col-md-4 end -->

            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="mockup-img">
                    <img src="assets/images/mockup/iphone.png" alt="iphone" class="img-fluid">
                </div>
            </div>
            <!-- .col-md-4 end -->

            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel-right">
                    <!-- feature panel #4 -->
                    <div class="feature-panel">
                        <div class="feature-content">
                            <h3 class="editContent">Discuss Idea</h3>
                            <p class="editContent">crown impresses you with fully responsiveness and highly customization.</p>
                        </div>
                    </div>
                    <!-- .feature-panel end -->

                    <!-- feature panel #5 -->
                    <div class="feature-panel">
                        <div class="feature-content">
                            <h3 class="editContent">Easy Customization</h3>
                            <p class="editContent">crown impresses you with fully responsiveness and highly flexible.</p>
                        </div>
                    </div>
                    <!-- .feature-panel end -->

                    <!-- feature panel #6 -->
                    <div class="feature-panel">
                        <div class="feature-content">
                            <h3 class="editContent">Supper Support</h3>
                            <p class="editContent">crown impresses you with fully responsiveness and highly customization.</p>
                        </div>
                    </div>
                    <!-- .feature-panel end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature3  end -->