<!-- Feature #13
=========================================== -->
<section id="feature13" class="section feature feature-13 text-center">
    <div class="container">
        <div class="row">
            <!-- feature panel #1 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/25.png" alt="feature">
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent"> Data Analysis</h3>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-3 end -->

            <!-- feature panel #2 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/26.png" alt="feature">
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Photograpghy</h3>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-3 end -->

            <!-- feature panel #3 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/27.png" alt="feature">
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Software</h3>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-3 end -->

            <!-- feature panel #4 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/28.png" alt="feature">
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Mobile App</h3>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-3 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature13 end -->