<!-- Feature #17
=========================================== -->
<section id="feature17" class="section feature feature-17 text-center bg-heading pb-30">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-17 heading-center mb-70">
                    <h2 class="editContent heading-title color-white">What We Do</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                    <div class="heading-icon">

                    </div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- feature panel #1 -->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="feature-panel">
                    <div class="feature-content">
                        <h3 class="editContent">Shaving</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry
                            since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-6 end -->

            <!-- feature panel #2 -->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="feature-panel">
                    <div class="feature-content">
                        <h3 class="editContent">Haircutting</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry
                            since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-6 end -->

            <!-- feature panel #3 -->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="feature-panel">
                    <div class="feature-content">
                        <h3 class="editContent">Styling</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry
                            since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-6 end -->

            <!-- feature panel #4 -->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="feature-panel">
                    <div class="feature-content">
                        <h3 class="editContent">Trimming</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry
                            since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-6 end -->

        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature17 end -->