<!-- Feature #2
============================================= -->
<section id="feature2" class="section feature feature-left feature-2 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-2 mb-70 heading-center">
                    <p class="editContent heading-subtitle color-theme">Build your website</p>
                    <h2 class="editContent heading-title">Start Your business</h2>
                    <div class="heading-divider heading-divider1 divider--center"></div>
                </div>
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- feature panel #1 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-panel">ش
                    <div class="feature-icon">
                        <i <i class="crownicon fa icon-layers"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Unlimited Features</h3>
                        <p class="editContent">crown impresses you with fully responsiveness and highly customization.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #2 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i <i class="crownicon fa icon-tools"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Creative Design</h3>
                        <p class="editContent">crown impresses you with fully responsiveness and highly customization.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #3 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i <i class="crownicon fa icon-lightbulb"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Ultra Responsive</h3>
                        <p class="editContent">crown impresses you with fully responsiveness and highly customization.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #4 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i <i class="crownicon fa icon-strategy"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Discuss Idea</h3>
                        <p class="editContent">crown impresses you with fully responsiveness and highly customization.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #5 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i <i class="crownicon fa icon-gears"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Easy Customization</h3>
                        <p class="editContent">crown impresses you with fully responsiveness and highly customization.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #6 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i <i class="crownicon fa icon-chat"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Supper Support</h3>
                        <p class="editContent">crown impresses you with fully responsiveness and highly customization.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature2 end -->