<!-- Feature #15
=========================================== -->
<section id="feature15" class="section feature feature-15 text-center pb-30">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-16 heading-center mb-80">
                    <p class="editContent heading-subtitle">Why you will choose us</p>
                    <h2 class="editContent heading-title">travel with Crown</h2>
                    <div class="heading-divider heading-divider5 divider--center"></div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- feature panel #1 -->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-travel-1"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Best price guarantee</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry
                            since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-6 end -->

            <!-- feature panel #2 -->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-travel-2"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Eco lodges & tours</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry
                            since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-6 end -->

            <!-- feature panel #3 -->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-travel-3"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">We offer daily tours</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry
                            since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-6 end -->

            <!-- feature panel #4 -->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-travel-4"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Endangered Wildlife</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry
                            since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-6 end -->

        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature15 end -->