<!-- Feature #9
=========================================== -->
<section id="feature9" class="section feature feature-9 feature-left feature-left-circle pb-50 bg-img" style="background-image: url(assets/images/background/1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-11 mb-80  heading-center">
                    <p class="editContent heading-subtitle">About Company</p>
                    <h2 class="editContent heading-title">why choose us</h2>
                    <div class="heading-divider heading-divider4 divider--center"></div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <img src="assets/images/features/1.jpg" alt="img" class="img-fluid">
            </div>
            <!-- .col-lg-6 end -->

            <div class="col-sm-12 col-md-12 col-lg-6">
                <!-- feature panel #1 -->
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-construction-1"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Facade Renovation</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and
                            typesetting ndustry
                            since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
                <!-- feature panel #2 -->
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-construction-2"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Concrete Transport</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and
                            typesetting ndustry
                            since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
                <!-- feature panel #3 -->
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-construction-3"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Design & Build</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and
                            typesetting ndustry
                            since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature9 end -->