<!-- Feature #8
=========================================== -->
<section id="feature8" class="section feature feature-8 text-center pb-130">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-5 mb-70 heading-center">
                    <h2 class="editContent heading-title">Our Classes</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- feature panel #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/6.png" alt="img">
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Fitness Classes</h3>
                        <h4 class="editContent">$30 / Month</h4>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry
                            since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/7.png" alt="img">
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Boxing Classes</h3>
                        <h4 class="editContent">$18 / Month</h4>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry
                            since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/8.png" alt="img">
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Enjoy it</h3>
                        <h4 class="editContent">$29 / Month</h4>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry
                            since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature8 end -->