<!-- Feature #14
=========================================== -->
<section id="feature14" class="section feature feature-14 text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-13 heading-center mb-80">
                    <p class="editContent heading-subtitle">Let’s begin</p>
                    <h2 class="editContent heading-title">welcome to crown education</h2>
                    <div class="heading-icon mb-0"></div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- feature panel #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-education-1"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent"> Beginner</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-education-2"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Intermediate</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-education-3"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Expert</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature14 end -->