<!-- Feature #1
============================================= -->
<section id="feature1" class="section feature feature-1 text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1 heading-center mb-70">
                    <p class="editContent heading-subtitle color-theme">Build your website</p>
                    <h2 class="editContent heading-title">Start Your business</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- feature panel #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i <i class="crownicon fa icon-layers"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Unlimited Features</h3>
                        <p class="editContent">crown impresses you with fully responsiveness and highly customization and flexible.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i <i class="crownicon fa icon-tools"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Creative Design</h3>
                        <p class="editContent">We did it in combination of very clean and flexible design with fully responsiveness</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i <i class="crownicon fa icon-lightbulb"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Ultra Responsive</h3>
                        <p class="editContent">crown impresses you with fully responsiveness and highly customization and flexible.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature1  end -->