<!-- Feature #7
=========================================== -->
<section id="feature7" class="section feature feature-7 text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-5 mb-80 heading-center">
                    <p class="editContent heading-subtitle color-theme">Build your website</p>
                    <h2 class="editContent heading-title">Start Your management</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- feature panel #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/3.png" alt="img">
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Setup it</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting </p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/4.png" alt="img">
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Edit it</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting </p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/5.png" alt="img">
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Enjoy it</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting </p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature7 end -->