<!-- Feature #11
=========================================== -->
<section id="feature11" class="section feature feature-11 text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-24 heading-center mb-70">
                    <h2 class="editContent heading-title">the product</h2>
                    <p class="editContent heading-desc">crown is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum the industry's since the 1500s</p>
                    <div class="heading-divider heading-divider8 divider--center"></div>
                </div>
                <!-- .heading end -->
            </div>
            <!-- .col-lg-12 end -->
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="device--img text-center mb-70">
                    <img src="assets/images/devices/1.png" alt="device" class="img-fluid">
                </div>
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- feature panel #1 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-product-1"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Field of view</h3>
                        <p class="editContent">101˚</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-3 end -->

            <!-- feature panel #2 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-product-2"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Weight</h3>
                        <p class="editContent">345 g</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-3 end -->

            <!-- feature panel #3 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-product-3"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Sensors</h3>
                        <p class="editContent">Gyro sensor / <br> Proximity sensor</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-3 end -->

            <!-- feature panel #4 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-product-4"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Compatibility</h3>
                        <p class="editContent">Galaxy Note8, S8, S8+, S7, S7 edge, Note5, S6 edge+, S6, S6 edge</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-3 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature11 end -->