<!-- Feature #20
=========================================== -->
<section id="feature20" class="section feature feature-20">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-22 heading-center mb-70">
                    <p class="editContent heading-subtitle">About The Book</p>
                    <h2 class="editContent heading-title">Sell Your E-book</h2>
                    <div class="heading-divider heading-divider6"><span></span><span></span><span></span><span></span><span></span></div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- feature panel #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-ebook-1"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Best price guarantee</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry
                            since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-ebook-2"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Eco lodges & tours</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry
                            since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="crown-ebook-3"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">We offer daily tours</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting ndustry
                            since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature20 end -->