<!-- Feature #6
============================================= -->
<section id="feature6" class="section feature feature-6 text-center pt-80 pb-80">
    <div class="container">
        <div class="row">
            <!-- feature panel #1 -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/1.png" alt="img">
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Explore New Areas</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting
                            industry since 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-6 end -->

            <!-- feature panel #2 -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/2.png" alt="img">
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Best Investment</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting
                            industry since 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature6 end -->