<!-- Feature #18
=========================================== -->
<section id="feature18" class="section feature feature-18 text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1 heading-center mb-70">
                    <p class="editContent heading-subtitle color-theme">Welcome to Crown Agency</p>
                    <h2 class="editContent heading-title">Start Your business</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- feature panel #1 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i <i class="crownicon fa icon-pencil"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">No coding</h3>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-2 end -->

            <!-- feature panel #2 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i <i class="crownicon fa icon-browser"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Page Builder</h3>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-2 end -->

            <!-- feature panel #3 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i <i class="crownicon fa icon-mobile"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Responsive</h3>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-2 end -->

            <!-- feature panel #4 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i <i class="crownicon fa icon-layers"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">More Options</h3>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-2 end -->

            <!-- feature panel #5 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i <i class="crownicon fa icon-chat"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Support</h3>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-2 end -->

            <!-- feature panel #6 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i <i class="crownicon fa icon-tools"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="editContent">Updated</h3>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-2 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature18 end -->