<!-- Feature #5
============================================= -->
<section id="feature5" class="section feature feature-5 pt-80 pb-80">
    <div class="container">
        <div class="row">
            <!-- feature panel #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-content">
                        <h3 class="editContent">Las Vegas City</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting
                            industry since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-content">
                        <h3 class="editContent">Start on 2nd October</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting
                            industry since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-content">
                        <h3 class="editContent">Six Speakers</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting
                            industry since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature5 end -->