<!-- Feature #19
============================================= -->
<section id="feature19" class="section feature feature-19 text-center">
    <div class="container">
        <div class="row">
            <!-- feature panel #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-content">
                        <h3 class="editContent">Unlimited Features</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting
                            industry since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-content">
                        <h3 class="editContent">Creative Design</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting
                            industry since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-content">
                        <h3 class="editContent">Ultra Responsive</h3>
                        <p class="editContent">crown web page template is simply dummy text of the printing and typesetting
                            industry since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature19 end -->