<!-- Footer #9
============================================= -->
<footer id="footer9" class="footer footer-9">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                    <div class="widget-title">
                        <h5 class="editContent">Our Address</h5>
                    </div>
                    <div class="widget-contact">
                        <ul class="list-unstyled mb-0">
                            <li class="editContent">795 South Park, Wonderlan <br> CA 94107, Australia</li>
                        </ul>
                    </div>
                    <!-- .footer-widget-contact end -->
                </div>
                <!-- .col-lg-4 end -->
                <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                    <div class="widget-title">
                        <h5 class="editContent">our phones</h5>
                    </div>
                    <div class="widget-contact">
                        <ul class="list-unstyled mb-0">
                            <li class="editContent">+201093515252 - Office</li>
                            <li class="editContent">+201093515252 - Fax</li>
                        </ul>
                    </div>
                    <!-- .footer-widget-contact end -->
                </div>
                <!-- .col-lg-4 end -->
                <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                    <div class="widget-title">
                        <h5 class="editContent">email contact</h5>
                    </div>
                    <div class="widget-contact">
                        <ul class="list-unstyled mb-0">
                            <li class="editContent">info@zytheme.com</li>
                            <li class="editContent">zytheme@Envato.com</li>
                        </ul>
                    </div>
                    <!-- .footer-widget-contact end -->
                </div>
                <!-- .col-lg-4 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-widget end -->
    <div class="footer-bottom text-center-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-5 col-lg-6">
                    <div class="footer-copyright">
                        <span class="editContent">2019 &copy; <a href="#">Crown Template.</a> All rights
                            reserved.</span>
                    </div>
                    <!-- .footer-copyright end -->
                </div>
                <!-- .col-lg-6 end -->
                <div class="col-sm-12 col-md-7 col-lg-6">
                    <div class="copyrights-links text-right text-center-xs">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <!-- .footer-copyright-links end -->
                </div>
                <!-- .col-lg-6 end -->
            </div>
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-bar end -->
</footer>
<!-- #footer9 end -->