<!-- Footer #13
============================================= -->
<footer id="footer13" class="footer footer-5 footer-13">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7 col-lg-7">
                    <div class="widget-logo">
                        <a href="#">
                            <img src="assets/images/logo/footer-logo-light-horizontal.png" alt="logo">
                        </a>
                        <p class="editContent">When an unknown printer took a galley of type and scrambled it to make a type<br>
                            specimen book. It has survived not only five centuries, but also the leap into
                            electronic typesetting. It was popularised in the 1960s...</p>
                    </div>
                    <!-- .footer-widget-social end -->
                </div>
                <!-- .col-lg-7 end -->
                <div class="col-sm-12 col-md-5 col-lg-3 offset-lg-2">
                    <div class="widget-title">
                        <h5  class="editContent">helpful links</h5>
                    </div>
                    <div class="widget-links mb-0">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Help center</a></li>
                        </ul>
                    </div>
                    <!-- .footer-widget-contact end -->
                </div>
                <!-- .col-lg-3 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-widget end -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="footer-copyright">
                        <span class="editContent">2019 &copy; <a href="#">Crown Template.</a> All rights reserved.</span>
                    </div>
                    <!-- .footer-copyright end -->
                </div>
                <!-- .col-lg-6 end -->
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="widget-social text-right text-left-xs mb-0">
                        <a href="#" class="google-plus"><i <i class="crownicon fa fa-google-plus"></i></a>
                        <a href="#" class="twitter"><i <i class="crownicon fa fa-twitter"></i></a>
                        <a href="#" <i class="crownicon facebook"><i <i class="crownicon fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i <i class="crownicon fa fa-instagram"></i></a>
                    </div>
                    <!-- .footer-widget-social end -->
                </div>
                <!-- .col-lg-6 end -->
            </div>
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-bar end -->
</footer>
<!-- #footer13 end -->