<!-- Footer #11
============================================= -->
<footer id="footer11" class="footer footer-light footer-11 text-center bg-overlay bg-overlay-dark2">
    <div class="bg-section">
        <img src="assets/images/background/38.jpg" alt="background">
    </div>
    <!-- Widget Section
    ============================================= -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="widget-img">
                        <img src="assets/images/footer/1.png" alt="img">
                    </div>
                    <div class="widget-logo">
                        <a href="#">
                            <img src="assets/images/logo/logo-light-small.png" alt="logo">
                        </a>
                    </div>
                    <!-- .footer-widget-social end -->
                    <div class="footer-copyright">
                        <span class="editContent">2019 &copy; <a href="#">Crown Template.</a> All rights reserved.</span>
                    </div>
                    <!-- .footer-copyright end -->
                    <div class="widget-social mb-0">
                        <a href="#" <i class="crownicon facebook"><i <i class="crownicon fa fa-facebook"></i></a>
                        <a href="#" class="twitter"><i <i class="crownicon fa fa-twitter"></i></a>
                        <a href="#" class="google-plus"><i <i class="crownicon fa fa-google-plus"></i></a>
                        <a href="#" class="instagram"><i <i class="crownicon fa fa-instagram"></i></a>
                    </div>
                    <!-- .footer-widget-social end -->
                </div>
                <!-- .col-lg-12 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-widget end -->
</footer>
<!-- #footer11 end -->