<!-- Footer #12
============================================= -->
<footer id="footer12" class="footer footer-12">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="widget-links mb-0">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#">Our Company</a></li>
                            <li><a href="#">Our Location</a></li>
                            <li><a href="#">Help center</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- .footer-widget-links end -->
                </div>
                <!-- .col-lg-12 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-widget end -->
    <div class="footer-bottom text-center-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="footer-copyright">
                        <span class="editContent">2019 &copy; <a href="#">Crown Template.</a> All rights reserved.</span>
                    </div>
                    <!-- .footer-copyright end -->
                </div>
                <!-- .col-lg-6 end -->
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="widget-social text-right text-center-xs mb-0">
                        <a href="#" class="google-plus"><i <i class="crownicon fa fa-google-plus"></i></a>
                        <a href="#" class="twitter"><i <i class="crownicon fa fa-twitter"></i></a>
                        <a href="#" <i class="crownicon facebook"><i <i class="crownicon fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i <i class="crownicon fa fa-instagram"></i></a>
                    </div>
                    <!-- .footer-widget-social end -->
                </div>
                <!-- .col-lg-6 end -->
            </div>
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-bar end -->
</footer>
<!-- #footer12 end -->