<!-- screenshoot #1
============================================= -->
<section id="screenshoot1" class="section screenshoot screenshoot-1 bg-heading">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-4 heading-center mb-70">
                    <h2 class="editContent heading-title color-white">Screenshots gallery</h2>
                    <div class="heading-divider heading-divider2  divider--center"></div>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and
                        highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="carousel  owl-carousel" data-slide="4" data-slide-rs="2" data-autoplay="true"
                    data-nav="false" data-dots="false" data-space="20" data-loop="true" data-speed="800">
                    <div class="screenshoot-item">
                        <img src="assets/images/screenshoots/1.jpg" alt="screenshoot">
                    </div>
                    <!-- .screenshoot-item end -->
                    <div class="screenshoot-item">
                        <img src="assets/images/screenshoots/2.jpg" alt="screenshoot">
                    </div>
                    <!-- .screenshoot-item end -->
                    <div class="screenshoot-item">
                        <img src="assets/images/screenshoots/3.jpg" alt="screenshoot">
                    </div>
                    <!-- .screenshoot-item end -->
                    <div class="screenshoot-item">
                        <img src="assets/images/screenshoots/4.jpg" alt="screenshoot">
                    </div>
                    <!-- .screenshoot-item end -->
                </div>
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #screenshoot1 end -->