<!-- screenshoot #3
============================================= -->
<section id="screenshoot3" class="section screenshoot screenshoot-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1 heading-center mb-70">
                    <p class="heding-subtitle color-theme">Screenshots</p>
                    <h2 class="editContent heading-title">software shots</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and
                        highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="carousel  owl-carousel" data-slide="3" data-slide-rs="2" data-autoplay="true"
                    data-nav="false" data-dots="false" data-space="20" data-loop="true" data-speed="800">
                    <div class="screenshoot-item">
                        <img src="assets/images/screenshoots/5.jpg" alt="screenshoot">
                    </div>
                    <!-- .screenshoot-item end -->
                    <div class="screenshoot-item">
                        <img src="assets/images/screenshoots/6.jpg" alt="screenshoot">
                    </div>
                    <!-- .screenshoot-item end -->
                    <div class="screenshoot-item">
                        <img src="assets/images/screenshoots/7.jpg" alt="screenshoot">
                    </div>
                    <!-- .screenshoot-item end -->
                    <div class="screenshoot-item">
                        <img src="assets/images/screenshoots/5.jpg" alt="screenshoot">
                    </div>
                    <!-- .screenshoot-item end -->
                    <div class="screenshoot-item">
                        <img src="assets/images/screenshoots/6.jpg" alt="screenshoot">
                    </div>
                    <!-- .screenshoot-item end -->
                    <div class="screenshoot-item">
                        <img src="assets/images/screenshoots/7.jpg" alt="screenshoot">
                    </div>
                    <!-- .screenshoot-item end -->
                </div>
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #screenshoot3 end -->