<!-- hero #22
============================================= -->
<section id="hero22" class="section hero hero-22 bg-overlay bg-overlay-dark bg-parallax bg-img" style="background-image: url(assets/images/background/25.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-6">
				<div class="mockup-img">
					<img src="assets/images/mockup/book2.png" alt="mockup" class="img-fluid">
				</div>
			</div>
			<!-- .col-lg-8 end -->
			<div class="col-sm-12 col-md-6 col-lg-6">
				<div class="hero-content">
					<h2 class="hero-headline">Showcase and sell <br>your e-book</h2>
					<p class="hero-desc">crown impresses you with fully responsiveness and highly customization. We did it in
						combination of very clean impresses you.</p>
					<div class="form-subscription">
						<div class="subscribe-alert"></div>
						<form class="mailchimp">
							<input type="email" id="hero22-subscriptionEmail" class="form-control" name="hero22-subscriptionEmail"
								placeholder="Email Address" required />
							<button class="btn btn--secondary" type="submit">Download</button>
						</form>
					</div>
					<!-- .subscription-form end -->
				</div>
				<!-- .hero-content end -->
			</div>
			<!-- .col-lg-6 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #hero22 end -->
<div class="clearfix bg-white"></div>