<!-- hero #3
============================================= -->
<section id="hero3" class="section hero hero-3 flex-center bg-overlay bg-overlay-theme bg-img" style="background-image: url(assets/images/background/40.jpg);">
	<div class="container">
		<div class="row d-flex">
			<div class="col-sm-12 col-md-6 col-lg-6">
				<div class="hero-content">
					<h1 class="hero-headline">This app does <br> everything for you</h1>
					<p class="hero-desc">crown template is simply dummy text of the printing and typesetting industry. crown has
						been the industry's since the 1500s</p>
				</div>
				<!-- .hero-content end -->
				<div class="download-btns mb-30">
					<a href="#"><img src="assets/images/icons/google-play.png" alt="download"></a>
					<a href="#"><img src="assets/images/icons/app-store.png" alt="download"></a>
				</div>
			</div>
			<!-- .col-lg-6 end -->
			<div class="col-sm-12 col-md-6 col-lg-6">
				<div class="mockup-img">
					<img src="assets/images/mockup/iphone4.png" alt="mockup" class="img-fluid">
				</div>
			</div>
			<!-- .col-lg-6 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #hero3 end -->

