<!-- hero #23
============================================= -->
<section id="hero23" class="section hero hero-23 text-center bg-overlay bg-overlay-dark4 bg-parallax bg-img" style="background-image: url(assets/images/background/53.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
				<div class="hero-content">
					<div class="hero-img"><img src="assets/images/hero/7.png" alt="hero"></div>
					<p class="hero-desc">crown is simply dummy text of the printing and typesetting industry. crown has been the
						industry's since the 1500s.</p>
				</div>
				<!-- .hero-content end -->
			</div>
			<!-- .col-lg-8 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #hero23 end -->