<!-- hero #15
============================================= -->
<section id="hero15" class="section hero hero-15 text-center bg-overlay bg-overlay-dark2 bg-parallax bg-img" style="background-image: url(assets/images/background/46.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
                <div class="hero-content">
                    <div class="hero-icons">
                        <div class="crown-icon icon-1">
                            <i class="crown-nonprofit-4"></i>
                        </div>
                        <div class="crown-icon icon-2">
                            <i class="crown-nonprofit-5"></i>
                        </div>
                        <div class="crown-icon icon-3">
                            <i class="crown-nonprofit-4"></i>
                        </div>
                    </div>
                    <!-- .hero-icons -->
                    <h1 class="hero-headline">HELP CHILDREN TO MAKE POSITIVE IMPACTS IN THEIR LIFE</h1>
                    <p class="hero-desc">crown template is simply dummy text of the printing and typesetting
                        industry. <br> crown has been the industry's since the 1500s</p>
                </div>
                <!-- .hero-content -->
            </div>
            <!-- .col-lg-10 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="donators">
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                            <div class="donator-img">
                                <img src="assets/images/hero/donators/1.png" alt="img">
                            </div>
                        </div>
                        <!-- .col-lg-2 end -->
                        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                            <div class="donator-img">
                                <img src="assets/images/hero/donators/2.png" alt="img">
                            </div>
                        </div>
                        <!-- .col-lg-2 end -->
                        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                            <div class="donator-img">
                                <img src="assets/images/hero/donators/3.png" alt="img">
                            </div>
                        </div>
                        <!-- .col-lg-2 end -->
                        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                            <div class="donator-img">
                                <img src="assets/images/hero/donators/4.png" alt="img">
                            </div>
                        </div>
                        <!-- .col-lg-2 end -->
                        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                            <div class="donator-img">
                                <img src="assets/images/hero/donators/5.png" alt="img">
                            </div>
                        </div>
                        <!-- .col-lg-2 end -->
                        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                            <div class="donator-img">
                                <img src="assets/images/hero/donators/6.png" alt="img">
                            </div>
                        </div>
                        <!-- .col-lg-2 end -->
                    </div>
                    <!-- .row end -->
                </div>
                <!-- .donators -->
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #hero15 end -->