<!-- hero #6
============================================= -->
<section id="hero6" class="section hero hero-6 text-center count-down count-down-2 bg-overlay bg-overlay-dark pt-90 pb-70 bg-parallax bg-img"
	style="background-image: url(assets/images/background/31.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
				<div class="hero-content">
					<h2 class="hero-headline">the best Event <br> speakers in one place</h2>
					<p class="hero-desc">crown is simply dummy text of the printing and typesetting industry. crown has been the
						industry's since the 1500s</p>
				</div>
				<!-- .hero-content end -->
			</div>
			<!-- .col-lg-8 end -->
		</div>
		<!-- .row end -->
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
				<div class="countdown-panel">
					<div class="countdown-heading">
						<p class="editContent">October 2nd at 08:00 AM</p>
						<h3 class="editContent">save your spot</h3>
						<div class="countdown countdown-white" data-count-date="2019, 1, 27"></div>
						<a href="#" data-toggle="modal" data-target="#popupEvent" class="btn btn--secondary btn--secondary btn--block">Get
							A ticket</a>
						<!-- Modal -->
						<div class="modal fade popup-1" id="popupEvent" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-body">
										<div class="row">
											<div class="col-sm-12 col-sm-12 col-lg-12">
												<div id="eventbrite-widget-container-53382478430"></div>

												<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

												<script>
													var exampleCallback = function () {
														console.log('Order complete!');
													};

													window.EBWidgets.createWidget({
														// Required
														widgetType: 'checkout',
														eventId: '53382478430',
														iframeContainerId: 'eventbrite-widget-container-53382478430',

														// Optional
														iframeContainerHeight: 425, // Widget height in pixels. Defaults to a minimum of 425px if not provided
														onOrderComplete: exampleCallback // Method called when an order has successfully completed
													});
												</script>
											</div>
											<!-- .col-lg-5 end -->
										</div>
										<!-- .row end -->
									</div>
									<!-- .Modal-body end -->
								</div>
								<!-- .Modal-content end -->
							</div>
						</div>
						<!-- .Modal end -->

					</div>
				</div>
			</div>
			<!-- .col-lg-6 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #hero6 end -->