<!-- hero #1
============================================= -->
<section id="hero1" class="section hero hero-1 text-center bg-overlay bg-overlay-dark bg-img" style="background: url(assets/images/background/39.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
				<div class="hero-content">
					<h1 class="hero-headline">awesome Template <br>to promoto your services</h1>
					<p class="hero-desc">crown is simply dummy text of the printing and typesetting industry. <br> crown
						has been
						the industry's since the 1500s</p>
					<a href="#" class="btn btn--secondary" data-toggle="modal" data-target="#popup1">Get A Quote</a>
					<!-- Modal -->
					<div class="modal fade popup-1" id="popup1" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-body">
									<div class="row">
										<div class="col-sm-12 col-sm-12 col-lg-5">
											<div class="popup--img">
												<img src="assets/images/popup/1.jpg" alt="img" class="img-fluid">
											</div>
										</div>
										<!-- .col-lg-5 end -->
										<div class="col-sm-12 col-sm-12 col-lg-7">
											<div class="popup--content">
												<div class="heading heading-1">
													<p class="editContent heading-subtitle color-theme">Get A Quote</p>
													<h2 class="editContent heading-title">Get a better results</h2>
													<p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
														customization. We did
														it in combination of very clean impresses you with fully responsiveness.</p>
												</div>
												<!-- .heading end -->
												<div class="popup--form">
													<form method="post" action="assets/php/contact.php" class="contactForm mb-0" novalidate>
														<div id="result" class="contact-result"></div>
														<div class="form-group">
															<input type="text" id="popupName" class="form-control" name="name" placeholder="Your Name" required>
														</div>
														<div class="form-group">
															<input type="email" id="popupEmail" class="form-control" name="email" placeholder="Email Address"
																required>
														</div>
														<div class="form-group">
															<input type="text" id="popupPhone" class="form-control" name="phone" placeholder="Phone Number"
																required>
														</div>
														<div class="form-group">
															<button type="submit" class="btn btn--secondary btn--block">Get A Quote</button>
														</div>
													</form>
													<div class="popup-alert"></div>
													<div class="agreement">* We don’t spam customers. Check our <a href="#">Privacy Policy</a></div>
												</div>
												<!-- .popup-form end -->
											</div>
											<!-- .popup-content -->
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										</div>
										<!-- .col-lg-7 end -->
									</div>
									<!-- .row end -->
								</div>
								<!-- .Modal-body end -->
							</div>
							<!-- .Modal-content end -->
						</div>
					</div>
					<!-- .Modal end -->

				</div>
				<!-- .hero-content end -->
			</div>
			<!-- .col-lg-8 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #hero1 end -->