<!-- hero #14
============================================= -->
<section id="hero14" class="section hero hero-14 bg-img" style="background-image: url(assets/images/background/45.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-7">
				<div class="hero-content">
					<p class="hero-subheadline">Learn with us</p>
					<h1 class="hero-headline">Study with experts</h1>
					<p class="hero-desc">crown template is simply dummy text of the printing and typesetting industry. crown has
						been the industry's since the 1500s</p>
				</div>
				<!-- .hero-content -->
			</div>
			<!-- .col-lg-7 end -->
		</div>
		<!-- .row end -->
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<form method="post" action="assets/php/contact.php" class="contactForm mb-0">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div id="result" class="contact-result"></div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-group">
								<input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
							</div>
						</div>
						<!-- .form-group end -->
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-group">
								<input type="email" class="form-control" name="email" id="email" placeholder="Email Address" required>
							</div>
						</div>
						<!-- .form-group end -->
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-group">
								<input type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number" required>
							</div>
						</div>
						<!-- .form-group end -->
						<div class="col-sm-6 col-md-6 col-lg-3">
							<div class="form-group">
								<input type="submit" value="Grab your course" name="submit" class="btn btn--secondary btn--block">
							</div>
						</div>
						<!-- .form-group end -->

					</div>
					<!-- .row end -->
				</form>
			</div>
			<!-- .col-lg-12 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #hero14 end -->