<!-- hero #13
============================================= -->
<section id="hero13" class="section hero hero-13 bg-img" style="background-image: url(assets/images/background/44.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-7 col-lg-7 d-flex flex-column justify-content-center hero-column">
				<div class="hero-content">
					<h1 class="hero-headline"><span class="color-theme">Medical services</span><br> that you can trust</h1>
					<p class="hero-desc">crown template is simply dummy text of the printing and typesetting industry. crown has
						been the industry's since the 1500s</p>
				</div>
				<!-- .hero-content -->
				<div class="hero-features">
					<div class="feature-panel">
						<div class="feature-img">
							<img src="assets/images/hero/icons/1.png" alt="icon">
						</div>
						<div class="feature-data">
							<h4 class="editContent">Professional Doctors</h4>
							<p class="editContent">crown template is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</div>
					<!-- .feature-panel end -->
					<div class="feature-panel">
						<div class="feature-img">
							<img src="assets/images/hero/icons/2.png" alt="icon">
						</div>
						<div class="feature-data">
							<h4 class="editContent">Track your Progress</h4>
							<p class="editContent">crown template is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</div>
					<!-- .feature-panel end -->
				</div>
				<!-- .hero-features end -->
			</div>
			<!-- .col-lg-7 end -->
			<div class="col-sm-12 col-md-5 col-lg-5 d-flex flex-column justify-content-end">
				<div class="hero-img">
					<img src="assets/images/hero/1.png" alt="hero img" class="align-bottom">
				</div>
			</div>
			<!-- .col-lg-5 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #hero13 end -->