<!-- hero #11
============================================= -->
<section id="hero11" class="section hero hero-11 text-center bg-overlay bg-overlay-dark bg-parallax bg-img" style="background-image: url(assets/images/background/43.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
				<div class="hero-content">
					<h1 class="hero-headline">we build <br>everything you want</h1>
					<p class="hero-desc">crown is simply dummy text of the printing and typesetting industry. crown has been the
						industry's since the 1500s</p>
					<a href="#" class="btn btn--primary">Get A Quote</a>
				</div>
				<!-- .hero-content end -->
			</div>
			<!-- .col-lg-8 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #hero11 end -->