<!-- hero #7
============================================= -->
<section id="hero7" class="section hero hero-7 flex-center bg-overlay bg-overlay-dark bg-parallax bg-img" style="background-image: url(assets/images/background/41.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="hero-content">
                    <h1 class="hero-headline">the best way to find your Dream home</h1>
                    <p class="hero-desc">crown template is simply dummy text of the printing and typesetting industry. crown has been the industry's since the 1500s</p>
                    <ul class="features-list list-unstyled">
                        <li class="editContent">No coding, drag & drop page builder</li>
                        <li class="editContent">High collection of pre-made blocks</li>
                    </ul>
                </div>
                <!-- .hero-content -->
            </div>
            <!-- .col-lg-6 end -->
            <div class="col-sm-12 col-md-6 col-lg-5 offset-lg-1">
                <div class="form-wrap">
                    <div class="form-title">
                        <h4 class="editContent">request a consulting</h4>
                        <p class="editContent">crown template is simply dummy text of the printingand typesetting industry. </p>
                    </div>
                    <form id="realForm" method="post" action="assets/php/contact.php" class="contactForm mb-0" novalidate="novalidate">
                        <div id="result" class="contact-result"></div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required="">
                        </div>
                        <!-- .form-group end -->
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" required="">
                        </div>
                        <!-- .form-group end -->
                        <div class="form-group">
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number" required="">
                        </div>
                        <!-- .form-group end -->
                        <div class="form-group mb-0">
                            <input type="submit" value="YOUR DREAM HOUSE HERE" name="submit" class="btn btn--primary btn--block">
                        </div>
                        <!-- .form-group end -->
                    </form>
                </div>
            </div>
            <!-- .col-lg-5 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #hero7 end -->