<!-- hero #18
============================================= -->
<section id="hero18" class="section hero hero-16 hero-18 pb-0 text-center bg-overlay bg-overlay-dark4 bg-parallax bg-img"
	style="background-image: url(assets/images/background/49.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="hero-content">
					<div class="hero-img">
						<img src="assets/images/hero/3.png" alt="icon">
					</div>
					<p class="hero-subheadline">We are Barber Salon</p>
					<h1 class="hero-headline">we make amazing haircuts</h1>
					<a href="#" class="btn btn--primary">make an appointment</a>
				</div>
				<!-- .hero-content end -->
			</div>
			<!-- .col-lg-12 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
	<hr>
	<div class="text-panels">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-4 col-lg-4">
					<div class="text-panel">
						<h4 class="editContent">Our Address</h4>
						<p class="editContent">795 South Park, Wonderlan <br>CA 94107, Australia</p>
					</div>
				</div>
				<!-- .col-lg-4 end -->
				<div class="col-sm-12 col-md-4 col-lg-4">
					<div class="text-panel">
						<h4 class="editContent">our phones</h4>
						<p class="editContent">+201093515252 - Office</p>
						<p class="editContent">+201093515252 - Fax</p>
					</div>
				</div>
				<!-- .col-lg-4 end -->
				<div class="col-sm-12 col-md-4 col-lg-4">
					<div class="text-panel">
						<h4 class="editContent">Opening Hours</h4>
						<p class="editContent">Monday – Friday: 9:30 to 19:00</p>
						<p class="editContent">Samedi : 9:00 – 18:00</p>
					</div>
				</div>
				<!-- .col-lg-4 end -->
			</div>
			<!-- .row end -->
		</div>
		<!-- .text-panels end -->
	</div>
	<!-- .container end -->
</section>
<!-- #hero18 end -->