<!-- hero #19
============================================= -->
<section id="hero19" class="section hero hero-19 text-center bg-img" style="background-image: url(assets/images/background/50.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="hero-content">
					<p class="hero-subheadline">search engine optimization</p>
					<h1 class="hero-headline">SEO & Digital Strategy</h1>
					<a href="#" class="btn btn--primary">order SEO services</a>
				</div>
				<!-- .hero-content end -->
				<div class="hero-img">
					<img src="assets/images/hero/4.png" alt="img" class="img-fluid">
				</div>
			</div>
			<!-- .col-lg-12 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #hero19 end -->