
<!-- hero #20
============================================= -->
<section id="hero20" class="section hero hero-20 text-center bg-overlay bg-overlay-dark bg-parallax bg-img" style="background-image: url(assets/images/background/51.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
				<div class="hero-content">
					<h1 class="hero-headline">Grow your <br> digital business</h1>
					<p class="hero-desc">crown is simply dummy text of the printing and typesetting industry. crown has been the
						industry's since the 1500s</p>
					<a class="scroll--down-btn" data-scroll="scrollTo" href="#feature18"><i <i class="crownicon fa fa-angle-down"></i></a>
				</div>
				<!-- .hero-content end -->
			</div>
			<!-- .col-lg-8 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #hero20 end -->