<header id="navbar-spy" class="header header-transparent">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="index.php">
                <img class="logo-light" src="assets/images/logo/logo-light-vertical.png" alt="Crown Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toogle-inner"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav  mr-auto">
                    <li class="active">
                        <a data-scroll="scrollTo" href="#feature8">About us</a>
                    </li>
                    <li>
                        <a data-scroll="scrollTo" href="#contact2">Our Classes</a>
                    </li>
                    <li>
                        <a data-scroll="scrollTo" href="#testimonials8">Testimonial</a>
                    </li>
                </ul>
                <div class="module-container ml-auto">
                    <div class="module module-btn">
                        <a class="btn btn-secondary btn--auto" href="#requestQuote" data-scroll="scrollTo">request
                            a Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>