<header id="navbar-spy" class="header header-light">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="index.php">
            <img class="logo-light" src="assets/images/logo/logo-dark-small.png" alt="Crown Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toogle-inner"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto ml-auto">
                        <li class="active">
                        <a data-scroll="scrollTo" href="#feature6">About</a>
                    </li>
                    <li>
                        <a data-scroll="scrollTo" href="#propirties2">Featured Unites</a>
                    </li>
                    <li>
                        <a data-scroll="scrollTo" href="#video5">Video</a>
                    </li>					
                    <li>
                        <a data-scroll="scrollTo" href="#testimonials6">Testimonials</a>
                    </li>
                </ul>
                <div class="module-container">
                    <div class="module module-btn">
                        <a class="btn btn-primary btn--auto" data-scroll="scrollTo" href="#realForm">get in touch</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>