<header id="navbar-spy" class="header header-dark header-topbar">
    <div class="topbar topbar-dark topbar-bordered-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="module module-social module-social-light">
                        <a href="#" class="twitter"><i <i class="crownicon fa fa-twitter"></i></a>
                        <a href="#" <i class="crownicon facebook"><i <i class="crownicon fa fa-facebook"></i></a>
                        <a href="#" class="google"><i <i class="crownicon fa fa-google"></i></a>
                        <a href="#" class="instagram"><i <i class="crownicon fa fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col hidden-xs hidden-sm">
                    <a class="module module-logo d-block text-center" href="index.php">
                        <img class="logo-dark" src="assets/images/logo/logo-light-small.png" alt="Crown Logo">
                    </a>
                </div>
                <div class="col">
                    <div class="module module-btn float-right">
                        <a class="btn btn-primary btn--auto" href="#">make an appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand hidden-md hidden-lg" href="index.php">
                <img class="logo-light" src="assets/images/logo/logo-light.png" alt="Crown Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toogle-inner"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    <li class="active">
                        <a data-scroll="scrollTo" href="#feature16">About us</a>
                    </li>
                    <li>
                        <a data-scroll="scrollTo" href="#pricing3">Pricing Table</a>
                    </li>
                    <li>
                        <a data-scroll="scrollTo" href="#testimonials13">Testimonials</a>
                    </li>
                    <li>
                        <a data-scroll="scrollTo" href="#contact8">Contact us</a>
                    </li>
                </ul>
                <div class="module-container">
                    <div class="module module-info module-light">
                        <span class="editContent mr-lg-3x"><strong>Email:</strong> support@zytheme.com</span>
                        <span class="editContent"><strong>Call us:</strong> +201093515252</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>