<header id="navbar-spy" class="header header-light header-topbar">
    <div class="topbar topbar-bordered">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="float-left">
                        <div class="module module-info">
                            <span class="editContent"><strong>Crown</strong> Is the best HTML Page builder</span>
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="module module-info">
                            <span class="editContent mr-lg-3x"><strong>Email:</strong> support@zytheme.com</span>
                            <span class="editContent"><strong>Call us:</strong> +201093515252</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="index.php">
                <img class="logo-dark" src="assets/images/logo/logo-dark.png" alt="Crown Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toogle-inner"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav  ml-auto">
                    <li class="active">
                        <a data-scroll="scrollTo" href="#feature5">About</a>
                    </li>
                    <li>
                        <a data-scroll="scrollTo" href="#team1">Speakers</a>
                    </li>
                    <li>
                        <a data-scroll="scrollTo" href="#timeline2">Schedule</a>
                    </li>
                    <li>
                        <a data-scroll="scrollTo" href="#countdown3">Get A ticket</a>
                    </li>
                </ul>
                <div class="navbar-separator"></div>
                <div class="module-container">
                    <div class="module module-social">
                        <a href="#" <i class="crownicon facebook"><i <i class="crownicon fa fa-facebook"></i></a>
                        <a href="#" class="twitter"><i <i class="crownicon fa fa-twitter"></i></a>
                        <a href="#" class="google"><i <i class="crownicon fa fa-google"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>