<header id="navbar-spy" class="header header-dark header-topbar header-topbar-2x">
    <div class="topbar topbar-dark topbar-bordered-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 hidden-xs hidden-sm">
                    <a class="module module-logo" href="index.php">
                        <img class="logo-light" src="assets/images/logo/logo-light.png" alt="Crown Logo">
                    </a>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="module module-btn float-right">
                        <a class="btn btn-primary btn--auto" href="#requestForm" data-scroll="scrollTo">booka
                            table</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand hidden-md hidden-lg" href="index.php">
                <img class="logo-light" src="assets/images/logo/logo-light.png" alt="Crown Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toogle-inner"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    <li class="active">
                        <a data-scroll="scrollTo" href="#banner6">Our Services</a>
                    </li>
                    <li>
                        <a data-scroll="scrollTo" href="#team6">Our Team</a>
                    </li>
                    <li>
                        <a data-scroll="scrollTo" href="#pricing6">Video</a>
                    </li>
                    <li>
                        <a data-scroll="scrollTo" href="#testimonials14">Testimonial</a>
                    </li>
                </ul>
                <div class="module-container">
                    <div class="module module-info">
                        <span class="editContent"><strong class="text-white">Call us:</strong> +201093515252</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>