<header id="navbar-spy" class="header header-transparent header-no-navabr">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="index.php">
                <img class="logo-light" src="assets/images/logo/logo-dark-horizontal.png" alt="Crown Logo">
            </a>
            <div class="module-container ml-auto">
                <div class="module module-social">
                    <a href="#" class="twitter"><i <i class="crownicon fa fa-twitter"></i></a>
                    <a href="#" <i class="crownicon facebook"><i <i class="crownicon fa fa-facebook"></i></a>
                    <a href="#" class="google"><i <i class="crownicon fa fa-google"></i></a>
                    <a href="#" class="instagram"><i <i class="crownicon fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </nav>
</header>