<header id="navbar-spy" class="header header-light">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-bordered-dark">
        <div class="container">
            <a class="navbar-brand" href="index.php">
                <img class="logo-dark" src="assets/images/logo/logo-dark.png" alt="Crown Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toogle-inner"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav  ml-auto">
                    <li class="active">
                        <a data-scroll="scrollTo" href="#feature4">About us</a>
                    </li>
                    <li>
                        <a data-scroll="scrollTo" href="#screenshoot2">Screenshots</a>
                    </li>
                    <li>
                        <a data-scroll="scrollTo" href="#video3">Video</a>
                    </li>
                    <li>
                        <a data-scroll="scrollTo" href="#testimonials4">Testimonials</a>
                    </li>
                </ul>
                <div class="module-container">
                    <div class="module module-btn">
                        <a class="btn btn-primary" href="#">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>