<!-- Pricing #6
============================================= -->
<section id="pricing6" class="section pricing pricing-3 pricing-6 bg-overlay bg-overlay-dark2 bg-img" style="background-image: url(assets/images/background/10.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-21 heading-center mb-70">
                    <p class="editContent heading-subtitle color-white">Great Food</p>
                    <h2 class="editContent heading-title color-white">Main Menu</h2>
                    <div class="heading-icon"></div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <div class="pricing-wrapper">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- panel #1 -->
                    <div class="pricing-panel">
                        <div class="pricing-content">
                            <h4 class="pricing-heading">Cordon Bleu</h4>
                            <span class="price">$15</span>
                            <p class="pricing-desc">crown is simply dummy text of the printing industry.</p>
                        </div>
                    </div>
                    <!-- .panel end -->
                    <!-- panel #2 -->
                    <div class="pricing-panel">
                        <div class="pricing-content">
                            <h4 class="pricing-heading">American Brunc</h4>
                            <span class="price">$34</span>
                            <p class="pricing-desc">crown is simply dummy text of the printing industry.</p>
                        </div>
                    </div>
                    <!-- .panel end -->
                    <!-- panel #3 -->
                    <div class="pricing-panel">
                        <div class="pricing-content">
                            <h4 class="pricing-heading">Boerewors</h4>
                            <span class="price">$10</span>
                            <p class="pricing-desc">crown is simply dummy text of the printing industry.</p>
                        </div>
                    </div>
                    <!-- .panel end -->
                </div>
                <!-- .col-lg-6 end -->
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- panel #4 -->
                    <div class="pricing-panel">
                        <div class="pricing-content">
                            <h4 class="pricing-heading">Creamy Smoked Salmon</h4>
                            <span class="price">$28</span>
                            <p class="pricing-desc">crown is simply dummy text of the printing industry.</p>
                        </div>
                    </div>
                    <!-- .panel end -->
                    <!-- panel #5 -->
                    <div class="pricing-panel">
                        <div class="pricing-content">
                            <h4 class="pricing-heading">Chocolate Cherry Cake</h4>
                            <span class="price">$13</span>
                            <p class="pricing-desc">crown is simply dummy text of the printing industry.</p>
                        </div>
                    </div>
                    <!-- .panel end -->
                    <!-- panel #6 -->
                    <div class="pricing-panel">
                        <div class="pricing-content">
                            <h4 class="pricing-heading">Chicken Crispy</h4>
                            <span class="price">$45</span>
                            <p class="pricing-desc">crown is simply dummy text of the printing industry.</p>
                        </div>
                    </div>
                    <!-- .panel end -->
                </div>
                <!-- .col-lg-6 end -->
            </div>
            <!-- .row end -->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <a href="#" class="btn btn--primary">book a table</a>
                </div>
            </div>
            <!-- .row end -->
        </div>
        <!-- .pricing-wrapper end -->
    </div>
    <!-- .container end -->
</section>
<!-- #pricing6 end -->