<!-- Pricing #4
============================================= -->
<section id="pricing4" class="section pricing pricing-4 text-center bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-18 heading-center mb-70">
                    <p class="editContent heading-subtitle">Pricing Table</p>
                    <h2 class="editContent heading-title">Our Great Price</h2>
                    <div class="heading-icon"></div>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and
                        highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- Pricing table #1 -->
            <div class="col-sm-12 col-md-12 col-lg-4 price-table">
                <div class="pricing-panel">
                    <div class="pricing-heading">
                        <div class="pricing-img">
                            <img src="assets/images/pricing/1.png" alt="img" class="img-fluid">
                        </div>
                        <h4 class="editContent">Personal</h4>
                    </div>
                    <!-- .pricing-heading end  -->
                    <div class="pricing--body">
                        <ul class="pricing-list list-unstyled">
                            <li class="editContent">5 Analytics Campaigns</li>
                            <li class="editContent">300 Keywords</li>
                            <li class="editContent">250,000 Crawled Pages</li>
                            <li class="editContent">15 Social Accounts</li>
                        </ul>
                    </div>
                    <!-- .pricing-body end -->
                    <div class="pricing--footer">
                        <p class="editContent">$19<span class="time">Per Month</span></p>
                        <a class="btn btn--primary" href="#">Order Now</a>
                    </div>
                    <!-- .pricing-footer end  -->
                </div>
            </div>
            <!-- .pricing-table End -->
            <!-- Pricing table #2 -->
            <div class="col-sm-12 col-md-12 col-lg-4 price-table">
                <div class="pricing-panel">
                    <div class="pricing-heading">
                        <div class="pricing-img">
                            <img src="assets/images/pricing/2.png" alt="img" class="img-fluid">
                        </div>
                        <h4 class="editContent">Business</h4>
                    </div>
                    <!-- .pricing-heading end  -->
                    <div class="pricing--body">
                        <ul class="pricing-list list-unstyled">
                            <li class="editContent">25 Analytics Campaigns</li>
                            <li class="editContent">1,900 Keywords</li>
                            <li class="editContent">1,250,000 Crawled Pages</li>
                            <li class="editContent">50 Social Accounts</li>
                        </ul>
                    </div>
                    <!-- .pricing-body end -->
                    <div class="pricing--footer">
                        <p class="editContent">$29<span class="time">Per Month</span></p>
                        <a class="btn btn--primary" href="#">Order Now</a>
                    </div>
                    <!-- .pricing-footer end  -->
                </div>
            </div>
            <!-- .pricing-table End -->
            <!-- Pricing table #3 -->
            <div class="col-sm-12 col-md-12 col-lg-4 price-table">
                <div class="pricing-panel">
                    <div class="pricing-heading">
                        <div class="pricing-img">
                            <img src="assets/images/pricing/3.png" alt="img" class="img-fluid">
                        </div>
                        <h4 class="editContent">Professional</h4>
                    </div>
                    <!-- .pricing-heading end  -->
                    <div class="pricing--body">
                        <ul class="pricing-list list-unstyled">
                            <li class="editContent">100 Analytics Campaigns</li>
                            <li class="editContent">7500 Keywords</li>
                            <li class="editContent">1,250,000 Crawled Pages</li>
                            <li class="editContent">150 Social Accounts</li>
                        </ul>
                    </div>
                    <!-- .pricing-body end -->
                    <div class="pricing--footer">
                        <p class="editContent">$39<span class="time">Per Month</span></p>
                        <a class="btn btn--primary" href="#">Order Now</a>
                    </div>
                    <!-- .pricing-footer end  -->
                </div>
            </div>
            <!-- .pricing-table End -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #pricing4 end -->