<!-- Pricing #5
============================================= -->
<section id="pricing5" class="section pricing pricing-5 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1 heading-center mb-70">
                    <p class="editContent heading-subtitle color-theme">Pricing Table</p>
                    <h2 class="editContent heading-title">Awesome Price</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- Pricing table #1 -->
            <div class="col-sm-12 col-md-12 col-lg-4 price-table price-table-1">
                <div class="pricing-panel">
                    <div class="pricing-heading">
                        <h4 class="editContent">Free Plan</h4>
                        <p class="editContent">Free<span class="time">Per Month</span></p>
                    </div>
                    <!-- .pricing-heading end  -->
                    <div class="pricing--body">
                        <div class="pricing-desc">
                            <p class="editContent"> crown is simply dummy text of the printing and typesetting industry has been
                                since the 1500s by our company</p>
                        </div>
                        <!-- .pricing-desc end -->
                        <a class="btn btn--dark btn--bordered btn--rounded" href="#">Get Started</a>
                    </div>
                    <!-- .pricing-body end -->
                </div>
            </div>
            <!-- .pricing-table End -->
            <!-- Pricing table #2 -->
            <div class="col-sm-12 col-md-12 col-lg-4 price-table price-table-2">
                <div class="pricing-panel">
                    <div class="pricing-heading">
                        <h4 class="editContent">Professional</h4>
                        <p class="editContent">$10<span class="time">Per Month</span></p>
                        <div class="ribbon"></div>
                    </div>
                    <!-- .pricing-heading end  -->
                    <div class="pricing--body">
                        <div class="pricing-desc">
                            <p class="editContent"> crown is simply dummy text of the printing and typesetting industry has been
                                since the 1500s by our company</p>
                        </div>
                        <!-- .pricing-desc end -->
                        <a class="btn btn--primary btn--rounded" href="#">Get Started</a>
                    </div>
                    <!-- .pricing-body end -->
                </div>
            </div>
            <!-- .pricing-table End -->
            <!-- Pricing table #3 -->
            <div class="col-sm-12 col-md-12 col-lg-4 price-table price-table-3">
                <div class="pricing-panel">
                    <div class="pricing-heading">
                        <h4 class="editContent">Team</h4>
                        <p class="editContent">$19<span class="time">Per Month</span></p>
                    </div>
                    <!-- .pricing-heading end  -->
                    <div class="pricing--body">
                        <div class="pricing-desc">
                            <p class="editContent"> crown is simply dummy text of the printing and typesetting industry has been
                                since the 1500s by our company</p>
                        </div>
                        <!-- .pricing-desc end -->
                        <a class="btn btn--dark btn--bordered btn--rounded" href="#">Get Started</a>
                    </div>
                    <!-- .pricing-body end -->
                </div>
            </div>
            <!-- .pricing-table End -->

        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #pricing5 end -->