<!-- Pricing #8
============================================= -->
<section id="pricing8" class="section pricing pricing-5 pricing-8">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1 heading-center mb-70">
                    <p class="editContent heading-subtitle">Pricing Table</p>
                    <h2 class="editContent heading-title">Our Great Price</h2>
                    <div class="heading-divider heading-divider6">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- Pricing table #1 -->
            <div class="col-sm-12 col-md-12 col-lg-4 price-table price-table-1">
                <div class="pricing-panel">
                    <div class="pricing-heading">
                        <div class="pricing-img">
                            <img src="assets/images/pricing/ebook-1.png" alt="img">
                        </div>
                        <!-- .pricing-img end -->
                        <p class="editContent">Free<span class="time">Free Copy</span></p>
                    </div>
                    <!-- .pricing-heading end  -->
                    <div class="pricing--body">
                        <div class="pricing-desc">
                            <p class="editContent"> crown is simply dummy text of the printing and typesetting industry has been
                                since the 1500s by our company</p>
                        </div>
                        <!-- .pricing-desc end -->
                        <a class="btn btn--secondary btn--bordered" href="#">download</a>
                    </div>
                    <!-- .pricing-body end -->
                </div>
            </div>
            <!-- .pricing-table End -->
            <!-- Pricing table #2 -->
            <div class="col-sm-12 col-md-12 col-lg-4 price-table price-table-2">
                <div class="pricing-panel">
                    <div class="pricing-heading">
                        <div class="pricing-img">
                            <img src="assets/images/pricing/ebook-2.png" alt="img">
                        </div>
                        <!-- .pricing-img end -->
                        <p class="editContent">$10<span class="time">Simple Copy</span></p>
                        <div class="ribbon"></div>
                    </div>
                    <!-- .pricing-heading end  -->
                    <div class="pricing--body">
                        <div class="pricing-desc">
                            <p class="editContent"> crown is simply dummy text of the printing and typesetting industry has been
                                since the 1500s by our company</p>
                        </div>
                        <!-- .pricing-desc end -->
                        <a class="btn btn--secondary" href="#">Get it now</a>
                    </div>
                    <!-- .pricing-body end -->
                </div>
            </div>
            <!-- .pricing-table End -->
            <!-- Pricing table #3 -->
            <div class="col-sm-12 col-md-12 col-lg-4 price-table price-table-3">
                <div class="pricing-panel">
                    <div class="pricing-heading">
                        <div class="pricing-img">
                            <img src="assets/images/pricing/ebook-3.png" alt="img">
                        </div>
                        <!-- .pricing-img end -->
                        <p class="editContent">$15<span class="time">Full Copy</span></p>
                    </div>
                    <!-- .pricing-heading end  -->
                    <div class="pricing--body">
                        <div class="pricing-desc">
                            <p class="editContent"> crown is simply dummy text of the printing and typesetting industry has been
                                since the 1500s by our company</p>
                        </div>
                        <!-- .pricing-desc end -->
                        <a class="btn btn--secondary btn--bordered" href="#">Get it now</a>
                    </div>
                    <!-- .pricing-body end -->
                </div>
            </div>
            <!-- .pricing-table End -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #pricing8 end -->