<!-- Pricing #1
============================================= -->
<section id="pricing1" class="section pricing pricing-1 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1 heading-center mb-70">
                    <p class="editContent heading-subtitle color-theme">Pricing Table</p>
                    <h2 class="editContent heading-title">Our Great Price</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and
                        highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- Pricing table #1 -->
            <div class="col-sm-12 col-md-12 col-lg-4 price-table price-table-1">
                <div class="pricing-panel">
                    <div class="pricing-heading text--center">
                        <h4 class="editContent">Free Plan</h4>
                        <p class="editContent">Free<span class="time">Per Month</span></p>
                        <a class="btn btn--secondary" href="#">Get Started</a>
                    </div>
                    <!-- .pricing-heading end  -->
                    <div class="pricing--body">
                        <ul class="pricing-list list-unstyled">
                            <li class="editContent">10MB - storage</li>
                            <li class="editContent">Activity - events and stats</li>
                            <li class="editContent inactive">Workflow - manage projects</li>
                            <li class="editContent inactive">Tasks - comments as a tasks</li>
                            <li class="editContent inactive">Storage - manage your files</li>
                            <li class="editContent inactive">Teams - create and manage</li>
                        </ul>
                    </div>
                    <!-- .pricing-body end -->
                </div>
            </div>
            <!-- .pricing-table End -->
            <!-- Pricing table #2 -->
            <div class="col-sm-12 col-md-12 col-lg-4 price-table price-table-2">
                <div class="pricing-panel">
                    <div class="pricing-top">Best choice</div>
                    <div class="pricing-heading text--center">
                        <div class="ribbon"></div>
                        <h4 class="editContent">Professional</h4>
                        <p class="editContent">$10<span class="time">Per Month</span></p>
                        <a class="btn btn--secondary" href="#">Get Started</a>
                    </div>
                    <!-- .pricing-heading end  -->
                    <div class="pricing--body">
                        <ul class="pricing-list list-unstyled">
                            <li class="editContent">10MB - storage</li>
                            <li class="editContent">Activity - events and stats</li>
                            <li class="editContent">Workflow - manage projects</li>
                            <li class="editContent">Tasks - comments as a tasks</li>
                            <li class="editContent inactive">Storage - manage your files</li>
                            <li class="editContent inactive">Teams - create and manage</li>
                        </ul>
                    </div>
                    <!-- .pricing-body end -->
                </div>
            </div>
            <!-- .pricing-table End -->
            <!-- Pricing table #3 -->
            <div class="col-sm-12 col-md-12 col-lg-4 price-table price-table-3">
                <div class="pricing-panel">
                    <div class="pricing-heading text--center">
                        <h4 class="editContent">Team</h4>
                        <p class="editContent">$19<span class="time">Per Month</span></p>
                        <a class="btn btn--secondary" href="#">Get Started</a>
                    </div>
                    <!-- .pricing-heading end  -->
                    <div class="pricing--body">
                        <ul class="pricing-list list-unstyled">
                            <li class="editContent">10MB - storage</li>
                            <li class="editContent">Activity - events and stats</li>
                            <li class="editContent">Workflow - manage projects</li>
                            <li class="editContent">Tasks - comments as a tasks</li>
                            <li class="editContent">Storage - manage your files</li>
                            <li class="editContent">Teams - create and manage</li>
                        </ul>
                    </div>
                    <!-- .pricing-body end -->
                </div>
            </div>
            <!-- .pricing-table End -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #pricing1 end -->