<!-- Pricing #3
============================================= -->
<section id="pricing3" class="section pricing pricing-3 bg-overlay bg-overlay-dark4 bg-parallax bg-img" style="background-image: url(assets/images/background/9.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-17 heading-center mb-70">
                    <h2 class="editContent heading-title color-white">Our Pricing</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and
                        highly
                        customization. We did it in combination of very clean impresses you.</p>
                    <div class="heading-icon"></div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <div class="pricing-wrapper">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- panel #1 -->
                    <div class="pricing-panel">
                        <div class="pricing-content">
                            <h4 class="pricing-heading">Haircut</h4>
                            <span class="price">$15</span>
                        </div>
                    </div>
                    <!-- .panel end -->
                    <!-- panel #2 -->
                    <div class="pricing-panel">
                        <div class="pricing-content">
                            <h4 class="pricing-heading">Haircut Children Under 14</h4>
                            <span class="price">$10</span>
                        </div>
                    </div>
                    <!-- .panel end -->
                    <!-- panel #3 -->
                    <div class="pricing-panel">
                        <div class="pricing-content">
                            <h4 class="pricing-heading">Razor Cut</h4>
                            <span class="price">$5</span>
                        </div>
                    </div>
                    <!-- .panel end -->
                    <!-- panel #4 -->
                    <div class="pricing-panel">
                        <div class="pricing-content">
                            <h4 class="pricing-heading">Shave</h4>
                            <span class="price">$6</span>
                        </div>
                    </div>
                    <!-- .panel end -->
                </div>
                <!-- .col-lg-6 end -->
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <!-- panel #5 -->
                    <div class="pricing-panel">
                        <div class="pricing-content">
                            <h4 class="pricing-heading">Shaving Top Of Head</h4>
                            <span class="price">$10</span>
                        </div>
                    </div>
                    <!-- .panel end -->
                    <!-- panel #6 -->
                    <div class="pricing-panel">
                        <div class="pricing-content">
                            <h4 class="pricing-heading">Beard Trim</h4>
                            <span class="price">$12</span>
                        </div>
                    </div>
                    <!-- .panel end -->
                    <!-- panel #7 -->
                    <div class="pricing-panel">
                        <div class="pricing-content">
                            <h4 class="pricing-heading">Tonic Hair Dressing Or Oils</h4>
                            <span class="price">$3</span>
                        </div>
                    </div>
                    <!-- .panel end -->
                    <!-- panel #8 -->
                    <div class="pricing-panel">
                        <div class="pricing-content">
                            <h4 class="pricing-heading">Face Massage</h4>
                            <span class="price">$10</span>
                        </div>
                    </div>
                    <!-- .panel end -->
                </div>
                <!-- .col-lg-6 end -->
            </div>
            <!-- .row end -->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <a href="#" class="btn btn--primary">make an appointment</a>
                </div>
            </div>
            <!-- .row end -->
        </div>
        <!-- .pricing-wrapper end -->
    </div>
    <!-- .container end -->
</section>
<!-- #pricing3 end -->