<!-- Pricing #7
============================================= -->
<section id="pricing7" class="section pricing pricing-7 bg-heading">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-4 text--center mb-40">
                    <h2 class="editContent heading-title color-white">world tour dates</h2>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="date">June 6, 2018</td>
                                <td>Hiphop Arena, New Washington, USA</td>
                                <td>@LetsBeat The World Baby</td>
                                <td class="buy"><a href="#">Buy Ticket</a></td>
                            </tr>
                            <tr>
                                <td class="date">June 8, 2018</td>
                                <td>The Bay Area, California, USA</td>
                                <td>The Dark DJ Show</td>
                                <td class="buy"><a href="#">Buy Ticket</a></td>
                            </tr>
                            <tr>
                                <td class="date">June 6, 2018</td>
                                <td>Hiphop Arena, New Washington, USA</td>
                                <td>@LetsBeat The World Baby</td>
                                <td class="buy"><a href="#">Buy Ticket</a></td>
                            </tr>
                            <tr>
                                <td class="date">June 8, 2018</td>
                                <td>The Bay Area, California, USA</td>
                                <td>The Dark DJ Show</td>
                                <td class="buy"><a href="#">Buy Ticket</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- .table end -->
                <div class="pricing-icon text--center">
                    <img src="assets/images/pricing/5.png" alt="icon">
                    <a href="#">Grab your ticket</a>
                </div>
                <!-- .pricing-icon end -->
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #pricing7 end -->