<!-- subscription #1
============================================= -->
<section id="subscription1" class="section subscription subscription-1 bg-img" style="background-image: url(assets/images/pattern/1.png);background-repeat: repeat;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="mockup-img">
                    <img src="assets/images/mockup/iphone3.png" alt="mockup" class="img-fluid">
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <div class="col-sm-12 col-md-6 col-lg-7 offset-lg-1">
                <div class="heading heading-1">
                    <p class="editContent heading-subtitle color-theme">So What’s Next?</p>
                    <h2 class="editContent heading-title">download Crown app now</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
                <!-- .heading end -->
                <div class="download-btns ">
                    <a href="#"><img src="assets/images/icons/google-play.png" alt="img"></a>
                    <a href="#"><img src="assets/images/icons/app-store.png" alt="img"></a>
                </div>
                <!-- .download-btns end -->
                <div class="form-subscription">
                    <div class="subscribe-alert"></div>
                    <form class="mailchimp">
                        <input type="email" id="subscriptionEmail1" class="form-control" name="subscriptionEmail1"
                            placeholder="Email Address" required />
                        <button class="btn btn--secondary" type="submit">Download</button>
                    </form>
                    <span class="agreement">* We don’t spam customers. Check our <a href="#"> Privacy Policy</a></span>
                </div>
                <!-- .subscription-form end -->
            </div>
            <!-- .col-lg-7 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #subscription1 end -->