<!-- subscription #4
============================================= -->
<section id="subscription4" class="section subscription subscription-2 subscription-4 text-center bg-overlay bg-overlay-dark bg-parallax bg-img"
    style="background-image: url(assets/images/background/30.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1 heading-center">
                    <h2 class="editContent heading-title">GET LATEST UPDATES</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
                <!-- .heading end -->
                <div class="form-subscription">
                    <div class="subscribe-alert"></div>
                    <form class="mailchimp">
                        <input type="email" id="subscriptionEmail4" class="form-control" name="subscriptionEmail4"
                            placeholder="Email Address" required />
                        <button class="btn btn--secondary" type="submit">subscribe</button>
                    </form>
                </div>
                <!-- .subscription-form end -->
            </div>
            <!-- .col-md-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #subscription4 end -->