<!-- Team #8
============================================= -->
<section id="team8" class="section team team-8 pt-50 pb-0">
    <div class="container">
        <div class="row member">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="heading heading-22">
                    <p class="editContent heading-subtitle">About author</p>
                    <h2 class="editContent heading-title">Mark Smith</h2>
                    <div class="heading-divider heading-divider6"><span></span><span></span><span></span><span></span><span></span></div>
                </div>
                <!-- .heading end -->
                <div class="member-info">
                    <p class="editContent">When an unknown printer took a galley of type and scrambled it to make a type specimen
                        book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s...</p>
                    <div class="member-social">
                        <span class="social-title">social:</span>
                        <a href=""><i <i class="crownicon fa fa-facebook"></i></a>
                        <a href=""><i <i class="crownicon fa fa-twitter"></i></a>
                        <a href=""><i <i class="crownicon fa fa-google-plus"></i></a>
                        <a href=""><i <i class="crownicon fa fa-envelope-o"></i></a>
                    </div>
                    <!-- .member-social end -->
                    <img src="assets/images/team/signature/1.png" alt="signature">
                </div>
            </div>
            <!-- .col-lg-6 end -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="member-img">
                    <img src="assets/images/team/full/3.png" alt="member" class="img-fluid">
                </div>
                <!-- .member-img end -->
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #team8 end -->