<!-- Team #10
============================================= -->
<section id="team10" class="section team team-10">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading-center  heading heading-23 mb-70">
                    <p class="editContent heading-subtitle">Our Team</p>
                    <h2 class="editContent heading-title">Expert Attorneys</h2>
                    <div class="heading-divider heading-divider7 divider--center d-block mb-0"></div>

                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>

        <div class="row">
            <!-- Team Member #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/grid/11.jpg" alt="member" class="img-fluid">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Mark Smith</h5>
                        <h6 class="editContent">CEO & Manager</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- Team Member #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/grid/12.jpg" alt="member" class="img-fluid">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Camila Hintz</h5>
                        <h6 class="editContent">Family Lawyer</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- Team Member #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/grid/13.jpg" alt="member" class="img-fluid">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Josh Ryan</h5>
                        <h6 class="editContent">Financial Lawyer</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #team10 end -->