<!-- Team #3
============================================= -->
<section id="team3" class="section team team-3 bg-heading">
    <div class="container bg-img" style="background-image: url(assets/images/background/pattern/1.png);">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-15 heading-center mb-70">
                    <div class="heading-icon">
                        <i class="crown-nonprofit-5"></i>
                    </div>
                    <h2 class="editContent heading-title color-white">Our latest Donators</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and
                        highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- Team Member #1 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/thumb/1.png" alt="member">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Mark Smith</h5>
                        <h6 class="editContent">Donated: <span>$55</span></h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Team Member #2 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/thumb/2.png" alt="member">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Vera Duncan</h5>
                        <h6 class="editContent">Donated: <span>$30</span></h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Team Member #3 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/thumb/3.png" alt="member">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Bryce Vaughn</h5>
                        <h6 class="editContent">Donated: <span>$17</span></h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Team Member #4 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/thumb/4.png" alt="member">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Cooper Moore</h5>
                        <h6 class="editContent">Donated: <span>$8</span></h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Team Member #5 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/thumb/5.png" alt="member">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Camila Hintz</h5>
                        <h6 class="editContent">Donated: <span>$20</span></h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Team Member #6 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="member">
                    <div class="member-donate">
                        <h6 class="editContent">BECOME A DONATOR ?</h6>
                        <a href="#" class="btn btn--white">donate now</a>
                    </div>
                </div>
            </div>
            <!-- .col-lg-2 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #team3 end -->