<!-- Team #7
============================================= -->
<section id="team7" class="section team team-7">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-12 heading-center mb-70">
                    <h2 class="editContent heading-title">Meet <span class="color-theme">the team</span></h2>
                    <div class="heading-icon"></div>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and
                        highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- Team Member #1 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/thumb/7.png" alt="member">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Mark Smith</h5>
                        <h6 class="editContent">Cardiac Clinic</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Team Member #2 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/thumb/8.png" alt="member">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Vera Duncan</h5>
                        <h6 class="editContent">Pediatrics Clinic</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Team Member #3 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/thumb/9.png" alt="member">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Bryce Vaughn</h5>
                        <h6 class="editContent">Gynaecological Clinic</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Team Member #4 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/thumb/10.png" alt="member">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Cooper Moore</h5>
                        <h6 class="editContent">Primary Health Care</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Team Member #5 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/thumb/11.png" alt="member">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Camila Hintz</h5>
                        <h6 class="editContent">Dermatology Clinic</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Team Member #6 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/thumb/12.png" alt="member">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Josh Ryan</h5>
                        <h6 class="editContent">Neurology Clinic</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-2 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #team7 end -->