<!-- Team #4
============================================= -->
<section id="team4" class="section team team-4 pt-0 pb-0 bg-gray">
    <div class="container">
        <div class="row member">
            <div class="col-sm-12 col-md-12 col-lg-5 member-img-container">
                <div class="member-img bg-img" style="background-image: url(assets/images/team/full/1.jpg);">
                </div>
                <!-- .member-img end -->
            </div>
            <!-- .col-lg-5 end -->
            <div class="col-sm-12 col-md-12 col-lg-5 offset-lg-5 col-content">
                <div class="heading heading-1">
                    <h2 class="editContent heading-title">The Groom</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you with fully
                        responsiveness.</p>
                </div>
                <!-- .heading end -->
                <div class="member-info">
                    <p class="editContent">When an unknown printer took a galley of type and scrambled it to make a type specimen
                        book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s...</p>
                    <img src="assets/images/team/signature/1.png" alt="signature">
                </div>
            </div>
            <!-- .col-lg-5 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #team4 end -->