<!-- Team #9
============================================= -->
<section id="team9" class="section team team-9 bg-heading">
    <div class="container">
        <div class="row">
            <!-- Team Member #1 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/grid/7.jpg" alt="member" class="img-fluid">
                    </div>
                    <!-- .member-img end -->
                    <div class="member--overlay">
                        <div class="member-info">
                            <h5 class="editContent">Vera Duncan</h5>
                            <h6 class="editContent">Singer</h6>
                        </div>
                        <!-- .member-info end -->
                    </div>
                    <!-- .member-overlay end -->
                </div>
            </div>
            <!-- .col-lg-3 end -->
            <!-- Team Member #2 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/grid/8.jpg" alt="member" class="img-fluid">
                    </div>
                    <!-- .member-img end -->
                    <div class="member--overlay">
                        <div class="member-info">
                            <h5 class="editContent">Bryce Vaughn</h5>
                            <h6 class="editContent">Singer</h6>
                        </div>
                        <!-- .member-info end -->
                    </div>
                    <!-- .member-overlay end -->
                </div>
            </div>
            <!-- .col-lg-3 end -->
            <!-- Team Member #3 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/grid/9.jpg" alt="member" class="img-fluid">
                    </div>
                    <!-- .member-img end -->
                    <div class="member--overlay">
                        <div class="member-info">
                            <h5 class="editContent">Mark Smith</h5>
                            <h6 class="editContent">Guitar</h6>
                        </div>
                        <!-- .member-info end -->
                    </div>
                    <!-- .member-overlay end -->
                </div>
            </div>
            <!-- .col-lg-3 end -->
            <!-- Team Member #3 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/grid/10.jpg" alt="member" class="img-fluid">
                    </div>
                    <!-- .member-img end -->
                    <div class="member--overlay">
                        <div class="member-info">
                            <h5 class="editContent">Cooper Moore</h5>
                            <h6 class="editContent">Drums</h6>
                        </div>
                        <!-- .member-info end -->
                    </div>
                    <!-- .member-overlay end -->
                </div>
            </div>
            <!-- .col-lg-3 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #team9 end -->