<!-- Team #2
============================================= -->
<section id="team2" class="section team team-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-13 heading-center mb-70">
                    <p class="editContent heading-subtitle">Great Team</p>
                    <h2 class="editContent heading-title">OUR INSTRUCTORS</h2>
                    <div class="heading-icon"></div>
                </div>
            </div>
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- Team Member #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/grid/1.jpg" alt="member" class="img-fluid">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Cooper Moore</h5>
                        <p class="editContent">crown Web page template it is simply dummy text of the printing and typesetting
                            industry</p>
                    </div>
                    <!-- .member-info end -->
                    <div class="member-social">
                        <a href=""><i <i class="crownicon fa fa-facebook"></i></a>
                        <a href=""><i <i class="crownicon fa fa-twitter"></i></a>
                        <a href=""><i <i class="crownicon fa fa-google-plus"></i></a>
                        <a href=""><i <i class="crownicon fa fa-instagram"></i></a>
                    </div>
                    <!-- .member-social end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- Team Member #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/grid/2.jpg" alt="member" class="img-fluid">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Camila Hintz</h5>
                        <p class="editContent">crown Web page template it is simply dummy text of the printing and typesetting
                            industry</p>
                    </div>
                    <!-- .member-info end -->
                    <div class="member-social">
                        <a href=""><i <i class="crownicon fa fa-facebook"></i></a>
                        <a href=""><i <i class="crownicon fa fa-twitter"></i></a>
                        <a href=""><i <i class="crownicon fa fa-google-plus"></i></a>
                        <a href=""><i <i class="crownicon fa fa-instagram"></i></a>
                    </div>
                    <!-- .member-social end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- Team Member #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/grid/3.jpg" alt="member" class="img-fluid">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Josh Ryan</h5>
                        <p class="editContent">crown Web page template it is simply dummy text of the printing and typesetting
                            industry</p>
                    </div>
                    <!-- .member-info end -->
                    <div class="member-social">
                        <a href=""><i <i class="crownicon fa fa-facebook"></i></a>
                        <a href=""><i <i class="crownicon fa fa-twitter"></i></a>
                        <a href=""><i <i class="crownicon fa fa-google-plus"></i></a>
                        <a href=""><i <i class="crownicon fa fa-instagram"></i></a>
                    </div>
                    <!-- .member-social end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #team2 end -->