<!-- Team #1
============================================= -->
<section id="team1" class="section team team-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1 heading-center mb-70">
                    <p class="editContent heading-subtitle color-theme">Our Speakers</p>
                    <h2 class="editContent heading-title">our event Speakers</h2>
                    <p class="editContent heading-desc">Duis aute irure dolor in reprehenderit volupte velit
                        esse cillum fugiat pariature occaecat cupidatat proident culpa.</p>
                </div>
            </div><!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- Team Member #1 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/thumb/1.png" alt="member">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Mark Smith</h5>
                        <h6 class="editContent">Envato Inc.</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Team Member #2 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/thumb/2.png" alt="member">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Vera Duncan</h5>
                        <h6 class="editContent">PayPal Inc.</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Team Member #3 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/thumb/3.png" alt="member">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Bryce Vaughn</h5>
                        <h6 class="editContent">Unbounce Inc.</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Team Member #4 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/thumb/4.png" alt="member">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Cooper Moore</h5>
                        <h6 class="editContent">Concept Inc.</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Team Member #5 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/thumb/5.png" alt="member">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Camila Hintz</h5>
                        <h6 class="editContent">Crown Inc.</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Team Member #6 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/thumb/6.png" alt="member">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5 class="editContent">Josh Ryan</h5>
                        <h6 class="editContent">Google Inc.</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-2 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #team1 end -->