<!-- Testimonials #8
============================================= -->
<section id="testimonials8" class="section testimonials testimonials-8 text-center bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1 heading-center mb-70">
                    <h2 class="editContent heading-title">Customers love crown</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="testimonial-panel">
                    <div class="testimonial-meta">
                        <div class="testimonial-img">
                            <img src="assets/images/testimonials/full/1.png" alt="img" class="img-fluid">
                        </div>
                        <h4 class="editContent">Vera Duncan</h4>
                        <p class="editContent">PayPal Inc.</p>
                    </div>
                    <!-- .testimonial-meta end -->
                    <div class="testimonial-body">
                        <p class="editContent">Crown GYM help me to lose weight when I decided to finally change my life and get
                            the best look </p>
                    </div>
                    <!-- .testimonial-body end -->
                </div>
                <!-- .testimonial-panel end -->
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #testimonials8 end -->