<!-- Testimonials #17
============================================= -->
<section id="testimonials17" class="section testimonials testimonials-17 text-center bg-img" style="background-image: url(assets/images/background/12.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
                <div class="carousel  owl-carousel" data-slide="1" data-slide-rs="1" data-autoplay="true"
                    data-nav="false" data-dots="false" data-space="20" data-loop="true" data-speed="800">
                    <!-- Testimonial #1 -->
                    <div class="testimonial-panel">
                        <div class="testimonial--icon"></div>
                        <div class="testimonial-body">
                            <p class="editContent">Crown Seo team helped us to create solutions that improved our existing
                                platforms. </p>
                        </div>
                        <!-- .testimonial-body end -->
                        <div class="testimonial-meta">
                            <h4 class="editContent">Mark Smith</h4>
                            <p class="editContent">Envato Inc.</p>
                        </div>
                        <!-- .testimonial-meta end -->
                    </div>
                    <!-- .testimonial-panel end -->
                    <!-- Testimonial #2 -->
                    <div class="testimonial-panel">
                        <div class="testimonial--icon"></div>
                        <div class="testimonial-body">
                            <p class="editContent">It’s just brilliant. I will recommend crown to everyone I know ! I’m really glad
                                to these guys got crown . </p>
                        </div>
                        <!-- .testimonial-body end -->
                        <div class="testimonial-meta">
                            <h4 class="editContent">Vera Duncan</h4>
                            <p class="editContent">google Inc.</p>
                        </div>
                        <!-- .testimonial-meta end -->
                    </div>
                    <!-- .testimonial-panel end -->
                </div>
                <!-- #testimonial-carousel end -->
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #testimonials17 end -->