<!-- Testimonials #12
============================================= -->
<section id="testimonials12" class="section testimonials testimonials-8 testimonials-12 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-16 heading-center mb-70">
                    <p class="editContent heading-subtitle">Best Clients</p>
                    <h2 class="editContent heading-title">Testimonials</h2>
                    <div class="heading-divider heading-divider5 divider--center"></div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="testimonial-panel">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-5 order-2 order-md-1">
                            <div class="testimonial-img">
                                <img src="assets/images/testimonials/full/2.png" alt="img" class="img-fluid">
                            </div>
                        </div>
                        <!-- .col-lg-5 end -->
                        <div class="col-sm-12 col-md-6 col-lg-6 order-1 order-md-2">
                            <div class="testimonial-content">
                                <div class="testimonial-meta">
                                    <h4 class="editContent">Cooper Moore</h4>
                                    <p class="editContent">PayPal Inc.</p>
                                </div>
                                <!-- .testimonial-meta end -->
                                <div class="testimonial-body">
                                    <p class="editContent">Thank you so much Crown Agency for all your help in planning our trip
                                        recently to Ireland and London.</p>
                                </div>
                                <!-- .testimonial-body end -->
                            </div>
                        </div>
                        <!-- .col-lg-6 end -->
                    </div>
                    <!-- .row end -->
                </div>
                <!-- .testimonial-panel end -->
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #testimonials12 end -->