<!-- Testimonials #14
============================================= -->
<section id="testimonials14" class="section testimonials testimonials-14 bg-img" style="background-image: url(assets/images/pattern/2.png);background-repeat: repeat;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-20 heading-center mb-70">
                    <p class="editContent heading-subtitle">Best Clients</p>
                    <h2 class="editContent heading-title">Testimonial</h2>
                    <div class="heading-icon"></div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="carousel  owl-carousel" data-slide="3" data-slide-rs="2" data-autoplay="true"
                    data-nav="false" data-dots="false" data-space="20" data-loop="true" data-speed="800">
                    <!-- Testimonial #1 -->
                    <div class="testimonial-panel">
                        <div class="testimonial-content">
                            <div class="testimonial-img">
                                <img src="assets/images/testimonials/thumbs/1.png" alt="thumb">
                            </div>
                            <!-- .testimonial-img end -->
                            <div class="testimonial-meta">
                                <h4 class="editContent">Mark Smith</h4>
                                <p class="editContent">Envato Inc.</p>
                            </div>
                            <!-- .testimonial-meta end -->
                        </div>
                        <div class="testimonial-body">
                            <p class="editContent">It’s just brilliant. I will recommend crown to everyone I know ! I’m really glad
                                to these guys. </p>
                        </div>
                        <!-- .testimonial-body end -->
                    </div>
                    <!-- .testimonial-panel end -->
                    <!-- Testimonial #2 -->
                    <div class="testimonial-panel">
                        <div class="testimonial-content">
                            <div class="testimonial-img">
                                <img src="assets/images/testimonials/thumbs/5.png" alt="thumb">
                            </div>
                            <!-- .testimonial-img end -->
                            <div class="testimonial-meta">
                                <h4 class="editContent">Vera Duncan</h4>
                                <p class="editContent">PayPal Inc.</p>
                            </div>
                            <!-- .testimonial-meta end -->
                        </div>
                        <div class="testimonial-body">
                            <p class="editContent">In my job as social media strategist, I've tried every analytics product on the
                                market. </p>
                        </div>
                        <!-- .testimonial-body end -->
                    </div>
                    <!-- .testimonial-panel end -->
                    <!-- Testimonial #3 -->
                    <div class="testimonial-panel">
                        <div class="testimonial-content">
                            <div class="testimonial-img">
                                <img src="assets/images/testimonials/thumbs/6.png" alt="thumb">
                            </div>
                            <!-- .testimonial-img end -->
                            <div class="testimonial-meta">
                                <h4 class="editContent">Bryce Vaughn</h4>
                                <p class="editContent">Unbounce Inc.</p>
                            </div>
                            <!-- .testimonial-meta end -->
                        </div>
                        <div class="testimonial-body">
                            <p class="editContent">My project was a simple task, but the persistence & determination of the team .
                            </p>
                        </div>
                        <!-- .testimonial-body end -->
                    </div>
                    <!-- .testimonial-panel end -->
                </div>
                <!-- #testimonial-carousel end -->
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #testimonials14 end -->