<!-- Testimonials #4
============================================= -->
<section id="testimonials4" class="section testimonials testimonials-3 testimonials-4 text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1 heading-center mb-70">
                    <p class="editContent heading-subtitle color-theme">Build your website</p>
                    <h2 class="editContent heading-title">Start Your business</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="carousel  owl-carousel" data-slide="3" data-slide-rs="2" data-autoplay="false"
                    data-nav="false" data-dots="false" data-space="20" data-loop="true" data-speed="800">
                    <!-- Testimonial #1 -->
                    <div class="testimonial-panel">
                        <div class="testimonial-panel-warp">
                            <div class="testimonial-meta">
                                <div class="testimonial-img">
                                    <img src="assets/images/testimonials/thumbs/4.png" alt="thumb">
                                </div>
                                <h4 class="editContent">Mark Smith</h4>
                                <p class="editContent"> Envato inc.</p>
                            </div>
                            <!-- .testimonial-meta end -->
                            <div class="testimonial-body">
                                <p class="editContent">It’s just brilliant. I will recommend crown to everyone I know! I’m really
                                    glad to these guys.</p>
                            </div>
                            <!-- .testimonial-body end -->
                            <div class="testimonial-rating">
                                <i <i class="crownicon fa fa-star"></i>
                                <i <i class="crownicon fa fa-star"></i>
                                <i <i class="crownicon fa fa-star"></i>
                                <i <i class="crownicon fa fa-star"></i>
                                <i <i class="crownicon fa fa-star"></i>
                            </div>
                            <!-- .testimonial-rating end -->
                        </div>
                    </div>
                    <!-- .testimonial-panel end -->
                    <!-- Testimonial #2 -->
                    <div class="testimonial-panel">
                        <div class="testimonial-panel-warp">
                            <div class="testimonial-meta">
                                <div class="testimonial-img">
                                    <img src="assets/images/testimonials/thumbs/5.png" alt="thumb">
                                </div>
                                <h4 class="editContent">Vera Duncan</h4>
                                <p class="editContent">PayPal Inc.</p>
                            </div>
                            <!-- .testimonial-meta end -->
                            <div class="testimonial-body">
                                <p class="editContent">My project was a simple task, but the persistence & determination of the
                                    team turned it into a project! </p>
                            </div>
                            <!-- .testimonial-body end -->
                            <div class="testimonial-rating">
                                <i <i class="crownicon fa fa-star"></i>
                                <i <i class="crownicon fa fa-star"></i>
                                <i <i class="crownicon fa fa-star"></i>
                                <i <i class="crownicon fa fa-star"></i>
                                <i <i class="crownicon fa fa-star"></i>
                            </div>
                            <!-- .testimonial-rating end -->
                        </div>
                    </div>
                    <!-- .testimonial-panel end -->
                    <!-- Testimonial #3 -->
                    <div class="testimonial-panel">
                        <div class="testimonial-panel-warp">
                            <div class="testimonial-meta">
                                <div class="testimonial-img">
                                    <img src="assets/images/testimonials/thumbs/6.png" alt="thumb">
                                </div>
                                <h4 class="editContent">Bryce Vaughn</h4>
                                <p class="editContent">Unbounce Inc.</p>
                            </div>
                            <!-- .testimonial-meta end -->
                            <div class="testimonial-body">
                                <p class="editContent">In my job as social media strategist, I've tried every analytics product on
                                    the market .</p>
                            </div>
                            <!-- .testimonial-body end -->
                            <div class="testimonial-rating">
                                <i <i class="crownicon fa fa-star"></i>
                                <i <i class="crownicon fa fa-star"></i>
                                <i <i class="crownicon fa fa-star"></i>
                                <i <i class="crownicon fa fa-star"></i>
                                <i <i class="crownicon fa fa-star"></i>
                            </div>
                            <!-- .testimonial-rating end -->
                        </div>
                    </div>
                    <!-- .testimonial-panel end -->
                </div>
                <!-- #testimonial-carousel end -->
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #testimonials4 end -->