<!-- Heading #14
============================================= -->
<section id="heading14" class="section heading heading-14">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading-center">
                    <div class="heading-icon">
                        <i class="crown-nonprofit-4"></i>
                    </div>
                    <h2 class="editContent heading-title">donating sectors</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #heading14 end -->