<!-- Heading #22
============================================= -->
<section id="heading22" class="section heading heading-22">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading-center">
                    <p class="editContent heading-subtitle">About The Book</p>
                    <h2 class="editContent heading-title">Sell Your E-book</h2>
                    <div class="heading-divider heading-divider6">
                        <span></span><span></span><span></span><span></span><span></span>
                    </div>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #heading22 end -->