<!-- Heading #2
============================================= -->
<section id="heading2" class="section heading heading-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading-center">
                    <p class="editContent heading-subtitle color-theme">Build your website</p>
                    <h2 class="editContent heading-title">Start Your business</h2>
                    <div class="heading-divider heading-divider1 divider--center"></div>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #heading2 end -->