<!-- Heading #27
============================================= -->
<section id="heading27" class="section heading heading-24 heading-27 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading-center">
                    <h2 class="editContent heading-title">Testimonials</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                    <div class="heading-divider heading-divider8 divider--center"></div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #heading24 end -->