<!-- Heading #21
============================================= -->
<section id="heading21" class="section heading heading-21 bg-overlay bg-overlay-dark2 bg-img" style="background-image: url(assets/images/background/10.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading-center">
                    <p class="editContent heading-subtitle color-white">Great Food</p>
                    <h2 class="editContent heading-title color-white">Main Menu</h2>
                    <div class="heading-icon"></div>
                    <p class="editContent heading-desc color-white">crown impresses you with fully responsiveness and
                        highly customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #heading21 end -->