<!-- Heading #33
============================================= -->
<section id="heading33" class="section heading heading-20 heading-33 bg-img" style="background-image: url(assets/images/pattern/2.png);background-repeat: repeat;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading-center">
                    <p class="editContent heading-subtitle">Featured Food</p>
                    <h2 class="editContent heading-title">Special Dishes</h2>
                    <div class="heading-icon"></div>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #heading33 end -->