<!-- Heading #25
============================================= -->
<section id="heading25" class="section heading heading-3 heading-25">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading-center">
                    <h2 class="editContent heading-title">Application Features</h2>
                    <div class="heading-divider heading-divider2  divider--center"></div>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #heading25 end -->