<!-- Heading #31
============================================= -->
<section id="heading31" class="section heading heading-17 heading-31 bg-overlay bg-overlay-dark4 bg-img" style="background-image: url(assets/images/background/9.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading-center">
                    <h2 class="editContent heading-title color-white">Our Pricing</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                    <div class="heading-icon"></div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #heading17 end -->