<!-- Heading #16
============================================= -->
<section id="heading16" class="section heading heading-16">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading-center">
                    <p class="editContent heading-subtitle">Why you will choose us</p>
                    <h2 class="editContent heading-title">travel with Crown</h2>
                    <div class="heading-divider heading-divider5 divider--center"></div>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #heading16 end -->