<!-- Heading #19
============================================= -->
<section id="heading19" class="section heading contact-9 heading-19 bg-img" style="background-image: url(assets/images/background/6.jpg);">
    <div class="shapes">
        <div class="shape-1"></div>
        <div class="shape-2"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading-center">
                    <p class="editContent heading-subtitle">Our Services</p>
                    <h2 class="editContent heading-title color-theme">Order your Services Today</h2>
                    <div class="heading-icon"></div>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #heading19 end -->