
<!-- video #7
============================================= -->
<section id="video7" class="section video video-2 video-7 text-center bg-parallax bg-overlay bg-overlay-theme bg-img"
    style="background-image: url(assets/images/background/17.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="video-content">
                    <div class="video-button">
                        <a class="popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                            <i <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
                <!-- .video-content end -->
                <h3 class="video--title">Build a strong body</h3>
                <p class="video--desc">crown is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's since the 1500s</p>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #video7 end -->