<!-- video #3
============================================= -->
<section id="video3" class="section video video-3 text-center bg-overlay bg-overlay-light bg-img" style="background-image: url(assets/images/background/15.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="video-content">
                    <div class="video-button">
                        <a class="popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                            <i <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
                <!-- .video-content end -->
                <div class="heading heading-5 heading-center">
                    <p class="editContent heading-subtitle color-theme">How it Works?</p>
                    <h2 class="editContent heading-title">watch the video</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
                <!-- .heading end -->
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #video3 end -->