<!-- video #5
============================================= -->
<section id="video5" class="section video video-4 video-5 text-center bg-overlay bg-overlay-dark bg-img" style="background-image: url(assets/images/background/16.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-10 heading-center mb-70">
                    <h2 class="editContent heading-title color-white">watch our video</h2>
                    <div class="heading-divider heading-divider3 divider--center"></div>
                    <p class="editContent heading-desc color-white">crown impresses you with fully responsiveness and
                        highly customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
                <div class="video-button">
                    <div class="pos-vertical-center">
                        <a class="popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                            <i <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- .video-content end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #video5 end -->
