<!-- video #11
============================================= -->
<section id="video11" class="section video video-11">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-22 heading-center mb-70">
                    <p class="editContent heading-subtitle">Quick View</p>
                    <h2 class="editContent heading-title">Chapters included</h2>
                    <div class="heading-divider heading-divider6"><span></span><span></span><span></span><span></span><span></span>
                    </div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="flipping--book">
                    <a href="https://flippingbook.cld.bz/coven-magazine" class="fbc-embed" data-fbc-lightbox="yes"
                        data-fbc-width="100%" data-fbc-height="440px" data-fbc-method="site" data-fbc-version="2.9.20"
                        style="max-width: 100%">Coven</a>
                    <script async defer src="https://cld.bz/e/dTT5eut/embed.js?mode=redir&uni=2.19.4"></script>
                </div>
                <!-- .flipping-book end -->
                <div class="list">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <h4 class="editContent">01. Chapter</h4>
                            <ul class="list--content list-unstyled">
                                <li class="editContent">First Section Goes Here</li>
                                <li class="editContent">Second Section Goes Here</li>
                                <li class="editContent">third Section Goes Here</li>
                            </ul>
                        </div>
                        <!-- .col-lg-3 end -->
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <h4 class="editContent">02. Chapter</h4>
                            <ul class="list--content list-unstyled">
                                <li class="editContent">First Section Goes Here</li>
                                <li class="editContent">Second Section Goes Here</li>
                                <li class="editContent">third Section Goes Here</li>
                            </ul>
                        </div>
                        <!-- .col-lg-3 end -->
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <h4 class="editContent">03. Chapter</h4>
                            <ul class="list--content list-unstyled">
                                <li class="editContent">First Section Goes Here</li>
                                <li class="editContent">Second Section Goes Here</li>
                                <li class="editContent">third Section Goes Here</li>
                            </ul>
                        </div>
                        <!-- .col-lg-3 end -->
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <h4 class="editContent">04. Chapter</h4>
                            <ul class="list--content list-unstyled">
                                <li class="editContent">First Section Goes Here</li>
                                <li class="editContent">Second Section Goes Here</li>
                                <li class="editContent">third Section Goes Here</li>
                            </ul>
                        </div>
                        <!-- .col-lg-3 end -->
                    </div>
                    <!-- .row end -->
                </div>
                <!-- .book-chapters end -->
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #video11 end -->