<!-- video #4
============================================= -->
<section id="video4" class="section video video-4 text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-5 heading-center mb-70">
                    <h2 class="editContent heading-title">watch the video</h2>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
                <div class="video-content bg-overlay bg-overlay-dark bg-img" style="background-image: url(assets/images/video/1.jpg);">
                    <div class="video-button">
                        <div class="pos-vertical-center">
                            <a class="popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                                <i <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- .video-content end -->
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #video4 end -->