<!-- video #9
============================================= -->
<section id="video9" class="section video video-9 text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-12 heading-center mb-70">
                    <h2 class="editContent heading-title">WATCH <span class="color-theme">Our VIDEO</span></h2>
                    <div class="heading-icon">
                        <i class="crown-icon iconMoon-heart-beat"></i>
                    </div>
                    <p class="editContent heading-desc">crown impresses you with fully responsiveness and
                        highly
                        customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
                <div class="videoWrapper">
                    <iframe src="//player.vimeo.com/video/84552552" style="width:100%; border:0; overflow:hidden"
                        height="470"></iframe>
                    <div class="frameCover" data-type="video"></div>
                </div>
                <!-- .col-lg-10 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
</section>
<!-- #video9 end -->