<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

<!-- Document Meta
============================================= -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--IE Compatibility Meta-->
<meta name="author" content="zytheme" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Multi-purpose Business html5 landing page">
<link href="assets/images/favicon/favicon.png" rel="icon">

<!-- Fonts
============================================= -->
<link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i%7CPoppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- Stylesheets
============================================= -->
<link href="assets/css/external.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/themes/theme-brown.css" rel="stylesheet">

<!-- COLORS -->
<link rel="stylesheet" href="assets/css/themes/theme-default.css"/>
 <!--<link rel="stylesheet" href="assets/css/themes/theme-brown.css"/>-->
 <!--<link rel="stylesheet" href="assets/css/themes/theme-green.css"/>-->
 <!--<link rel="stylesheet" href="assets/css/themes/theme-orange.css"/>-->
 <!--<link rel="stylesheet" href="assets/css/themes/theme-red.css"/>-->
 <!--<link rel="stylesheet" href="assets/css/themes/theme-yellow.css"/>-->

<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
<script src="assets/js/html5shiv.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->

<!-- Document Title
============================================= -->
<title>Law | Crown HTML5 landing page</title>
</head>

<body class="body-scroll">
<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="wrapper clearfix">
<header id="navbar-spy" class="header header-light header-topbar">
	<div class="topbar topbar-bordered">
		<div class="container">
			<div class="row">
					<div class="col hidden-xs hidden-sm">
						<a class="module module-logo" href="index.html">
							<img class="logo-dark" src="assets/images/logo/logo-dark.png" alt="Crown Logo">
						 </a>
					</div>
					<div class="col">
						<div class="module module-info float-right">
							<span class="mr-lg-3x"><strong>Email:</strong> support@zytheme.com</span>
							<span><strong>Call us:</strong> +201093515252</span>
						</div>
					</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container">
			<a class="navbar-brand hidden-md hidden-lg" href="index.html">
				<img class="logo-dark" src="assets/images/logo/logo-dark.png" alt="Crown Logo">
			</a>
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="toogle-inner"></span>
		 	</button>
			<div class="collapse navbar-collapse" id="navbarContent">
				<ul class="navbar-nav mr-auto">
					<li class="active">
						<a data-scroll="scrollTo" href="#banner7">About us</a>
					</li>
					<li>
						<a data-scroll="scrollTo" href="#feature21">Practice Areas</a>
					</li>
					<li>
						<a data-scroll="scrollTo" href="#team10">Our Attorneys</a>
					</li>					
					<li>
						<a data-scroll="scrollTo" href="#testimonials16">Testimonials</a>
					</li>					
					<li>
						<a data-scroll="scrollTo" href="#contact12">Contact us</a>
					</li>	
				</ul>
				<div class="module-container">
					<div class="module module-btn float-right">
						<a class="btn btn-primary btn--auto" href="#">Free Consultation</a>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>

<!-- hero #24
============================================= -->
<section id="hero24" class="section hero hero-24 pt-0 pb-0 bg-overlay bg-overlay-dark4 pb-0 bg-parallax bg-img" style="background-image: url(assets/images/background/54.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 order-2 order-lg-1 d-flex flex-column hero-column justify-content-end">
                <div class="hero-img">
                    <img src="assets/images/hero/6.png" alt="hero" class="img-fluid">
                </div>
                <!-- .hero-img end -->
            </div>
            <!-- .col-lg-6 end -->
            <div class="col-sm-6 col-md-6 col-lg-6 order-1 order-lg-2 d-flex flex-column hero-column justify-content-center">
                <div class="hero-content">
                    <p class="hero-subheadline">Welcome to Right Firm</p>
                    <h1 class="hero-headline">Expert legal adviser</h1>
                    <p class="hero-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's since the 1500s</p>
                    <a href="#" class="btn btn--primary btn--inverse mb-40">Free Consultation</a>
                </div>
                <!-- .hero-content end -->
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #hero24 end -->
<!-- banner #7
============================================= -->
<section id="banner7" class="section banner banner-7 bg-gray">
    <div class="container">
        <div class="row row-no-padding bg-white">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="banner-img">
                    <img src="assets/images/banners/12.jpg" alt="image">
                </div>
            </div>
            <!-- .col-lg-6 end -->
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="banner-content">
                    <div class="heading heading-23">
                        <p class="heading-subtitle">Our Team</p>
                        <h2 class="heading-title">Expert Attorneys</h2>
                        <div class="heading-divider heading-divider7"></div>
                        <p class="heading-desc">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s...</p>
                    </div>
                    <!-- .heading end -->
                    <div class="signature--img">
                        <img src="assets/images/banners/signature2.png" alt="signature">
                    </div>
                    <!-- .signature-img end -->
                </div>
                <!-- .banner-content end -->
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
        <div class="row row-no-padding bg-heading">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="banner-content banner-content-dark">
                    <div class="heading heading-23">
                        <p class="heading-subtitle">Our Team</p>
                        <h2 class="heading-title">law advice</h2>
                        <div class="heading-divider heading-divider7"></div>
                        <p class="heading-desc">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s...</p>
                    </div>
                    <!-- .heading end -->
                    <a href="#" class="btn btn--primary">Free Consultation</a>
                </div>
                <!-- .banner-content end -->
            </div>
            <!-- .col-lg-6 end -->
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="banner-img">
                    <img src="assets/images/banners/13.jpg" alt="image">
                </div>
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #banner7 end -->


<!-- Counter #6
============================================= -->
<section id="counter6" class="section counter counter-6 text-center bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-23 text--center mb-70">
                    <p class="heading-subtitle">Some Facts</p>
                    <h2 class="heading-title">we are here for you</h2>
                    <div class="heading-divider heading-divider7 divider--center"></div>
                    <p class="heading-desc">Great success rate, recovering millions every year since 1992. If you or someone you love has suffered the consequences of another person’s negligence.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- count #1 -->
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <div class="count-box">
                    <div class="counting-icon"><i class="flaticon-gavel"></i></div>
                    <div class="counting">736</div>
                    <div class="count-title">Cases won</div>
                </div>
            </div>
            <!-- .col-lg-3 end -->

            <!-- count #2 -->
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <div class="count-box">
                    <div class="counting-icon"><i class="flaticon-oath"></i></div>
                    <div class="counting">195</div>
                    <div class="count-title">Skilled lawyers</div>
                </div>
            </div>
            <!-- .col-lg-3 end -->
            <!-- count #3 -->
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <div class="count-box">
                    <div class="counting-icon"><i class="flaticon-libra"></i></div>
                    <div class="counting">3841</div>
                    <div class="count-title">Happy clients</div>
                </div>
            </div>
            <!-- .col-lg-3 end -->
            <!-- count #4 -->
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <div class="count-box">
                    <div class="counting-icon"><i class="flaticon-newspaper"></i></div>
                    <div class="counting">548</div>
                    <div class="count-title">Honors & Rewards</div>
                </div>
            </div>
            <!-- .col-lg-3 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #counter6 end -->

<!-- Feature #21
============================================= -->
<section id="feature21" class="section feature feature-left feature-21 pb-50 bg-overlay bg-overlay-dark4 bg-parallax bg-img" style="background-image: url(assets/images/background/2.jpg);">
    <div class="container">
        <div class="row">
            <!-- feature panel #1 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="flaticon-sheriff"></i>
                    </div>
                    <div class="feature-content">
                        <h3>Criminal Law</h3>
                        <p>crown impresses you with fully responsiveness and highly customization and flexible.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->
            <!-- feature panel #2 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="flaticon-courthouse"></i>
                    </div>
                    <div class="feature-content">
                        <h3>Creative Design</h3>
                        <p>crown impresses you with fully responsiveness and highly customization and flexible.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->
            <!-- feature panel #3 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="flaticon-student"></i>
                    </div>
                    <div class="feature-content">
                        <h3>Ultra Responsive</h3>
                        <p>crown impresses you with fully responsiveness and highly customization and flexible.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->
            <!-- feature panel #4 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="flaticon-newspaper"></i>
                    </div>
                    <div class="feature-content">
                        <h3>Discuss Idea</h3>
                        <p>crown impresses you with fully responsiveness and highly customization and flexible.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->
            <!-- feature panel #5 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="flaticon-money-bag"></i>
                    </div>
                    <div class="feature-content">
                        <h3>Easy Customization</h3>
                        <p>crown impresses you with fully responsiveness and highly customization and flexible.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->
            <!-- feature panel #6 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <i class="flaticon-footprint"></i>
                    </div>
                    <div class="feature-content">
                        <h3>Supper Support</h3>
                        <p>crown impresses you with fully responsiveness and highly customization and flexible.</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature21 end -->

<!-- Team #10
============================================= -->
<section id="team10" class="section team team-10">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-23 heading-center mb-70">
                    <p class="heading-subtitle">Our Team</p>
                    <h2 class="heading-title">Expert Attorneys</h2>
                    <div class="heading-divider heading-divider7 divider--center mb-0"></div>
                </div>
            </div>
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- Team Member #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/grid/11.jpg" alt="member" class="img-fluid">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5>Mark Smith</h5>
                        <h6>CEO & Manager</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- Team Member #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/grid/12.jpg" alt="member" class="img-fluid">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5>Camila Hintz</h5>
                        <h6>Family Lawyer</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
            <!-- Team Member #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/grid/13.jpg" alt="member" class="img-fluid">
                    </div>
                    <!-- .member-img end -->
                    <div class="member-info">
                        <h5>Josh Ryan</h5>
                        <h6>Financial Lawyer</h6>
                    </div>
                    <!-- .member-info end -->
                </div>
            </div>
            <!-- .col-lg-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #team10 end -->


<!-- Testimonials #16
============================================= -->
<section id="testimonials16" class="section testimonials testimonials-14 testimonials-16 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-11 heading-center mb-70">
                    <p class="heading-subtitle">Best Clients</p>
                    <h2 class="heading-title">Great Testimonials</h2>
                    <div class="heading-divider heading-divider7 divider--center mb-0"></div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="carousel  owl-carousel" data-slide="3" data-slide-rs="2" data-autoplay="true" data-nav="false" data-dots="false" data-space="20" data-loop="true" data-speed="800">
                    <!-- Testimonial #1 -->
                    <div class="testimonial-panel">
                        <div class="testimonial-content">
                            <div class="testimonial-img">
                                <img src="assets/images/testimonials/thumbs/1.png" alt="thumb">
                            </div>
                            <!-- .testimonial-img end -->
                            <div class="testimonial-meta">
                                <h4>Mark Smith</h4>
                                <p>Envato Inc.</p>
                            </div>
                            <!-- .testimonial-meta end -->
                        </div>
                        <div class="testimonial-body">
                            <p>It’s just brilliant. I will recommend crown to everyone I know ! I’m really glad to these guys </p>
                        </div>
                        <!-- .testimonial-body end -->
                    </div>
                    <!-- .testimonial-panel end -->
                    <!-- Testimonial #2 -->
                    <div class="testimonial-panel">
                        <div class="testimonial-content">
                            <div class="testimonial-img">
                                <img src="assets/images/testimonials/thumbs/5.png" alt="thumb">
                            </div>
                            <!-- .testimonial-img end -->
                            <div class="testimonial-meta">
                                <h4>Vera Duncan</h4>
                                <p>PayPal Inc.</p>
                            </div>
                            <!-- .testimonial-meta end -->
                        </div>
                        <div class="testimonial-body">
                            <p>In my job as social media strategist, I've tried every analytics product on the market </p>
                        </div>
                        <!-- .testimonial-body end -->
                    </div>
                    <!-- .testimonial-panel end -->
                    <!-- Testimonial #3 -->
                    <div class="testimonial-panel">
                        <div class="testimonial-content">
                            <div class="testimonial-img">
                                <img src="assets/images/testimonials/thumbs/6.png" alt="thumb">
                            </div>
                            <!-- .testimonial-img end -->
                            <div class="testimonial-meta">
                                <h4>Bryce Vaughn</h4>
                                <p>Unbounce Inc.</p>
                            </div>
                            <!-- .testimonial-meta end -->
                        </div>
                        <div class="testimonial-body">
                            <p>My project was a simple task, but the persistence & determination of the team </p>
                        </div>
                        <!-- .testimonial-body end -->
                    </div>
                    <!-- .testimonial-panel end -->
                </div>
                <!-- #testimonial-carousel end -->
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #testimonials16 end -->

<!-- Contact #12
============================================= -->
<section id="contact12" class="section contact contact-12">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-23 heading-center mb-70">
                    <p class="heading-subtitle">Contact Us</p>
                    <h2 class="heading-title">Free Consultation</h2>
                    <div class="heading-divider heading-divider7 divider--center mb-0"></div>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <form method="post" action="assets/php/contact.php" class="contactForm mb-0">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div id="resultLaw" class="contact-result"></div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" id="nameLaw" placeholder="Your Name" required>
                            </div>
                        </div>
                        <!-- .form-group end -->
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="emailLaw" placeholder="Email Address" required>
                            </div>
                        </div>
                        <!-- .form-group end -->
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="form-group">
                                <input type="text" class="form-control" name="phone" id="phoneLaw" placeholder="Phone Number" required>
                            </div>
                        </div>
                        <!-- .form-group end -->
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="form-group">
                                <input type="submit" value="Free Consultation" name="submit" class="btn btn--primary btn--block">
                            </div>
                        </div>
                        <!-- .form-group end -->
                    </div>
                    <!-- .row end -->
                </form>
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #contact12 end -->

<!-- Clients #6
============================================= -->
<section id="clients6" class="section clients clients-6 bg-overlay bg-overlay-dark4 bg-img" style="background-image: url(assets/images/clients/bg-1.jpg);">
    <div class="container">
        <div class="row">
            <!-- Client #1 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="client">
                    <a href="#"><img src="assets/images/clients/1.png" alt="client"></a>
                </div>
            </div>
            <!-- .col-lg-2 end -->

            <!-- Client #2 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="client">
                    <a href="#"><img src="assets/images/clients/2.png" alt="client"></a>
                </div>
            </div>
            <!-- .col-lg-2 end -->

            <!-- Client #3 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="client">
                    <a href="#"><img src="assets/images/clients/3.png" alt="client"></a>
                </div>
            </div>
            <!-- .col-lg-2 end -->

            <!-- Client #4 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="client">
                    <a href="#"><img src="assets/images/clients/4.png" alt="client"></a>
                </div>
            </div>
            <!-- .col-lg-2 end -->

            <!-- Client #5 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="client">
                    <a href="#"><img src="assets/images/clients/5.png" alt="client"></a>
                </div>
            </div>
            <!-- .col-lg-2 end -->

            <!-- Client #6 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="client">
                    <a href="#"><img src="assets/images/clients/6.png" alt="client"></a>
                </div>
            </div>
            <!-- .col-lg-2 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #clients6 end -->
<!-- Footer #8
============================================= -->
<footer id="footer8" class="footer footer-8">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                    <div class="widget-title">
                        <h5>Our Address</h5>
                    </div>
                    <div class="widget-contact">
                        <ul class="list-unstyled mb-0">
                            <li>795 South Park, Wonderlan <br> CA 94107, Australia</li>
                        </ul>
                    </div>
                    <!-- .footer-widget-contact end -->
                </div>
                <!-- .col-lg-4 end -->
                <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                    <div class="widget-title">
                        <h5>our phones</h5>
                    </div>
                    <div class="widget-contact">
                        <ul class="list-unstyled mb-0">
                            <li>+201093515252 - Office</li>
                            <li>+201093515252 - Fax</li>
                        </ul>
                    </div>
                    <!-- .footer-widget-contact end -->
                </div>
                <!-- .col-lg-4 end -->
                <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                    <div class="widget-title">
                        <h5>email contact</h5>
                    </div>
                    <div class="widget-contact mb-0">
                        <ul class="list-unstyled mb-0">
                            <li>info@zytheme.com</li>
                            <li>zytheme@Envato.com</li>
                        </ul>
                    </div>
                    <!-- .footer-widget-contact end -->
                </div>
                <!-- .col-lg-4 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-widget end -->
    <div class="footer-bottom text-center-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="footer-copyright">
                        <span>2019 &copy; <a href="#">Crown Template.</a> All rights reserved.</span>
                    </div>
                    <!-- .footer-copyright end -->
                </div>
                <!-- .col-lg-6 end -->
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="widget-social text-right text-center-xs mb-0">
                        <a href="#" class="linkedin"><i class="crownicon fa fa-linkedin"></i></a>
                        <a href="#" class="twitter"><i class="crownicon fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="crownicon fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="crownicon fa fa-instagram"></i></a>
                    </div>
                    <!-- .footer-widget-social end -->
                </div>
                <!-- .col-lg-6 end -->
            </div>
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-bar end -->
</footer>
<!-- #footer8 end -->
</div>
<!-- #wrapper end -->

<!-- Footer Scripts
============================================= -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/functions.js"></script>
</body>
</html>