<!DOCTYPE html>
<html dir="ltr" lang="en-US">

  <head>

    <!-- Document Meta ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE Compatibility Meta-->
    <meta name="author" content="zytheme"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Multi-purpose Business html5 landing page">
    <link href="assets/images/favicon/favicon.png" rel="icon">

    <!-- Fonts ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i%7CPoppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Stylesheets ============================================= -->
    <link href="assets/css/external.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- COLORS -->
    <link rel="stylesheet" href="assets/css/themes/theme-default.css"/>
    <!--<link rel="stylesheet" href="assets/css/themes/theme-brown.css"/>-->
    <!--<link rel="stylesheet" href="assets/css/themes/theme-green.css"/>-->
    <!--<link rel="stylesheet" href="assets/css/themes/theme-orange.css"/>-->
    <!--<link rel="stylesheet" href="assets/css/themes/theme-red.css"/>-->
    <!--<link rel="stylesheet" href="assets/css/themes/theme-yellow.css"/>-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <script src="assets/js/respond.min.js"></script> <![endif]-->

    <!-- Document Title ============================================= -->
    <title>Software | Crown HTML5 landing page</title>
  </head>

  <body class="body-scroll">
    <!-- Document Wrapper ============================================= -->
    <div id="wrapper" class="wrapper clearfix">
      <header id="navbar-spy" class="header header-transparent">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <a class="navbar-brand" href="index.html">
              <img class="logo-light" src="assets/images/logo/logo-light-vertical.png" alt="Crown Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="toogle-inner"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
              <ul class="navbar-nav  mr-auto">
                <li class="active">
                  <a data-scroll="scrollTo" href="#banner3">About</a>
                </li>
                <li>
                  <a data-scroll="scrollTo" href="#screenshoot3">ScreenShots</a>
                </li>
                <li>
                  <a data-scroll="scrollTo" href="#testimonials7">Testimonial</a>
                </li>
                <li>
                  <a data-scroll="scrollTo" href="#pricing1">Pricing</a>
                </li>
              </ul>
              <div class="module-container ml-auto">
                <div class="module module-btn">
                  <a class="btn" href="#subscription3" data-scroll="scrollTo">Free Trial</a>
                </div>
                <div class="module module-btn ml-lg-x">
                  <a class="btn btn-white" href="#subscription3" data-scroll="scrollTo">Download</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>
      
      <!-- hero #9 ============================================= -->
      <section id="hero9" class="section hero hero-9 pb-0 text-center bg-img" style="background-image: url(assets/images/background/29.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
              <div class="hero-content">
                <h1 class="hero-headline">crown is awesome software app</h1>
                <p class="hero-desc">crown template is simply dummy text of the printing and typesetting industry.
                  <br>
                  crown has been the industry's since the 1500s</p>
              </div>
              <!-- .hero-content -->
            </div>
            <!-- .col-lg-10 end -->
          </div>
          <!-- .row end -->
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="mockup-img">
                <img src="assets/images/screenshoots/13.png" alt="mockup" class="img-fluid">
              </div>
              <!-- .mockup-img -->
            </div>
            <!-- .col-lg-12 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #hero9 end -->
      <!-- Feature #7 =========================================== -->
      <section id="feature7" class="section feature feature-7 text-center">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
              <div class="heading heading-5 mb-70 heading-center">
                <p class="heading-subtitle color-theme">Build your website</p>
                <h2 class="heading-title">Start Your management</h2>
                <p class="heading-desc">crown impresses you with fully responsiveness and highly customization. We did it in combination of very clean impresses you.</p>
              </div>
            </div>
            <!-- .col-lg-8 end -->
          </div>
          <!-- .row end -->
          <div class="row">
            <!-- feature Panel #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
              <div class="feature-panel">
                <div class="feature-icon">
                  <img src="assets/images/features/icons/3.png" alt="img">
                </div>
                <div class="feature-content">
                  <h3>Setup it</h3>
                  <p>crown template is simply dummy text of the printing and typesetting
                  </p>
                </div>
              </div>
              <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature Panel #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
              <div class="feature-panel">
                <div class="feature-icon">
                  <img src="assets/images/features/icons/4.png" alt="img">
                </div>
                <div class="feature-content">
                  <h3>Edit it</h3>
                  <p>crown template is simply dummy text of the printing and typesetting
                  </p>
                </div>
              </div>
              <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature Panel #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
              <div class="feature-panel">
                <div class="feature-icon">
                  <img src="assets/images/features/icons/5.png" alt="img">
                </div>
                <div class="feature-content">
                  <h3>Enjoy it</h3>
                  <p>crown template is simply dummy text of the printing and typesetting
                  </p>
                </div>
              </div>
              <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #feature7 end -->

      <!-- banner #3 ============================================= -->
      <section id="banner3" class="section banner banner-3 bg-gray">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-5">
              <div class="heading heading-1">
                <p class="heading-subtitle color-theme">Awesome Tools</p>
                <h2 class="heading-title">GET A BETTER RESULTS</h2>
                <p class="heading-desc">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s...</p>
              </div>
              <!-- .heading end -->
            </div>
            <!-- .col-lg-5 end -->
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 offset-lg-1">
              <div class="banner-img text-right">
                <img src="assets/images/banners/4.png" alt="banner" class="img-fluid">
              </div>
            </div>
            <!-- .col-lg-6 end -->
          </div>
          <!-- .row end -->
          <hr>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <div class="banner-img">
                <img src="assets/images/banners/5.png" alt="banner" class="img-fluid">
              </div>
            </div>
            <!-- .col-lg-6 end -->
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 offset-lg-1">
              <div class="heading heading-1">
                <p class="heading-subtitle color-theme">Greate Template</p>
                <h2 class="heading-title">Powerful & simple</h2>
                <p class="heading-desc">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s...</p>
              </div>
              <!-- .heading end -->
            </div>
            <!-- .col-lg-5 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #banner3 end -->

      <!-- video #6 ============================================= -->
      <section id="video6" class="section video video-4 video-6 text-center">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
              <div class="heading heading-1 heading-center mb-70">
                <p class="heading-subtitle color-theme">Software Video</p>
                <h2 class="heading-title">Great preview</h2>
                <p class="heading-desc">crown impresses you with fully responsiveness and highly customization. We did it in combination of very clean impresses you.</p>
              </div>
            </div>
          </div>
          <!-- .row end -->
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
              <div class="video-content bg-overlay bg-overlay-dark bg-img" style="background-image: url(assets/images/video/3.jpg);">
                <div class="video-button">
                  <div class="pos-vertical-center">
                    <a class="popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                      <i class="fa fa-play"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- .video-content end -->
            </div>
            <!-- .col-lg-8 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #video6 end -->

      <!-- screenshoot #3 ============================================= -->
      <section id="screenshoot3" class="section screenshoot screenshoot-3 bg-gray">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
              <div class="heading heading-1 heading-center mb-70">
                <p class="heading-subtitle color-theme">Screenshots</p>
                <h2 class="heading-title">software shots</h2>
                <p class="heading-desc">crown impresses you with fully responsiveness and highly customization. We did it in combination of very clean impresses you.</p>
              </div>
            </div>
            <!-- .col-lg-8 end -->
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="carousel  owl-carousel" data-slide="3" data-slide-rs="2" data-autoplay="true" data-nav="false" data-dots="false" data-space="20" data-loop="true" data-speed="800">
                <div class="screenshoot-item">
                  <img src="assets/images/screenshoots/5.jpg" alt="screenshoot">
                </div>
                <!-- .screenshoot-item end -->
                <div class="screenshoot-item">
                  <img src="assets/images/screenshoots/6.jpg" alt="screenshoot">
                </div>
                <!-- .screenshoot-item end -->
                <div class="screenshoot-item">
                  <img src="assets/images/screenshoots/7.jpg" alt="screenshoot">
                </div>
                <!-- .screenshoot-item end -->
                <div class="screenshoot-item">
                  <img src="assets/images/screenshoots/5.jpg" alt="screenshoot">
                </div>
                <!-- .screenshoot-item end -->
                <div class="screenshoot-item">
                  <img src="assets/images/screenshoots/6.jpg" alt="screenshoot">
                </div>
                <!-- .screenshoot-item end -->
                <div class="screenshoot-item">
                  <img src="assets/images/screenshoots/7.jpg" alt="screenshoot">
                </div>
                <!-- .screenshoot-item end -->
              </div>
            </div>
            <!-- .col-lg-12 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #screenshoot3 end -->

      <!-- Testimonials #7 ============================================= -->
      <section id="testimonials7" class="section testimonials testimonials-7">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
              <div class="heading heading-1 heading-center mb-70">
                <p class="heading-subtitle color-theme">Best Clients</p>
                <h2 class="heading-title">Our trusted partners</h2>
                <p class="heading-desc">crown impresses you with fully responsiveness and highly customization. We did it in combination of very clean impresses you.</p>
              </div>
            </div>
            <!-- .col-lg-8 end -->
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="carousel  owl-carousel" data-slide="2" data-slide-rs="2" data-autoplay="true" data-nav="false" data-dots="false" data-space="20" data-loop="true" data-speed="800">
                <!-- Testimonial #1 -->
                <div class="testimonial-panel">
                  <div class="testimonial-img">
                    <img src="assets/images/testimonials/thumbs/1.png" alt="thumb">
                  </div>
                  <!-- .testimonial-img end -->
                  <div class="testimonials-content">
                    <div class="testimonial-body">
                      <p>It’s just brilliant. I will recommend crown to everyone I know ! I’m really glad to these guys got crown out there.</p>
                    </div>
                    <!-- .testimonial-body end -->
                    <div class="testimonial-meta">
                      <h4>Mark Smith</h4>
                    </div>
                    <!-- .testimonial-meta end -->
                  </div>
                </div>
                <!-- .testimonial-panel end -->
                <!-- Testimonial #2 -->
                <div class="testimonial-panel">
                  <div class="testimonial-img">
                    <img src="assets/images/testimonials/thumbs/2.png" alt="thumb">
                  </div>
                  <!-- .testimonial-img end -->
                  <div class="testimonials-content">
                    <div class="testimonial-body">
                      <p>My project was a simple task, but the persistence & determination of the team turned it into a project!
                      </p>
                    </div>
                    <!-- .testimonial-body end -->
                    <div class="testimonial-meta">
                      <h4>Vera Duncan</h4>
                    </div>
                    <!-- .testimonial-meta end -->
                  </div>
                </div>
                <!-- .testimonial-panel end -->
                <!-- Testimonial #3 -->
                <div class="testimonial-panel">
                  <div class="testimonial-img">
                    <img src="assets/images/testimonials/thumbs/5.png" alt="thumb">
                  </div>
                  <!-- .testimonial-img end -->
                  <div class="testimonials-content">
                    <div class="testimonial-body">
                      <p>In my job as social media strategist, I've tried every analytics product on the market. it is amazing agency.</p>
                    </div>
                    <!-- .testimonial-body end -->
                    <div class="testimonial-meta">
                      <h4>Bryce Vaughn</h4>
                    </div>
                    <!-- .testimonial-meta end -->
                  </div>
                </div>
                <!-- .testimonial-panel end -->
              </div>
              <!-- #testimonial-carousel end -->
            </div>
            <!-- .col-lg-12 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #testimonials7 end -->

      <!-- Pricing #1 ============================================= -->
      <section id="pricing1" class="section pricing pricing-1 bg-gray">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
              <div class="heading heading-1 heading-center mb-70">
                <p class="heading-subtitle color-theme">Pricing Table</p>
                <h2 class="heading-title">Our Great Price</h2>
                <p class="heading-desc">crown impresses you with fully responsiveness and highly customization. We did it in combination of very clean impresses you.</p>
              </div>
            </div>
            <!-- .col-lg-8 end -->
          </div>
          <!-- .row end -->
          <div class="row">
            <!-- Pricing table #1 -->
            <div class="col-sm-12 col-md-12 col-lg-4 price-table price-table-1">
              <div class="pricing-panel">
                <div class="pricing-heading text--center">
                  <h4>Free Plan</h4>
                  <p>Free<span class="time">Per Month</span></p>
                  <a class="btn btn--primary" href="#">Get Started</a>
                </div>
                <!-- .pricing-heading end -->
                <div class="pricing--body">
                  <ul class="pricing-list list-unstyled">
                    <li>10MB - storage</li>
                    <li>Activity - events and stats</li>
                    <li class="inactive">Workflow - manage projects</li>
                    <li class="inactive">Tasks - comments as a tasks</li>
                    <li class="inactive">Storage - manage your files</li>
                    <li class="inactive">Teams - create and manage</li>
                  </ul>
                </div>
                <!-- .pricing-body end -->
              </div>
            </div>
            <!-- .pricing-table End -->
            <!-- Pricing table #2 -->
            <div class="col-sm-12 col-md-12 col-lg-4 price-table price-table-2">
              <div class="pricing-panel">
                <div class="pricing-top">Best choice</div>
                <div class="pricing-heading text--center">
                  <div class="ribbon"></div>
                  <h4>Professional</h4>
                  <p>$10<span class="time">Per Month</span></p>
                  <a class="btn btn--white" href="#">Get Started</a>
                </div>
                <!-- .pricing-heading end -->
                <div class="pricing--body">
                  <ul class="pricing-list list-unstyled">
                    <li>10MB - storage</li>
                    <li>Activity - events and stats</li>
                    <li>Workflow - manage projects</li>
                    <li>Tasks - comments as a tasks</li>
                    <li class="inactive">Storage - manage your files</li>
                    <li class="inactive">Teams - create and manage</li>
                  </ul>
                </div>
                <!-- .pricing-body end -->
              </div>
            </div>
            <!-- .pricing-table End -->
            <!-- Pricing table #3 -->
            <div class="col-sm-12 col-md-12 col-lg-4 price-table price-table-3">
              <div class="pricing-panel">
                <div class="pricing-heading text--center">
                  <h4>Team</h4>
                  <p>$19<span class="time">Per Month</span></p>
                  <a class="btn btn--primary" href="#">Get Started</a>
                </div>
                <!-- .pricing-heading end -->
                <div class="pricing--body">
                  <ul class="pricing-list list-unstyled">
                    <li>10MB - storage</li>
                    <li>Activity - events and stats</li>
                    <li>Workflow - manage projects</li>
                    <li>Tasks - comments as a tasks</li>
                    <li>Storage - manage your files</li>
                    <li>Teams - create and manage</li>
                  </ul>
                </div>
                <!-- .pricing-body end -->
              </div>
            </div>
            <!-- .pricing-table End -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #pricing1 end -->

      <!-- subscription #3 ============================================= -->
      <section id="subscription3" class="section subscription subscription-3 text-center bg-img" style="background-image: url(assets/images/background/29.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
              <div class="heading heading-1 heading-center">
                <h2 class="heading-title">Subscribe to all new updates</h2>
                <p class="heading-desc">crown impresses you with fully responsiveness and highly customization. We did it in combination of very clean impresses you.</p>
              </div>
              <!-- .heading end -->
              <div class="form-subscription">
                <div class="subscribe-alert"></div>
                <form class="mailchimp">
                  <input type="email" id="subscriptionEmail" class="form-control" name="subscriptionEmail" placeholder="Email Address" required="required"/>
                  <button class="btn btn--primary" type="submit">subscribe</button>
                </form>
              </div>
              <!-- .subscription-form end -->
            </div>
            <!-- .col-md-8 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #subscription3 end -->

      <!-- Footer #7 ============================================= -->
      <footer id="footer7" class="footer footer-7">
        <div class="footer-top">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-5 col-lg-4">
                <div class="widget-logo">
                  <a href="#">
                    <img src="assets/images/logo/footer-logo-light-horizontal.png" alt="logo">
                  </a>
                  <p>Crown is simply dummy text of the printing and typesetting industry has been since the 1500s so its amazing.</p>
                </div>
                <!-- .footer-widget-logo end -->
              </div>
              <!-- .col-lg-4 end -->
              <div class="col-sm-12 col-md-3 col-lg-3 offset-lg-1">
                <div class="widget-title">
                  <h5>helpful links</h5>
                </div>
                <div class="widget-links">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Our Company</a>
                    </li>
                    <li>
                      <a href="#">Our Location</a>
                    </li>
                    <li>
                      <a href="#">Help center</a>
                    </li>
                  </ul>
                </div>
                <!-- .footer-widget-links end -->
              </div>
              <!-- .col-lg-3 end -->
              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="widget-title">
                  <h5>Dowmload our Software</h5>
                </div>
                <div class="widget-download">
                  <div class="download-btns ">
                    <a href="#"><img src="assets/images/icons/mac.png" alt="download"></a>
                    <a href="#"><img src="assets/images/icons/microsoft.png" alt="download"></a>
                  </div>
                </div>
                <!-- .footer-widget-download end -->
              </div>
              <!-- .col-lg-4 end -->
            </div>
            <!-- .row end -->
          </div>
          <!-- .container end -->
        </div>
        <!-- .footer-widget end -->
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="footer-copyright">
                  <span>2019 &copy;
                    <a href="#">Crown Template.</a>
                    All rights reserved.</span>
                </div>
                <!-- .footer-copyright end -->
              </div>
              <!-- .col-lg-6 end -->
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="widget-social mb-0">
                  <a href="#" class="linkedin">
                    <i class="crownicon fa fa-linkedin"></i>
                  </a>
                  <a href="#" class="twitter">
                    <i class="crownicon fa fa-twitter"></i>
                  </a>
                  <a href="#" class="facebook">
                    <i class="crownicon fa fa-facebook"></i>
                  </a>
                  <a href="#" class="instagram">
                    <i class="crownicon fa fa-instagram"></i>
                  </a>
                </div>
                <!-- .footer-widget-social end -->
              </div>
              <!-- .col-lg-6 end -->
            </div>
          </div>
          <!-- .container end -->
        </div>
        <!-- .footer-bar end -->
      </footer>
      <!-- #footer7 end -->
    </div>
    <!-- #wrapper end -->

    <!-- Footer Scripts ============================================= -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/functions.js"></script>
  </body>

</html>