<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

<!-- Document Meta
============================================= -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--IE Compatibility Meta-->
<meta name="author" content="zytheme" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Multi-purpose Business html5 landing page">
<link href="assets/images/favicon/favicon.png" rel="icon">

<!-- Fonts
============================================= -->
<link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i%7CPoppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- Stylesheets
============================================= -->
<link href="assets/css/external.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/themes/theme-green.css" rel="stylesheet">

<!-- COLORS -->
<link rel="stylesheet" href="assets/css/themes/theme-default.css"/>
 <!--<link rel="stylesheet" href="assets/css/themes/theme-brown.css"/>-->
 <!--<link rel="stylesheet" href="assets/css/themes/theme-green.css"/>-->
 <!--<link rel="stylesheet" href="assets/css/themes/theme-orange.css"/>-->
 <!--<link rel="stylesheet" href="assets/css/themes/theme-red.css"/>-->
 <!--<link rel="stylesheet" href="assets/css/themes/theme-yellow.css"/>-->
 
<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
<script src="assets/js/html5shiv.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->

<!-- Document Title
============================================= -->
<title>Musican | Crown HTML5 landing page</title>
</head>

<body class="body-scroll">
<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="wrapper clearfix">
<header id="navbar-spy" class="header header-dark">
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container">
			<a class="navbar-brand" href="index.html">
			<img class="logo-light" src="assets/images/logo/logo-light.png" alt="Crown Logo">
		  </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="toogle-inner"></span>
		  </button>
			<div class="collapse navbar-collapse" id="navbarContent">
				<ul class="navbar-nav  ml-auto">
					<li class="active">
						<a data-scroll="scrollTo" href="#team9">Our team</a>
					</li>
					<li>
						<a data-scroll="scrollTo" href="#video12">Recent Music</a>
					</li>
					<li>
						<a data-scroll="scrollTo" href="#countdown8">The Author</a>
					</li>					
					<li>
						<a data-scroll="scrollTo" href="#contact11">Contact us</a>
					</li>					
				</ul>
				<div class="module-container">
				<div class="module module-btn">
					<a class="btn btn-secondary btn--auto" href="#">our next show</a>
				</div>
				</div>
			</div>
		</div>
	</nav>
</header>
<!-- hero #23
============================================= -->
<section id="hero23" class="section hero hero-23 text-center bg-overlay bg-overlay-dark4 bg-parallax bg-img" style="background-image: url(assets/images/background/53.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="hero-content">
                    <div class="hero-img"><img src="assets/images/hero/7.png" alt="hero"></div>
                    <p class="hero-desc">crown is simply dummy text of the printing and typesetting industry. crown has been the industry's since the 1500s.</p>
                </div>
                <!-- .hero-content end -->
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #hero23 end -->
<!-- Team #9
============================================= -->
<section id="team9" class="section team team-9 bg-heading">
    <div class="container">
        <div class="row">
            <!-- Team Member #1 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/grid/7.jpg" alt="member" class="img-fluid">
                    </div>
                    <!-- .member-img end -->
                    <div class="member--overlay">
                        <div class="member-info">
                            <h5>Vera Duncan</h5>
                            <h6>Singer</h6>
                        </div>
                        <!-- .member-info end -->
                    </div>
                    <!-- .member-overlay end -->
                </div>
            </div>
            <!-- .col-lg-3 end -->
            <!-- Team Member #2 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/grid/8.jpg" alt="member" class="img-fluid">
                    </div>
                    <!-- .member-img end -->
                    <div class="member--overlay">
                        <div class="member-info">
                            <h5>Bryce Vaughn</h5>
                            <h6>Singer</h6>
                        </div>
                        <!-- .member-info end -->
                    </div>
                    <!-- .member-overlay end -->
                </div>
            </div>
            <!-- .col-lg-3 end -->
            <!-- Team Member #3 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/grid/9.jpg" alt="member" class="img-fluid">
                    </div>
                    <!-- .member-img end -->
                    <div class="member--overlay">
                        <div class="member-info">
                            <h5>Mark Smith</h5>
                            <h6>Guitar</h6>
                        </div>
                        <!-- .member-info end -->
                    </div>
                    <!-- .member-overlay end -->
                </div>
            </div>
            <!-- .col-lg-3 end -->
            <!-- Team Member #3 -->
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="member">
                    <div class="member-img">
                        <img src="assets/images/team/grid/10.jpg" alt="member" class="img-fluid">
                    </div>
                    <!-- .member-img end -->
                    <div class="member--overlay">
                        <div class="member-info">
                            <h5>Cooper Moore</h5>
                            <h6>Drums</h6>
                        </div>
                        <!-- .member-info end -->
                    </div>
                    <!-- .member-overlay end -->
                </div>
            </div>
            <!-- .col-lg-3 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #team9 end -->

<!-- video #12
============================================= -->
<section id="video12" class="section video video-12 text-center bg-overlay bg-overlay-dark2 bg-parallax bg-img" style="background-image: url(assets/images/background/7.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-4 heading-center mb-80">
                    <h2 class="heading-title color-white"> Recent Music</h2>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
                <iframe style="width:100%; border:0; overflow:hidden" height="373" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/267280943&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
                <a href="#" class="view--more"><i class="crownicon fa fa-soundcloud"></i>More On Soundcloud</a>
            </div>
            <!-- .col-lg-10 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #video12 end -->

<!-- Pricing #7
============================================= -->
<section id="pricing7" class="section pricing pricing-7 bg-heading">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-4 heading-center mb-40">
                    <h2 class="heading-title color-white">world tour dates</h2>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="date">June 6, 2019</td>
                                <td>Hiphop Arena, New Washington, USA</td>
                                <td>@LetsBeat The World Baby</td>
                                <td class="buy"><a href="#">Buy Ticket</a></td>
                            </tr>
                            <tr>
                                <td class="date">June 8, 2019</td>
                                <td>The Bay Area, California, USA</td>
                                <td>The Dark DJ Show</td>
                                <td class="buy"><a href="#">Buy Ticket</a></td>
                            </tr>
                            <tr>
                                <td class="date">June 6, 2019</td>
                                <td>Hiphop Arena, New Washington, USA</td>
                                <td>@LetsBeat The World Baby</td>
                                <td class="buy"><a href="#">Buy Ticket</a></td>
                            </tr>
                            <tr>
                                <td class="date">June 8, 2019</td>
                                <td>The Bay Area, California, USA</td>
                                <td>The Dark DJ Show</td>
                                <td class="buy"><a href="#">Buy Ticket</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- .table end -->
                <div class="pricing-icon text--center">
                    <a href="#"><i class="crownicon fa fa-ticket"></i>Grab your ticket</a>
                </div>
                <!-- .pricing-icon end -->
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #pricing7 end -->

<!-- countdown #8
============================================= -->
<section id="countdown8" class="section count-down count-down-8 text-center bg-overlay bg-overlay-dark2 bg-parallax bg-img" style="background-image: url(assets/images/background/35.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1">
                    <h2 class="heading-title">Next Show</h2>
                    <p class="heading-desc">August 6th 2019, Mansoura, Egypt</p>
                </div>
                <!-- .heading end -->
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                <div class="countdown countdown-white" data-count-date="2019, 12, 27"></div>
                <a href="#" class="btn btn--primary btn--inverse">Grab your ticket</a>
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #countdown8 end -->

<!-- screenshoot #4
============================================= -->
<section id="screenshoot4" class="section screenshoot screenshoot-4 bg-heading">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-4 heading-center mb-70">
                    <h2 class="heading-title color-white">instagram</h2>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="carousel  owl-carousel" data-slide="4" data-slide-rs="2" data-autoplay="true" data-nav="false"
                    data-dots="false" data-space="20" data-loop="true" data-speed="800">
                    <div class="screenshoot-item">
                        <img src="assets/images/screenshoots/8.jpg" alt="screenshoot">
                    </div>
                    <!-- .screenshoot-item end -->
                    <div class="screenshoot-item">
                        <img src="assets/images/screenshoots/9.jpg" alt="screenshoot">
                    </div>
                    <!-- .screenshoot-item end -->
                    <div class="screenshoot-item">
                        <img src="assets/images/screenshoots/10.jpg" alt="screenshoot">
                    </div>
                    <!-- .screenshoot-item end -->
                    <div class="screenshoot-item">
                        <img src="assets/images/screenshoots/11.jpg" alt="screenshoot">
                    </div>
                    <!-- .screenshoot-item end -->
                </div>
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="instagram--icon">
                    <i class="crownicon fa fa-instagram"></i>
                    <a href="#">FOLLOW @Crown</a>
                </div>
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #screenshoot4 end -->

<!-- Contact #11
============================================= -->
<section id="contact11" class="section contact contact-11 bg-overlay bg-overlay-dark2 bg-parallax bg-img" style="background-image: url(assets/images/background/7.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1 heading-center mb-70">
                    <h2 class="heading-title">Contact us</h2>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="form-wrap">
                    <form method="post" action="assets/php/contact.php" class="contactForm mb-0">
                        <div id="resultMusican" class="contact-result"></div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="nameMusican" placeholder="Your Name" required>
                        </div>
                        <!-- .form-group end -->
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="emailMusican" placeholder="Email Address" required>
                        </div>
                        <!-- .form-group end -->
                        <div class="form-group">
                            <input type="text" class="form-control" name="phone" id="phoneMusican" placeholder="Phone Number" required>
                        </div>
                        <!-- .form-group end -->
                        <div class="form-group">
                            <input type="submit" value="Contact Us" name="submit" class="btn btn--primary btn--inverse btn--block">
                        </div>
                        <div class="agreement">* We don’t spam customers. Check our <a href="#">Privacy Policy</a></div>
                        <!-- .form-group end -->
                    </form>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #contact11 end -->

<!-- Footer #2
============================================= -->
<footer id="footer2" class="footer footer-2 text-center">
    <!-- Widget Section
	============================================= -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="widget-logo">
                        <a href="#">
                           <img src="assets/images/logo/footer-logo-light-vertical.png" alt="logo">
                        </a>
                    </div>
                    <!-- .footer-widget-social end -->
                    <div class="widget-links">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#">Our Company</a></li>
                            <li><a href="#">Our Location</a></li>
                            <li><a href="#">Help center</a></li>
                            <li><a href="#">contact us</a></li>
                        </ul>
                    </div>
                    <!-- .footer-widget-links end -->
                    <div class="widget-social">
                        <a href="#" class="linkedin"><i class="crownicon fa fa-linkedin"></i></a>
                        <a href="#" class="twitter"><i class="crownicon fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="crownicon fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="crownicon fa fa-instagram"></i></a>
                    </div>
                    <!-- .footer-widget-social end -->
                    <div class="footer-copyright mb-0">
                        <span> 2019 &copy;  <a href="#">Crown Template.</a> All rights reserved.</span>
                    </div>
                    <!-- .footer-copyright end -->
                </div>
                <!-- .col-lg-12 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-widget end -->
</footer>
<!-- #footer2 end -->
</div>
<!-- #wrapper end -->

<!-- Footer Scripts
============================================= -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/functions.js"></script>
</body>
</html>