<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

<!-- Document Meta
============================================= -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--IE Compatibility Meta-->
<meta name="author" content="zytheme" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Multi-purpose Business html5 landing page">
<link href="assets/images/favicon/favicon.png" rel="icon">

<!-- Fonts
============================================= -->
<link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i%7CPoppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- Stylesheets
============================================= -->
<link href="assets/css/external.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">

<!-- COLORS -->
<link rel="stylesheet" href="assets/css/themes/theme-default.css"/>
 <!--<link rel="stylesheet" href="assets/css/themes/theme-brown.css"/>-->
 <!--<link rel="stylesheet" href="assets/css/themes/theme-green.css"/>-->
 <!--<link rel="stylesheet" href="assets/css/themes/theme-orange.css"/>-->
 <!--<link rel="stylesheet" href="assets/css/themes/theme-red.css"/>-->
 <!--<link rel="stylesheet" href="assets/css/themes/theme-yellow.css"/>-->

<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
<script src="assets/js/html5shiv.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->

<!-- Document Title
============================================= -->
<title>Gym | Crown HTML5 landing page</title>
</head>

<body class="body-scroll">
<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="wrapper clearfix">
<header id="navbar-spy" class="header header-transparent">
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container">
			<a class="navbar-brand" href="index.html">
			<img class="logo-light" src="assets/images/logo/logo-light-vertical.png" alt="Crown Logo">
		  </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="toogle-inner"></span>
		  </button>
			<div class="collapse navbar-collapse" id="navbarContent">
				<ul class="navbar-nav  mr-auto">
				    <li class="active">
						<a data-scroll="scrollTo" href="#feature8">About us</a>
					</li>				
				    <li>
						<a data-scroll="scrollTo" href="#contact2">Our Classes</a>
					</li>
					<li> 
						<a data-scroll="scrollTo" href="#testimonials8">Testimonial</a>
					</li>					
				</ul>
				<div class="module-container ml-auto">
				<div class="module module-btn">
					<a class="btn btn-secondary btn--auto" href="#requestQuote" data-scroll="scrollTo">request a Quote</a>
				</div>
				</div>
			</div>
		</div>
	</nav>
</header>
<!-- hero #10
============================================= -->
<section id="hero10" class="section hero hero-10 text-center bg-overlay bg-parallax bg-img" style="background-image: url(assets/images/background/17.jpg);">
    <div class="video">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                    <div class="video-content">
                        <div class="video-button">
                            <a class="popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                    <!-- .video-content end -->
                    <h1 class="hero-headline">Build a strong body</h1>
                    <p class="hero-desc">crown is simply dummy text of the printing and typesetting industry. <br> crown has been the industry's since the 1500s</p>
                </div>
                <!-- .col-lg-8 end -->
            </div>
            <!-- .row end -->
        </div>
    </div>
    <!-- .container end -->
</section>
<!-- #hero10 end -->
<!-- Services #1
=========================================== -->
<section id="services1" class="section services-1 services-6 pt-0 pb-0">
    <div class="container">
        <div class="row">
            <!-- Service panel #1 -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="service-panel">
                    <div class="service-img">
                        <img src="assets/images/services/1.jpg" alt="img">
                    </div>
                    <!-- .service-img end -->
                    <div class="service-hover">
                        <div class="pos-vertical-center">
                            <h3>Fitness Programs</h3>
                            <p>crown is simply dummy text of the printing and typesetting industry has been since the 1500s</p>
                            <a class="btn btn--primary" href="#">Learn More</a>
                        </div>
                    </div>
                    <!-- .service-hover end -->
                </div>
            </div>
            <!-- .col-lg-6 end -->
            <!-- Service panel #2 -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="service-panel">
                    <div class="service-img">
                        <img src="assets/images/services/2.jpg" alt="img">
                    </div>
                    <!-- .service-img end -->
                    <div class="service-hover">
                        <div class="pos-vertical-center">
                            <h3>Bodybuilding Programs</h3>
                            <p>crown is simply dummy text of the printing and typesetting industry has been since the 1500s</p>
                            <a class="btn btn--primary" href="#">Learn More</a>
                        </div>
                    </div>
                    <!-- .service-hover end -->
                </div>
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container -->
</section>
<!-- #services1 end -->

<!-- Feature #8
=========================================== -->
<section id="feature8" class="section feature feature-8 text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-5 mb-70 heading-center">
                    <h2 class="heading-title">Our Classes</h2>
                    <p class="heading-desc">crown impresses you with fully responsiveness and highly customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- feature panel #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/6.png" alt="img">
                    </div>
                    <div class="feature-content">
                        <h3>Fitness Classes</h3>
                        <h4>$30 / Month</h4>
                        <p>crown  is simply dummy text of the printing and typesetting ndustry has been since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/7.png" alt="img">
                    </div>
                    <div class="feature-content">
                        <h3>Boxing Classes</h3>
                        <h4>$18 / Month</h4>
                        <p>crown  is simply dummy text of the printing and typesetting ndustry has been since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->

            <!-- feature panel #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="feature-panel">
                    <div class="feature-icon">
                        <img src="assets/images/features/icons/8.png" alt="img">
                    </div>
                    <div class="feature-content">
                        <h3>Karate Classes</h3>
                        <h4>$29 / Month</h4>
                        <p>crown  is simply dummy text of the printing and typesetting ndustry has been since the 1500s</p>
                    </div>
                </div>
                <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #feature8 end -->


<!-- Testimonials #8
============================================= -->
<section id="testimonials8" class="section testimonials testimonials-8 text-center bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="heading heading-1 heading-center mb-70">
                    <h2 class="heading-title">Customers love crown</h2>
                    <p class="heading-desc">crown impresses you with fully responsiveness and highly customization. We did it in combination of very clean impresses you.</p>
                </div>
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="testimonial-panel">
                    <div class="testimonial-meta">
                        <div class="testimonial-img">
                            <img src="assets/images/testimonials/full/1.png" alt="img" class="img-fluid">
                        </div>
                        <h4>Vera Duncan</h4>
                        <p>PayPal Inc.</p>
                    </div>
                    <!-- .testimonial-meta end -->
                    <div class="testimonial-body">
                        <p>Crown GYM help me to lose weight when I decided to finally change my life and get the best look </p>
                    </div>
                    <!-- .testimonial-body end -->
                </div>
                <!-- .testimonial-panel end -->
            </div>
            <!-- .col-lg-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #testimonials8 end -->

<!-- Contact #2
============================================= -->
<section id="contact2" class="section contact contact-2 bg-overlay bg-overlay-dark2 bg-parallax bg-img" style="background-image: url(assets/images/background/3.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="heading heading-1">
                    <p class="heading-subtitle">Fitness Classes</p>
                    <h2 class="heading-title">book NOW & <span class="color-primary">GET 35% DISCOUNT</span></h2>
                    <p class="heading-desc">crown impresses you with fully responsiveness and highly customization. We did it in combination of very clean impresses you with fully responsiveness.</p>
                </div>
                <ul class="features-list list-unstyled">
                    <li>Weight Training Sets</li>
                    <li>Fitness Trainer’s Assistance</li>
                    <li>Yoga & Pilates</li>
                    <li>Body Building</li>
                </ul>
            </div>
            <!-- .col-lg-6 end -->
            <div class="col-sm-12 col-md-12 col-lg-5 offset-lg-1">
                <div class="form-wrap">
                    <div class="form-title">
                        <h4>request a Quote</h4>
                    </div>
                    <form id="requestQuote" method="post" action="assets/php/contact.php" class="contactForm mb-0">
                    <div id="resultGym" class="contact-result"></div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="nameGym" placeholder="Your Name" required>
                        </div>
                        <!-- .form-group end -->
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="emailGym" placeholder="Email Address" required>
                        </div>
                        <!-- .form-group end -->
                        <div class="form-group">
                            <div class="select-form">
                                <i class="crownicon fa fa-angle-down"></i>
                                <select name="class" id="classGym" class="form-control">
                                <option value="0">Your Class</option>
                                <option value="1">Fitness Classes</option>
                                <option value="2">Boxing Classes</option>
                                <option value="3">Karate Classes</option>
                             </select>
                            </div>
                        </div>
                        <!-- .form-group end -->
                        <div class="form-group mb-0">
                            <input type="submit" value="Be a member now" name="submit" class="btn btn--primary btn--block">
                        </div>
                        <!-- .form-group end -->
                    </form>
                </div>
            </div>
            <!-- .col-lg-5 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #contact2 end -->

<!-- Footer #5
============================================= -->
<footer id="footer5" class="footer  footer-5">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-5 col-lg-4">
                    <div class="widget widget-logo">
                        <a href="#">
                           <img src="assets/images/logo/footer-logo-light-horizontal.png" alt="logo">
                        </a>
                        <p>Crown is simply dummy text of the printing and typesetting industry has been since the 1500s so its amazing.</p>
                    </div>
                    <!-- .footer-widget-social end -->
                </div>
                <!-- .col-lg-4 end -->
                <div class="col-sm-12 col-md-3 col-lg-3 offset-lg-1">
                    <div class="widget widget-links">
                        <div class="widget-title">
                            <h5>helpful links</h5>
                        </div>
                        <ul class="list-unstyled mb-0">
                            <li><a href="#">Our Company</a></li>
                            <li><a href="#">Our Location</a></li>
                            <li><a href="#">Help center</a></li>
                        </ul>
                    </div>
                    <!-- .footer-widget-contact end -->
                 </div>
                <!-- .col-lg-3 end -->
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="widget widget-contact">
                        <div class="widget-title">
                            <h5>contact us</h5>
                        </div>
                        <ul class="list-unstyled mb-0">
                            <li>Address: 795 South Park, Wonderlan CA</li>
                            <li>Phone: +201093515252</li>
                            <li>Email: Contact@Crown.com</li>
                        </ul>
                    </div>
                    <!-- .footer-widget-contact end -->
                </div>
                <!-- .col-lg-4 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-widget end -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="footer-copyright text--center mb-0">
                        <span> 2019 &copy;  <a href="#">Crown Template.</a> All rights reserved.</span>
                    </div>
                    <!-- .footer-copyright end -->
                </div>
                <!-- .col-lg-12 end -->
            </div>
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-bar end -->
</footer>
<!-- #footer5 end -->
</div>
<!-- #wrapper end -->

<!-- Footer Scripts
============================================= -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/functions.js"></script>
</body>
</html>