<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

<!-- Document Meta
============================================= -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--IE Compatibility Meta-->
<meta name="author" content="zytheme" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Multi-purpose Business html5 landing page">
<link href="assets/images/favicon/favicon.png" rel="icon">

<!-- Fonts
============================================= -->
<link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i%7CPoppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- Stylesheets
============================================= -->
<link href="assets/css/external.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/themes/theme-green.css" rel="stylesheet">

<!-- COLORS -->
<link rel="stylesheet" href="assets/css/themes/theme-default.css"/>
 <!--<link rel="stylesheet" href="assets/css/themes/theme-brown.css"/>-->
 <!--<link rel="stylesheet" href="assets/css/themes/theme-green.css"/>-->
 <!--<link rel="stylesheet" href="assets/css/themes/theme-orange.css"/>-->
 <!--<link rel="stylesheet" href="assets/css/themes/theme-red.css"/>-->
 <!--<link rel="stylesheet" href="assets/css/themes/theme-yellow.css"/>-->

<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
<script src="assets/js/html5shiv.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->

<!-- Document Title
============================================= -->
<title>Form | Crown HTML5 landing page</title>
</head>

<body class="body-scroll">
<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="wrapper clearfix">
<header id="navbar-spy" class="header header-transparent">
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container">
			<a class="navbar-brand" href="index.html">
			<img class="logo-light" src="assets/images/logo/logo-light.png" alt="Crown Logo">
		  </a>
		</div>
	</nav>
</header>

<!-- Contact #1
============================================= -->
<section id="contact1" class="section hero-25 contact contact-1 pt-0 pb-0 landing mt-0">
    <div class="pos-vertical-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-5 bg-overlay bg-overlay-dark bg-img" style="background-image: url(assets/images/contact/1.jpg);">
            </div>
            <!-- .col-lg-5 end -->
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-5 col-content">
                <div class="heading heading-1">
                    <p class="heading-subtitle color-theme">Get A Quote</p>
                    <h2 class="heading-title">Get a better results</h2>
                    <p class="heading-desc">crown impresses you with fully responsiveness and highly customization. We did it in combination of very clean impresses you.</p>
                </div>
                <form method="post" action="assets/php/contact.php" class="contactForm mb-0">
                    <div id="resultForm" class="contact-result"></div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" id="nameForm" placeholder="Your Name" required>
                    </div>
                    <!-- .form-group end -->
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="emailForm" placeholder="Email Address" required>
                    </div>
                    <!-- .form-group end -->
                    <div class="form-group">
                        <input type="text" class="form-control" name="phone" id="phoneForm" placeholder="Phone Number" required>
                    </div>
                    <!-- .form-group end -->
                    <div class="form-group">
                        <input type="submit" value="Get A Quote" name="submit" class="btn btn--primary btn--block">
                    </div>
                    <!-- .form-group end -->
                    <div class="agreement">* We don’t spam customers. Check our <a href="#">Privacy Policy</a></div>
                </form>
            </div>
            <!-- .col-lg-6 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
    </div>
    <!-- .container end -->
</section>
<!-- #contact1 end -->

<!-- Footer #4
============================================= -->
<footer id="footer4" class="footer footer-4">
    <!-- Widget Section
	============================================= -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="widget-logo">
                        <a href="#">
                           <img src="assets/images/logo/footer-logo-light-horizontal.png" alt="logo">
                        </a>
                    </div>
                    <!-- .footer-widget-social end -->
                    <div class="footer-copyright">
                        <span>2019 &copy; <a href="#">Crown Template.</a> All rights reserved.</span>
                    </div>
                    <!-- .footer-copyright end -->
                </div>
                <!-- .col-lg-6 end -->
                <div class="col-sm-12 col-md-6 col-lg-6 text-right text-center-xs">
                    <div class="widget-contact">
                        <p>call us now: +201093515252</p>
                    </div>
                    <!-- .footer-widget-contact end -->
                    <div class="widget-social">
                        <a href="#" class="facebook"><i class="crownicon fa fa-facebook"></i></a>
                        <a href="#" class="twitter"><i class="crownicon fa fa-twitter"></i></a>
                        <a href="#" class="linkedin"><i class="crownicon fa fa-linkedin"></i></a>
                        <a href="#" class="instagram"><i class="crownicon fa fa-instagram"></i></a>
                    </div>
                    <!-- .footer-widget-social end -->
                </div>
                <!-- .col-lg-6 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-widget end -->
</footer>
<!-- #footer4 end -->
</div>
<!-- #wrapper end -->

<!-- Footer Scripts
============================================= -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/functions.js"></script>
</body>
</html>