<!DOCTYPE html>
<html dir="ltr" lang="en-US">

  <head>

    <!-- Document Meta ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE Compatibility Meta-->
    <meta name="author" content="zytheme"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Multi-purpose Business html5 landing page">
    <link href="assets/images/favicon/favicon.png" rel="icon">

    <!-- Fonts ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i%7CPoppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Stylesheets ============================================= -->
    <link href="assets/css/external.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- COLORS -->
    <link rel="stylesheet" href="assets/css/themes/theme-default.css"/>
    <!--<link rel="stylesheet" href="assets/css/themes/theme-brown.css"/>-->
    <!--<link rel="stylesheet" href="assets/css/themes/theme-green.css"/>-->
    <!--<link rel="stylesheet" href="assets/css/themes/theme-orange.css"/>-->
    <!--<link rel="stylesheet" href="assets/css/themes/theme-red.css"/>-->
    <!--<link rel="stylesheet" href="assets/css/themes/theme-yellow.css"/>-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <script src="assets/js/respond.min.js"></script> <![endif]-->

    <!-- Document Title ============================================= -->
    <title>Agency | Crown HTML5 landing page</title>
  </head>

  <body class="body-scroll">
    <!-- Document Wrapper ============================================= -->
    <div id="wrapper" class="wrapper clearfix">
      <header id="navbar-spy" class="header header-transparent">
        <nav class="navbar navbar-expand-lg navbar-light navbar-bordered">
          <div class="container">
            <a class="navbar-brand" href="index.html">
              <img class="logo-light" src="assets/images/logo/logo-light.png" alt="Crown Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="toogle-inner"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
              <ul class="navbar-nav  ml-auto">
                <li class="active">
                  <a data-scroll="scrollTo" href="#feature19">About</a>
                </li>
                <li>
                  <a data-scroll="scrollTo" href="#portfolio2">services</a>
                </li>
                <li>
                  <a data-scroll="scrollTo" href="#clients2">Testimonials</a>
                </li>
              </ul>
              <div class="navbar-separator"></div>
              <div class="module-container">
                <div class="module module-social module-social-light">
                  <a href="#" class="facebook">
                    <i class="crownicon fa fa-facebook"></i>
                  </a>
                  <a href="#" class="twitter">
                    <i class="crownicon fa fa-twitter"></i>
                  </a>
                  <a href="#" class="google">
                    <i class="crownicon fa fa-google"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>
      
      <!-- hero #20 ============================================= -->
      <section id="hero20" class="section hero hero-20 text-center bg-overlay bg-overlay-dark bg-parallax bg-img" style="background-image: url(assets/images/background/51.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
              <div class="hero-content">
                <h1 class="hero-headline">Grow your
                  <br>
                  digital business</h1>
                <p class="hero-desc">crown is simply dummy text of the printing and typesetting industry. crown has been the industry's since the 1500s</p>
                <a class="scroll--down-btn" data-scroll="scrollTo" href="#feature18">
                  <i class="crownicon fa fa-angle-down"></i>
                </a>
              </div>
              <!-- .hero-content end -->
            </div>
            <!-- .col-lg-8 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #hero20 end -->
      <!-- Feature #18 =========================================== -->
      <section id="feature18" class="section feature feature-18 text-center">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
              <div class="heading heading-1 heading-center mb-70">
                <p class="heading-subtitle color-theme">Welcome to Crown Agency</p>
                <h2 class="heading-title">Grow up Your business</h2>
                <p class="heading-desc">crown impresses you with fully responsiveness and highly customization. We did it in combination of very clean impresses you.</p>
              </div>
            </div>
            <!-- .col-lg-8 end -->
          </div>
          <!-- .row end -->
          <div class="row">
            <!-- feature Panel #1 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
              <div class="feature-panel">
                <div class="feature-icon">
                  <i class="crownicon icon-pencil"></i>
                </div>
                <div class="feature-content">
                  <h3>No coding</h3>
                </div>
              </div>
              <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-2 end -->
            <!-- feature Panel #2 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
              <div class="feature-panel">
                <div class="feature-icon">
                  <i class="crownicon icon-browser"></i>
                </div>
                <div class="feature-content">
                  <h3>Page Builder</h3>
                </div>
              </div>
              <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-2 end -->
            <!-- feature Panel #3 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
              <div class="feature-panel">
                <div class="feature-icon">
                  <i class="crownicon icon-mobile"></i>
                </div>
                <div class="feature-content">
                  <h3>Responsive</h3>
                </div>
              </div>
              <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-2 end -->
            <!-- feature Panel #4 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
              <div class="feature-panel">
                <div class="feature-icon">
                  <i class="crownicon icon-layers"></i>
                </div>
                <div class="feature-content">
                  <h3>More Options</h3>
                </div>
              </div>
              <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-2 end -->
            <!-- feature Panel #5 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
              <div class="feature-panel">
                <div class="feature-icon">
                  <i class="crownicon icon-chat"></i>
                </div>
                <div class="feature-content">
                  <h3>Support</h3>
                </div>
              </div>
              <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-2 end -->
            <!-- feature Panel #6 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
              <div class="feature-panel">
                <div class="feature-icon">
                  <i class="crownicon icon-tools"></i>
                </div>
                <div class="feature-content">
                  <h3>Updated</h3>
                </div>
              </div>
              <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-2 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #feature18 end -->

      <!-- Feature #19 ============================================= -->
      <section id="feature19" class="section feature feature-19 pt-0 text-center">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <hr class="mb-100 mt-0">
            </div>
          </div>
          <div class="row">
            <!-- feature Panel #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
              <div class="feature-panel">
                <div class="feature-content">
                  <h3>Unlimited Features</h3>
                  <p>crown web page template is simply dummy text of the printing and typesetting industry has been since the 1500s</p>
                </div>
              </div>
              <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->
            <!-- feature Panel #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
              <div class="feature-panel">
                <div class="feature-content">
                  <h3>Creative Design</h3>
                  <p>crown web page template is simply dummy text of the printing and typesetting industry has been since the 1500s</p>
                </div>
              </div>
              <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->
            <!-- feature Panel #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4">
              <div class="feature-panel">
                <div class="feature-content">
                  <h3>Ultra Responsive</h3>
                  <p>crown web page template is simply dummy text of the printing and typesetting industry has been since the 1500s</p>
                </div>
              </div>
              <!-- .feature-panel end -->
            </div>
            <!-- .col-lg-4 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #feature19 end -->

      <!-- video #10 ============================================= -->
      <section id="video10" class="section video video-10 text-center bg-img" style="background-image: url(assets/images/background/19.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
              <h3 class="video--title">Customers love crown's robust and modern design</h3>
              <div class="video-content">
                <div class="video-button">
                  <a class="popup-video video-text" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                    <i class="fa fa-play"></i>
                    Watch Overview
                  </a>
                </div>
              </div>
              <!-- .video-content end -->
            </div>
            <!-- .col-lg-6 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #video10 end -->

      <!-- portfolio #2 ============================================= -->
      <section id="portfolio2" class="section portfolio portfolio-2">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
              <div class="heading heading-1 heading-center mb-80">
                <p class="heading-subtitle color-theme">our works</p>
                <h2 class="heading-title">Great projects</h2>
                <p class="heading-desc">crown impresses you with fully responsiveness and highly customization. We did it in combination of very clean and responsiveness.</p>
              </div>
            </div>
            <!-- .col-lg-8 end -->
          </div>
          <!-- .row end -->
          <div class="row">
            <!-- portfolio item #1 -->
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="portfolio-item">
                <div class="portfolio-img">
                  <a href="#">
                    <img src="assets/images/portfolio/2col/1.jpg" alt="img">
                  </a>
                </div>
                <!-- .portfolio-img end -->
                <div class="portfolio-content">
                  <div class="portfolio-title">
                    <h4>
                      <a href="#">T-Shirt Mockup</a>
                    </h4>
                  </div>
                  <div class="portfolio-desc">
                    <p>The future is here. Experience the next generation virtual reality on our latest Gear VR - NOW! with highly customization.</p>
                  </div>
                </div>
                <!-- .portfolio-content end -->
              </div>
            </div>
            <!-- .col-lg-6 end -->
            <!-- portfolio item #2 -->
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="portfolio-item">
                <div class="portfolio-img">
                  <a href="#">
                    <img src="assets/images/portfolio/2col/2.jpg" alt="img">
                  </a>
                </div>
                <!-- .portfolio-img end -->
                <div class="portfolio-content">
                  <div class="portfolio-title">
                    <h4>
                      <a href="#">Coffee Cup Mockup</a>
                    </h4>
                  </div>
                  <div class="portfolio-desc">
                    <p>crown impresses you with fully responsiveness and high quality. We did it in combination of very clean.</p>
                  </div>
                </div>
                <!-- .portfolio-content end -->
              </div>
            </div>
            <!-- .col-lg-6 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #portfolio2 end -->
      <!-- Pricing #5 ============================================= -->
      <section id="pricing5" class="section pricing pricing-5 bg-gray">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
              <div class="heading heading-1 heading-center mb-70">
                <p class="heading-subtitle color-theme">Pricing Table</p>
                <h2 class="heading-title">Awesome Price</h2>
                <p class="heading-desc">crown impresses you with fully responsiveness and highly customization. We did it in combination of very clean impresses you.</p>
              </div>
            </div>
            <!-- .col-lg-8 end -->
          </div>
          <!-- .row end -->
          <div class="row">
            <!-- Pricing table #1 -->
            <div class="col-sm-12 col-md-4 col-lg-4 price-table price-table-1">
              <div class="pricing-panel">
                <div class="pricing-heading">
                  <h4>Free Plan</h4>
                  <p>Free<span class="time">Per Month</span></p>
                </div>
                <!-- .pricing-heading end -->
                <div class="pricing--body">
                  <div class="pricing-desc">
                    <p>
                      crown is simply dummy text of the printing and typesetting industry has been since the 1500s by our company</p>
                  </div>
                  <!-- .pricing-desc end -->
                  <a class="btn btn--dark btn--bordered btn--rounded" href="#">Get Started</a>
                </div>
                <!-- .pricing-body end -->
              </div>
            </div>
            <!-- .pricing-table End -->
            <!-- Pricing table #2 -->
            <div class="col-sm-12 col-md-4 col-lg-4 price-table price-table-2">
              <div class="pricing-panel">
                <div class="pricing-heading">
                  <h4>Professional</h4>
                  <p>$10<span class="time">Per Month</span></p>
                  <div class="ribbon"></div>
                </div>
                <!-- .pricing-heading end -->
                <div class="pricing--body">
                  <div class="pricing-desc">
                    <p>
                      crown is simply dummy text of the printing and typesetting industry has been since the 1500s by our company</p>
                  </div>
                  <!-- .pricing-desc end -->
                  <a class="btn btn--primary btn--rounded" href="#">Get Started</a>
                </div>
                <!-- .pricing-body end -->
              </div>
            </div>
            <!-- .pricing-table End -->
            <!-- Pricing table #3 -->
            <div class="col-sm-12 col-md-4 col-lg-4 price-table price-table-3">
              <div class="pricing-panel">
                <div class="pricing-heading">
                  <h4>Team</h4>
                  <p>$19<span class="time">Per Month</span></p>
                </div>
                <!-- .pricing-heading end -->
                <div class="pricing--body">
                  <div class="pricing-desc">
                    <p>
                      crown is simply dummy text of the printing and typesetting industry has been since the 1500s by our company</p>
                  </div>
                  <!-- .pricing-desc end -->
                  <a class="btn btn--dark btn--bordered btn--rounded" href="#">Get Started</a>
                </div>
                <!-- .pricing-body end -->
              </div>
            </div>
            <!-- .pricing-table End -->

          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #pricing5 end -->

      <!-- CTA #7 ============================================= -->
      <section id="cta7" class="section cta cta-7 text-center pt-100 pb-100 bg-gray">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
              <div class="heading heading-1 heading-center mb-40">
                <p class="heading-subtitle color-theme">So What’s Next?</p>
                <h2 class="heading-title">Start Your business now!</h2>
                <p class="heading-desc">crown impresses you with fully responsiveness and highly customization. We did it in combination of very clean impresses you.</p>
              </div>
              <!-- .heading end -->
              <a href="#" class="btn btn--primary btn--rounded">Get A Quote</a>
            </div>
            <!-- .col-lg-8 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #cta7 end -->

      <!-- Clients #2 ============================================= -->
      <section id="clients2" class="section clients clients-2 bg-gray">
        <div class="container">
          <div class="row">
            <!-- Client #1 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
              <div class="client">
                <a href="#"><img src="assets/images/clients/7.png" alt="client"></a>
              </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Client #2 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
              <div class="client">
                <a href="#"><img src="assets/images/clients/8.png" alt="client"></a>
              </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Client #3 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
              <div class="client">
                <a href="#"><img src="assets/images/clients/9.png" alt="client"></a>
              </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Client #4 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
              <div class="client">
                <a href="#"><img src="assets/images/clients/10.png" alt="client"></a>
              </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Client #5 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
              <div class="client">
                <a href="#"><img src="assets/images/clients/11.png" alt="client"></a>
              </div>
            </div>
            <!-- .col-lg-2 end -->
            <!-- Client #6 -->
            <div class="col-6 col-sm-6 col-md-4 col-lg-2">
              <div class="client">
                <a href="#"><img src="assets/images/clients/12.png" alt="client"></a>
              </div>
            </div>
            <!-- .col-lg-2 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #clients2 end -->

      <!-- Footer #8 ============================================= -->
      <footer id="footer8" class="footer footer-8">
        <div class="footer-top">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                <div class="widget-title">
                  <h5>Our Address</h5>
                </div>
                <div class="widget-contact">
                  <ul class="list-unstyled mb-0">
                    <li>795 South Park, Wonderlan
                      <br>
                      CA 94107, Australia</li>
                  </ul>
                </div>
                <!-- .footer-widget-contact end -->
              </div>
              <!-- .col-lg-4 end -->
              <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                <div class="widget-title">
                  <h5>our phones</h5>
                </div>
                <div class="widget-contact">
                  <ul class="list-unstyled mb-0">
                    <li>+201093515252 - Office</li>
                    <li>+201093515252 - Fax</li>
                  </ul>
                </div>
                <!-- .footer-widget-contact end -->
              </div>
              <!-- .col-lg-4 end -->
              <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                <div class="widget-title">
                  <h5>email contact</h5>
                </div>
                <div class="widget-contact mb-0">
                  <ul class="list-unstyled mb-0">
                    <li>info@zytheme.com</li>
                    <li>zytheme@Envato.com</li>
                  </ul>
                </div>
                <!-- .footer-widget-contact end -->
              </div>
              <!-- .col-lg-4 end -->
            </div>
            <!-- .row end -->
          </div>
          <!-- .container end -->
        </div>
        <!-- .footer-widget end -->
        <div class="footer-bottom text-center-xs">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="footer-copyright">
                  <span>2019 &copy;
                    <a href="#">Crown Template.</a>
                    All rights reserved.</span>
                </div>
                <!-- .footer-copyright end -->
              </div>
              <!-- .col-lg-6 end -->
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="widget-social text-right text-center-xs mb-0">
                  <a href="#" class="linkedin">
                    <i class="crownicon fa fa-linkedin"></i>
                  </a>
                  <a href="#" class="twitter">
                    <i class="crownicon fa fa-twitter"></i>
                  </a>
                  <a href="#" class="facebook">
                    <i class="crownicon fa fa-facebook"></i>
                  </a>
                  <a href="#" class="instagram">
                    <i class="crownicon fa fa-instagram"></i>
                  </a>
                </div>
                <!-- .footer-widget-social end -->
              </div>
              <!-- .col-lg-6 end -->
            </div>
          </div>
          <!-- .container end -->
        </div>
        <!-- .footer-bar end -->
      </footer>
      <!-- #footer8 end -->
    </div>
    <!-- #wrapper end -->

    <!-- Footer Scripts ============================================= -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/functions.js"></script>
  </body>

</html>