.course--price {
    background-color: $color-theme;
}

.screenshoot-4 {
    .instagram--icon {
        color: $color-theme;

        a {
            color: $color-theme;
        }

    }
}


.count-box .counting-icon {
    color: $color-theme;
}

.counter-1 .count-box a.btn:hover {
    background-color: $color-theme;
}