.heading-icon {
    color: $color-theme;
}

.heading-18 .heading-title {
    color: $color-theme
}

.heading .heading-divider2:before {
    background-color: $color-theme;
}


.heading .heading-divider3:before {
    background-color: $color-theme;
}

.heading .heading-divider3:after {

    background-color: $color-theme;
}


.heading .heading-divider4:before {
    background-color: $color-theme;
}