/*------------------------------------*\
    #COLORS
\*------------------------------------*/

.color-heading {
    color: $color-heading !important
}

.color-theme {
    color: $color-theme !important
}

.color-secondary {
    color: $color-secondary !important
}

.color-white {
    color: $color-white !important
}

.color-gray {
    color: $color-gray !important
}
hr{
    border-color: #ececec;
}
hr.hr-dark{
    border-color: #2a2a2a;
}