/*------------------------------------*\
    #MODALS
\*------------------------------------*/
.modal-backdrop {
    background-color: rgba(34, 34, 34, 0.95);

    &.show {
        opacity: 1;
    }
}

.modal-open .modal::-webkit-scrollbar {
    display: none;
}

.modal-open {
    padding-right: 0 !important;

    #wrapperParallax {
        &:before {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1040;
            background-color: rgba(34, 34, 34, 0.95);
            content: "";
        }
    }
}