@media only screen and (max-width: 991px) {
    .dropdown-menu {
        left: auto;
        right: 0;
    }
}

@media only screen and (min-width : 992px) {
    .dropdown-toggle::after {
        display: none;
    }

    .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }

    /* Menu with Dropdown */
    .navbar-nav>li.has-dropdown>ul.dropdown-menu,
    .navbar-nav>li.has-dropdown>ul.mega-menu,
    li.dropdown-submenu>ul.mega-menu {
        background-color: $color-heading;
        @include transition(all 0.4s ease);
        @include prefix(transform, scaleY(0), moz webkit);
        @include prefix(transform-origin, 0 0 0, moz webkit);
        opacity: 0;
        position: absolute;
        left: 0;
        right: auto;
        @include rounded(0);
        display: block;
    }

    .navbar-nav>li.has-dropdown>ul.dropdown-menu {
        width: 210px;
        min-width: 210px;
        padding: 13px 0;
        background-color: $color-heading;
    }

    .navbar-nav>li.has-dropdown>ul.mega-menu,
    li.dropdown-submenu>ul.mega-menu {
        width: 385px !important;
    }

    li.dropdown-submenu:hover>ul.mega-menu,
    li.has-dropdown:hover>ul.dropdown-menu,
    li.has-dropdown:hover>ul.mega-menu {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -o-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
        z-index: 100;
        display: block;
    }

    ul.dropdown-menu>li,
    ul.mega-menu>li {
        padding-right: 0;
        height: 30px;
        line-height: 30px;
        position: relative;
        vertical-align: top;
    }

    ul.mega-menu>li {
        border-right: 1px solid #eaeaea;
    }

    ul.mega-menu>li:last-child {
        border-right: none;
    }

    ul.mega-menu>li {
        width: 190px !important;
        height: auto;
        overflow: hidden;
        display: inline-block;
    }

    ul.mega-menu>li>ul {
        width: 190px;
        list-style: none;
        background-color: $color-dark;
        padding-left: 0;
        position: relative !important;
        left: auto !important;
    }

    ul.dropdown-menu li a,
    ul.mega-menu li ul li a {
        font-family: $font-heading;
        line-height: 30px;
        color: $color-white;
        padding: 0 15px;
        display: block;
        font-size: 11px;
        font-weight: 400;
        @include transition(all 300ms linear);
        text-transform: capitalize;
    }

    ul.mega-menu li ul li span {
        color: $color-theme;
        padding: 0;
        display: block;
        font-size: 13px;
        line-height: 39px;
        text-transform: uppercase;
        font-weight: 700;
    }

    ul.dropdown-menu li:last-child>a {
        border-bottom: none;
    }

    ul.dropdown-menu li>a:active,
    ul.dropdown-menu li>a:focus,
    ul.dropdown-menu li>a:hover,
    ul.mega-menu li a:active,
    ul.mega-menu li a:focus,
    ul.mega-menu li a:hover {
        background-color: #242424;
        color: $color-body;
    }

    ul.dropdown-menu.left {
        left: -185px !important;
        margin-left: 0 !important;
    }

    ul.mega-menu.left {
        left: -410px !important;
    }

    /* Menu Level #2 */
    li.dropdown-submenu>ul.mega-menu,
    li.has-dropdown>ul.dropdown-menu>li.dropdown-submenu>ul.dropdown-menu {
        background-color: rgba(27, 26, 26, 0.97);
        padding: 25px 0;
        @include transition(all 0.4s);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -o-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0 0 0;
        -ms-transform-origin: 0 0 0;
        -o-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        opacity: 0;
        display: block;
        position: absolute;
        left: 100%;
        right: auto;
        top: 0;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        margin: -1px 0 0;
        z-index: 1001;
    }

    li.has-dropdown>ul.dropdown-menu>li.dropdown-submenu:hover>ul.dropdown-menu {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
        z-index: 1001;
        margin-top: -1px;
        margin-left: 0;
        padding: 13px 0;
        -moz-box-shadow: 0 2px 3px rgba(40, 40, 40, 0.1);
        -webkit-box-shadow: 0 2px 3px rgba(40, 40, 40, 0.1);
        box-shadow: 0 2px 3px rgba(40, 40, 40, 0.1);
    }

    li.dropdown-submenu.pull-left>ul.dropdown-menu {
        left: auto;
        right: 0;
        margin-right: 0;
    }

    /* Menu Level #3 */
    li.dropdown-submenu>ul.dropdown-menu>li.has-dropdown>ul.dropdown-menu {
        background-color: $color-dark;
        float: none;
        position: absolute;
        border-radius: 0;
        left: 100%;
        right: auto;
        top: 0;
        margin: -1px 0 0;
        z-index: 1;
        border: 1px solid #eaeaea;
        padding: 13px 0;
    }

    li.dropdown-submenu>ul.dropdown-menu>li.has-dropdown>ul.dropdown-menu.left {
        left: -185px !important;
    }

    /* Mega Menu Content */
    .mega-dropdown {
        position: static !important;
    }

    .mega-dropdown-menu {
        padding: 20px 0 !important;
        width: 100% !important;
        background-color: transparent !important;
        border: none !important;
        margin-top: -19px;
    }

    .mega-dropdown-menu .container {
        background-color: transparent;
    }

    .mega-dropdown-menu .container .row {
        padding-right: 0;
        padding-left: 0;
        background: $color-heading;
        @include rounded(0);
        margin-right: 0;
        margin-left: 0;
    }

    .mega-dropdown-menu .container .row div[class*='col-'] {
        padding: 40px 0;

        ul {
            border-right: 1px solid rgba(236, 236, 236, .07);
        }

        &:last-of-type {
            ul {
                border-right: none;
            }
        }
    }

    .mega-dropdown-menu li ul {
        padding: 0;
        margin: 0;

    }

    .mega-dropdown-menu li ul li {
        list-style: none;
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
    }

    .mega-dropdown-menu .container div[class*='col-']>a {
        border-bottom: none;
        padding-left: 0;
        font-size: 14px;
    }

    .mega-dropdown-menu .container a[href='#'] {
        color: $color-theme;
        cursor: default;
        font-weight: 600;
    }

    .navbar-nav>li.has-dropdown>ul.dropdown-menu.mega-dropdown-menu {
        box-shadow: none;
    }

    .navbar-nav>li.has-dropdown>ul.dropdown-menu.mega-dropdown-menu>li {
        height: auto;
    }

}