/*------------------------------------*\
    #Timeline
\*------------------------------------*/

.timeline .btn {
    width: 153px;
    height: 30px;
    line-height: 28px;
    font-size: 11px;
    letter-spacing: 0;
}


.timeline-content {
    list-style: none;
    position: relative;
    padding: 35px 0 50px;
    margin-bottom: 35px;
}

.timeline-content:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: $color-theme;
    left: 50%;
    margin-left: -1.5px;
}

.timeline-content:after {
    bottom: -15px;
    position: absolute;
    content: " ";
    border: 8px solid transparent;
    border-top-color: $color-theme;
    left: 50%;
    border-top-width: 12px;
    margin-left: -8px;
}

.timeline-content .row {
    margin-bottom: 45px;
    position: relative;
    text-align: right;
}

.timeline-content .row:last-of-type {
    margin-bottom: 0;
}

.timeline-content {
    text-align: left;
}

.timeline-content .row .col-md-6 {
    position: relative;
}

.timeline-content .timeline-panel-right {
    text-align: left;
    padding-left: 15px;
}

.timeline-content .timeline-panel-left {
    text-align: right;
    padding-right: 15px;
}

.timeline-content .timeline-panel:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: $color-white;
    border: 3px solid $color-theme;
    border-radius: 50%;
    margin-right: -7.5px;
}

.timeline-content .timeline-panel-right:before {
    right: auto;
    left: 0;
    margin-left: -7.5px;
}

.timeline-content .event {
    color: $color-heading;
    font-family: $font-heading;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 9px;
}

.timeline-content .event--speaker {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
}

.timeline-content .date {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1;

}

/* timeline #2 */

.timeline-2 .timeline-content .timeline-panel:before {
    top: 50%;
    margin-top: -15px;
}

.timeline-2 .timeline-content {
    padding-right: 45px;
    padding-left: 45px;
}

.timeline-2 .timeline-content .event--speaker,
.timeline-2 .timeline-content .date {
    display: inline-block;
}

.timeline-2 .timeline-content .event {
    margin-top: 55px;
}

.timeline-2 .timeline-content .date {
    margin-right: 15px;
}

.timeline-2 .event--desc {
    background-color: $color-gray;
    padding: 30px;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    position: relative;
    border-radius: 3px;
}

.timeline-2 .event--desc:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    border: 10px solid transparent;
    margin-top: -10px;
    border-right-color: $color-gray;
}

.timeline-2 .timeline-panel-left .event--desc:before {
    right: -20px;
    left: auto;
    border-left-color: $color-gray;
    border-right-color: transparent;
}

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) and (max-width: 767px) {

    .timeline-content:before {
        left: 10px;
        margin-left: 0;
    }

    .timeline-content:after {
        left: 0;
        margin-left: 3px;
    }

    .timeline-content .timeline-panel-left,
    .timeline-content .timeline-panel-right {
        text-align: left;
        padding-left: 30px;
        margin-bottom: 10px;
    }

    .timeline-content .row .col-md-6 {
        position: static;
    }

    .timeline-content .row {
        text-align: left;
        margin-bottom: 25px;
    }

    .timeline-content .timeline-panel-left:before {
        display: none;
    }

    .timeline-content .timeline-panel-right:before {
        right: auto;
        left: 14px;
        margin-left: 0;
    }

    .timeline-2 .timeline-content {
        padding: 30px 0;
    }

    .timeline-2 .event--desc {
        text-align: left;
    }

    .timeline-2 .timeline-content .event {
        margin-top: 0;
    }

    .timeline-2 .timeline-content .timeline-panel:before {
        top: 0;
        margin-top: 0;
    }
    .timeline-2 .event--desc:before{
        display: none;
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {}
