.border-all {
    border-color: $color-theme;
}

.border-top {
    border-top-color: $color-theme;
}

.border-bottom {
    border-bottom-color: $color-theme;
}

.border-right {
    border-right-color: $color-theme;
}

.border-left {
    border-left-color: $color-theme;
}